[2014-05-07 14:29] graphiclunarkid opened #2 "Copy for results email"
When a user submits a URL for checking they can opt to provide an email address to which results will be returned. We need a template for this email.

[2014-05-12 10:28] RuthC commented on #2
If this isn't where ideas go for this, please can someone reply & let me know!
I've written a basic idea of what kind of content I think should go in such an email.

Question: Who should this email come from?
Best practice for ORG is always to name a person an email is from. They get better open rates and feel more 'real' that way.

Dear X

Thank you for using the blocked.org.uk Censorship Monitor

[2014-05-12 12:58] graphiclunarkid commented on #2
This is a great place to discuss ideas for this - thanks!

I really like the template you've provided. It takes the opportunity to explain what the site does (and therefore what the results do and don't mean). It also doesn't miss the opportunity to ask for donations :-)

Excellent point about the person from whom the email should appear to come. I don't have an answer but I can start a discussion

[2014-05-12 13:05] RuthC commented on #2
The other person you missed off that list is of course yourself. :)
Richard King, Project Co-ordinator (?)

I guess we also want to think about who is going to manage the blog and the reports.
That may well be Pam or Javier?

Personally, I don't think the ED is the right person for the email to be from. It's unlikely to be in his tone and I feel should come from someone who would be responsible fo

[2014-05-12 19:21] graphiclunarkid opened #3 "OS hardening for API / DB server"
We need to review and improve security on the dev-censor-1 server in at least the following areas:
- Firewall configuration
- MySQL
- Apache
- PHP
- Modx
- SSH
- Shut down and disable unused services

[2014-05-15 12:46] graphiclunarkid opened #4 "API / DB server hardening (security)"
We need to review and improve security on the dev-censor-1 server in at least the following areas:
- Firewall configuration
- MySQL
- Apache
- PHP
- Modx
- SSH
- Shut down and disable unused services

[2014-05-15 12:56] graphiclunarkid opened #5 "Install new TLS certificates for dev-censor-1"
OpenSSL on dev-censor-1 has been upgraded to a version patched against Heartbleed. I believe Lee has a new SSL cert ready to go. It just needs to be installed.

[2014-05-15 14:16] graphiclunarkid commented on #4
Duplicate of #3

[2014-05-15 14:16] #4 closed, assigned to nobody

[2014-05-15 15:56] dantheta commented on #3
Are you happy for participants with sudo access to make changes, or should we run suggestions by You or Lee first?

[2014-05-15 21:13] graphiclunarkid commented on #3
I think it's fine if you just go ahead and change things but we should try to document the configuration somehow.

Ansible? Text file in /root?

[2014-05-16 16:57] graphiclunarkid commented on #5
I received the following from Lee this afternoon:

[code]

AFAIK api.bowlderize.co.uk is only used by https://github.com/openrightsgroup/Android-Probe. The Android probe isn't working at the moment because we've made breaking changes to the API. Since that probe needs some work to upgrade it to API v1.2 anyway, we could at the same time make it talk to api.blocked.org.uk rather than api.bowlderise

[2014-05-16 17:44] EvelynSubarrow commented on #5
I vote for its swift death.

2014-05-16 17:57 GMT+01:00 Richard King notifications@github.com:

##

_kuta li wudema pinume!_

_Information wants to be free!_

_@korikisulda https://github.com/korikisulda/
https://github.com/korikisulda/_

_時は私達の敵です_

[2014-05-16 20:24] dantheta commented on #5
The pyprobe also uses it, but is easily amended.  The 1.1 api should still work, but it has had no requests in quite a while. I think it should be safe to retire the certificate.  I'm happy to move the files into place, I know redhat/centos very well.

[2014-05-18 00:10] dantheta commented on #5
I've checked the PHP example client, and it appears that the inbuilt https protocol handler that PHP uses does not perform certificate validation.  This is probably something we'll want to fix, but it does also mean that we're free to change the certificate without it breaking the PHP code in the frontend.

I'll switch over the certs on Sunday and test.

[2014-05-18 15:45] dantheta commented on #5
The new certs are live now.  Permissions are good.

The existing api connection on stage.blocked.org.uk is still good, since there's no certificate verification going on there.

[2014-05-18 15:45] #5 closed, assigned to nobody

[2014-05-23 14:41] JimKillock opened #6 "Allow sign up for email reports"
users should be able to sign up for an email report every week / month that gives them a report on their website's status. The reports should be preferably double-opt in and of course cancellable.

[2014-05-23 14:50] JimKillock opened #7 "Add Bytemark and AAISP info"

[2014-05-23 14:51] JimKillock opened #8 "Add"

[2014-05-23 15:03] graphiclunarkid commented on #7
Please can you fling me contact details for someone at Bytemark who can give us logos and text for this? I'm already in contact with AAISP so I can enquire there myself.

Do we want this on a separate "sponsors" page? In the site header or footer? Somewhere else?

[2014-05-23 15:03] #8 closed, assigned to nobody

[2014-05-23 15:07] graphiclunarkid commented on #6
AIUI from @JimKillock this feature is as follows:

<blockquote>"Can we capture requests for regular updates about a site? I think a lot of visitors will sign up for reports, so if we can do this robustly (considering security of personal data) it will gain us a lot of benefit. Also, I guess reports should be double opt-in if possible."</blockquote>

Not sure what we mean by "double opt-in" - how w

[2014-05-23 15:14] graphiclunarkid opened #9 "DPA compliance / personal data security"
Once we are live we will be collecting personal information (email addresses) from members of the public. At the moment, this will be stored in the database on dev-censor-1, to which volunteers have access. As volunteers are not staff members this arrangement may contravene data-protection regulations. Even if it doesn't, as we are an organisation that campaigns for strong privacy and data-protect

[2014-05-23 15:25] JimKillock commented on #6
On 23 May 2014, at 16:07, Richard King notifications@github.com wrote:

I mean “email verification” of requests for reports

[2014-05-23 15:39] NetworksAreMadeOfString commented on #9
My suggestion;
- Don't give shell on the live box to non-staff
- Give each user (who needs it) fine grained MySQL permissions from the dev box IP so they can use mysql-client on the dev box to access all tables / rows except the sensitive ones on live.

Optional:
- Ship error logs to kibana / syslog on the dev box

[2014-05-24 21:45] dantheta commented on #3
Firewall tightened, MySQL user config updated.  Notes in /root/mysql.txt.  Denyhosts previously installed.

[2014-05-25 00:53] ei8fdb commented on #6
A good Mailchimp explanation of double opt-in:

http://kb.mailchimp.com/article/how-does-confirmed-optin-or-double-optin-work

On 23 May 2014, at 16:25, JimKillock notifications@github.com wrote:

[2014-05-26 19:46] JimKillock commented on #7
Done!

[2014-05-26 19:57] graphiclunarkid commented on #7
Thanks. I propose we add the sponsor information to the page footer so that it appears regardless of the page on which visitors land. Does that sound like a good idea? If so we can do this as part of openrightsgroup/blocked-org-uk#21

[2014-05-28 09:33] JimKillock opened #10 "Better call to donate at results page"
When people receive the results they want, they should be reminded to support the project by donating or joining.

[2014-05-28 09:35] JimKillock opened #11 "Data licence"
The data needs a licence. We're happy with permissive but it should definitely have a strong attribution element. Note: we think we should avoid making the service "commercial" as such as we are a public interest organisation and we are providing the data in the public interest.

[2014-05-28 09:36] JimKillock opened #12 "static results pages"
(Not for initial release) It strikes me it would be helpful to produce URLs for results pages in the form https://result.blocked.org.uk/example.org

[2014-05-28 09:45] JimKillock opened #13 "Show OpenDNS categorisation within results"
Showing the OpenDNS categorisation may help indicate why a result has been blocked at a provider.

[2014-05-28 12:46] graphiclunarkid commented on #9
A member of ORG's board has volunteered to conduct a privacy impact assessment. Until we know the results of this I suggest we plan to lock down access before we go live, along the lines of  @NetworksAreMadeOfString's comment.

[2014-05-28 13:24] graphiclunarkid opened #14 "Thank you / credits page"
A page on which we thank all the wonderful people who have contributed to v2.0. We can also thank our sponsors in a bit more detail on this page. Lastly we should include attributions and licenses for any images, software, and content we've reused.

[2014-05-28 15:49] graphiclunarkid commented on #2
I'm happy to be the person by whom the messages are signed. Perhaps it can be "on behalf of the @openrightsgroup/cmp team" though? I'm fine with taking responsibility for the project as long as I don't appear to be taking all the credit!

It might be useful to use a separate inbox (e.g. blocked at org dot org) rather than my own account. Then if there are many messages others can help out with the

[2014-05-28 15:56] RuthC commented on #2
I agree with all of that. I like the team sign off.

[2014-05-28 16:03] graphiclunarkid commented on #2
I have asked Lee to set up blocked at org dot org as an account on ORG's mailserver.

[2014-05-28 18:50] graphiclunarkid opened #15 "Software licenses"
Each repository needs to have a LICENSE file. These should be Free Software licenses allowing reuse with attribution. It would be great if we could get everyone to agree on a single license across all repositories so that people don't have to navigate a licensing minefield if they want to reuse more than one component.

My suggestion would be GPLv3.

[2014-05-28 19:07] webal commented on #15
I'm fine with that

[2014-05-28 23:03] dantheta commented on #3
I've added some ansible config, but it needs testing.

[2014-05-29 09:11] JimKillock opened #16 "Session cookie domain being set incorrectly by MODX"
The new blocked.org.uk context setting session_cookie_domain does not seem to be overriding the system setting (of .openrightsgroup.org )

curl -v https://new.blocked.org.uk > /dev/null shows the incorrect cookie being sent.

[2014-05-29 09:12] JimKillock commented on #16
@gwire notes: session_cookie_domain is not working for this sub site. Please continue to investigate, and raise a bug with ModX developers.
Varnish workaround is to intercept pages coming from the backend, checking for the cookie domain is ".openrightgroup.org" and rewriting it to ".blocked.org.uk". This is a short term monkey-patch - not a real fix.
While this issue is being looked at, uou'll be

[2014-05-29 09:18] JimKillock commented on #16
I've tested this on my own install, and the settings work ok. Next steps might be to try on stage.blocked.org.uk (add a domain stage2.blocked.org.uk perhaps) or on ORG staging to see if we can replicate the error.

[2014-05-29 09:23] JimKillock commented on #16
OK, we have an answer from the MODX devs:

http://forums.modx.com/thread/91099/session-cookie-setting-not-doing-anything#dis-post-498884

"The problem is that gateway manager is a plugin and has to switch to a context, but the session is always loaded by the default context loaded in the index.php (web). In order to use a different session for your subdomain, you would need to modify the index.php

[2014-05-29 10:55] JimKillock commented on #16
@mkillock Can I hand this to you?

[2014-05-29 11:00] mkillock commented on #16
umm, bit mystified by what Mr Coward means tbh. Presumably you can't remove Gateway Manager because you wont be able to host multiple domains on the same MODx instance?

http://rtfm.modx.com/extras/revo/gatewaymanager

[2014-05-29 11:03] JimKillock commented on #16
So we were using individual site handlers, rather than GatewayManager. But both those, and GatewayManager reply on a system event, that takes place after index.php runs, so yes it does seem a little less clear than I thought.

[2014-05-29 11:05] mkillock commented on #16
My best guess at what he means by editing index.php is to look at the requested domain and set the context in index.php before GatewayManager is called - is that your understanding?

[2014-05-29 11:07] mkillock commented on #16
presumably cookies are set for various domains in ORG's MODx instance? If so then we need to perhaps have some code to match requested domain to session context

[2014-05-29 11:18] mkillock commented on #16
OK, in index.php, there is this section:

/\* Initialize the default 'web' context */
$modx->initialize('web');

So perhaps replace it with something like (untested)

$requestdomain = strtolower ($_SERVER['SERVER_NAME']);
//switch context for blocked.org.uk to make cookies work properly
if ($requestdomain == 'new.blocked.org.uk') {
  $modx->initialize('new.blocked.org.uk');
  }
else {
  //use defa

[2014-05-29 11:20] mkillock commented on #16
we'd need to test this on staging first

[2014-05-29 11:20] JimKillock commented on #16
Yes, I think this is right. And definitely needs testing first!

[2014-05-29 11:21] JimKillock commented on #16
Maybe also worth replying on that thread to Opengeek?

[2014-05-29 11:38] mkillock commented on #16
ok have done

[2014-05-29 14:18] graphiclunarkid commented on #10
Could we use one of @webal's CTA side-bar elements for this ( openrightsgroup/blocked-org-uk#48 )?

[2014-05-29 14:19] JimKillock commented on #10
I expect that would work!

[2014-05-29 14:20] webal commented on #10
I'll add one on

[2014-05-29 14:33] graphiclunarkid commented on #3
If you can provide some brief instructions I'm happy to test. Do we need to stand up a VM in which to do this? I'm a bit constrained by data-transfer limits here but I can arrange to visit a friendly neighbourhood cafe-avec-wifi if a big download will be involved...

[2014-05-30 12:13] graphiclunarkid opened #17 "Discard email address after notifying results unless permission given to remain in contact"
To reduce the risk of privacy breaches we should discard email addresses submitted by visitors for the purpose of receiving results unless they opt into further contact from ORG (e.g. regular reports for the URL they submitted; join ORG's mailing list; personal story follow-up from staff)

[2014-05-30 16:25] JimKillock commented on #13
Should we dedicate a probe to OpenDNS?

[2014-05-30 16:27] JimKillock commented on #12
See also request openrightsgroup/blocked-org-uk#7

[2014-05-30 18:16] dantheta commented on #13
I was thinking that we could categorise urls on the server at submission time using opendns. It would be pretty easy to run orgprobe against opendns too for actual blocking results, although we can infer that from the category.

[2014-05-30 18:18] dantheta commented on #15
I think the middleware started out as gplv2, but I'm happy with that if everyone else is.

[2014-05-30 22:51] dantheta commented on #3
That's cool - all it really needs is a clean CentOS 6 VM to test.  I'm about to do that here, so don't worry too much about eating all of the local bandwidth.  I'll post the result (and the ansible recipes to the config repo) and possibly close the ticket when it's working.

[2014-05-30 22:51] dantheta commented on #3
I was thinking that we could do with some monitoring for the server as well, before/during live day.  I'm a fairly dab hand with Nagios, if that's any help.

[2014-05-31 08:51] graphiclunarkid commented on #15
We could use GPLv2 if there were some merit to using that version. It allows "either version 2 of the License, or (at your option) any later version."

Wondering what @NetworksAreMadeOfString, @anadahz, @korikisulda, @mkillock and @liamja think?

[2014-05-31 08:59] graphiclunarkid commented on #3
Monitoring would be a great idea. The only problem I foresee is that we don't have anywhere to host it that isn't also serving production code (and is therefore something we want to monitor) :neutral_face:  I don't know whether @gwire has nagios set up on another server already that we can use?

[2014-05-31 09:26] graphiclunarkid commented on #9
Have also now consulted ORG-law. We should compile a list of all the data we're collecting so that we can properly assess what impact its disclosure might have (openrightsgroup/Blocking-Middleware#39).

We should also make sure we're only recording data we actually need, we're not transferring it anywhere we shouldn't be, and we dispose of it once we've finished with it (e.g. #17).

[2014-05-31 09:32] graphiclunarkid commented on #9
**Data collected from the probes / API perspective**

(@dantheta and @NetworksAreMadeOfString, please correct me if I'm wrong)
- Probe users are uniquely identified and must [register their email address](https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_API#POST_.2Fregister.2Fuser) before they can register any probes. There is no email address verification at present so users ca

[2014-05-31 09:41] graphiclunarkid commented on #9
**Data collected from the blocked.org.uk perspective**

I've discussed analytics with @gwire and @jimkillock. We're using a local installation of [Piwik](http://piwik.org/). We respect Do Not Track and we only store the first three octets of IPv4 addresses.

The current (v1) blocked.org.uk includes the full IP address of the submitter in its emails. @mkillock, has this been carried forwards to the

[2014-05-31 09:46] graphiclunarkid commented on #9
There are various calls to action (openrightsgroup/blocked-org-uk#48) across the site that exhort people to join ORG, subscribe to email lists, email their MPs, etc. Volunteers will not have access to the data stored by these forms since they will use the existing mechanisms built for openrightsgroup.org.

[2014-05-31 09:54] graphiclunarkid opened #18 "Verify email addresses"
I think we need a generic system for verifying email addresses. We are already planning a couple of features that could make use of one:
- [Registering a probe user](https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_API#POST_.2Fregister.2Fuser)
- Signing up for email reports ( #6 )

If we want to allow probe users to be anonymous we should build this feature explicitly rather tha

[2014-05-31 10:23] graphiclunarkid opened #19 "EPIC: Data management pages for probe users"
As a probe user I want to manage the data held on me by the blocked.org.uk project so that I can keep it up to date or delete it.

This issue needs breaking down into finer-grained stories for implementation.

Here's a rough outline of the features we might want to build for this:
- [ ] Login page for probe users (email address and password were required on registration).
  - [ ] Log out button

[2014-05-31 10:47] dantheta commented on #3
If it helps, I have nagios running on a VPS monitoring my server estate. I'm happy to temporarily add the A&A VMs and the blocked.org.uk api server and queues for live day.

[2014-05-31 10:50] mkillock commented on #9
It currently stores full IPs in the formsave DB, but this seems to be a feature of formsave, rather than anything we've added.

Yes, as above.

[2014-05-31 10:59] graphiclunarkid commented on #3
Might be a good idea if you have time and don't mind. Feel free to add my org.org email address to the list receiving alerts. We should still aim to move it over to whatever ORG uses for monitoring ASAP though (there might be something monitoring the existing blocked.org.uk site, but if there is, it will probably need checking and updating at least).

[2014-05-31 11:51] graphiclunarkid commented on #9
Thanks @mkillock. I've raised openrightsgroup/FormSave#1 in case we want to have a go at pseudonymising the IP addresses saved by FormSave.

[2014-05-31 14:12] graphiclunarkid opened #20 "Direct navigation to thankyou.html displays content-less results page"
Reproduction steps:
1. Type "http://stage.blocked.org.uk/thankyou.html" directly into the address bar and hit <enter>

Expected: Site redirects to http://stage.blocked.org.uk/

Actual: Site displays the thankyou page for the URL "http://"

[2014-05-31 17:10] NetworksAreMadeOfString commented on #15
The original commit of the middleware is/was GPL 2 or 3.

I expect some of the 1.1 files might have comment headers to that effect.
On 31 May 2014 09:51, "Richard King" notifications@github.com wrote:

[2014-05-31 22:16] dantheta commented on #3
Nagios is monitoring the API server, the queues and the A&A VMs.  A complete ansible playbook for the API server has been checked in to the config VM.  I think we can call this one closed.

[2014-05-31 22:16] #3 closed, assigned to nobody

[2014-06-02 07:52] graphiclunarkid commented on #7
Bytemark info here: http://www.bytemark.co.uk/company/spread_the_word

[2014-06-03 07:55] JimKillock opened #21 "Migrate version of form to version 1"
It would make sense for the current blocked.org.uk form to be replaced by the new version so that we de-spam the submissions, and enter the submissions directly into the database (while not displaying the results for now).

[2014-06-03 08:31] mkillock commented on #21
The easiest way to do this for now would be to keep the current form layout and change the submission process - is that OK? Also note that this will change what is saved into FormSave, so is that going to be a problem? i.e. we'll have all these formats:
- the current blocked.org.uk formsave format
- the replacement blocked.org.uk formsave format (with 'name' field, hashes for url/email)
- the new.

[2014-06-03 13:20] JimKillock commented on #21
Ok, I'm not sure what different with new. and stage. but for now I've put the new. form onto www.

TBH most of the form save stuff is not AIUI important, what's important is getting the data into the back end.

Where FormSave is helpful is with the user stories.

[2014-06-03 13:36] JimKillock opened #22 "Email call to pre-register sites for checking"
We could ask people to submit sites for the checking queue, so they're in the database prior to launch. This would act as a teaser for the launch to build interest for when it happens.

[2014-06-03 16:14] graphiclunarkid commented on #22
Also available by Twitter thanks to @NetworksAreMadeOfString: OrgBlockBot

[2014-06-03 16:16] #21 closed, assigned to JimKillock

[2014-06-03 16:22] JimKillock opened #23 "Add form field to opt into future blocked reports"
Add field such as "Please email me regular blocking reports" If possible create email verification method.

[2014-06-03 16:25] JimKillock commented on #22
OK, so technically people can do this already?!

[2014-06-03 16:25] JimKillock commented on #22
I guess, of course they can …

[2014-06-03 16:29] graphiclunarkid commented on #23
Is this a duplicate of #6 or something different? Email verification method is #18.

[2014-06-03 16:43] graphiclunarkid commented on #22
_TL;DR: I think keeping this to Twitter rather than email might be a good idea._

Right now I think URLs can be submitted to the queue via any of these methods:
- https://twitter.com/orgblockbot
- Anyone running https://github.com/openrightsgroup/Android-Probe
- http://stage.blocked.org.uk/
- http://new.blocked.org.uk
- https://www.blocked.org.uk/

To which of these are we going to direct people i

[2014-06-03 16:43] JimKillock commented on #23
It's to collect the data for reports prior to the feature being available, if that makes sense?

[2014-06-03 16:49] JimKillock commented on #22
We'd direct people to https://www.blocked.org.uk/ - purely as a teaser. The emails would come from ORG as normal.

We shouldn't have to handle anything, really, as it would just mean people enter info into the database.

I suppose there is the problem of people opting into further contact, as that's not managed at all as you say. The data would be in FormSave however for export when we're ready.

[2014-06-03 16:59] JimKillock commented on #2
I'm just reviewing this, and I'll ask Pam what she thinks but I'd say that it's a huge opportunity to promote ORG in whatever way we can with these emails. There's an argument that an email from ORG might confuse the recipient but it seems a shame to diminish ORG's involvement by missing the opportunity to show we are responsible for the project. The copy too, while very readable doesn't really sa

[2014-06-06 09:42] JimKillock opened #24 "Copyright blocks may not be registering"
When I try URLs such as http://thepiratebay.se the probes do not always seem to be picking up blocks:

BT  ok  2014-06-06 10:33:15 No record of prior block
JISC Collections And Janet Limited  ok  2014-05-29 15:18:13 No record of prior block
O2  ok  2014-05-28 18:37:49 No record of prior block
Pro-Net Internet Services Ltd   ok  2014-06-05 20:52:03 No record of prior block
Sky blocked 2014-06-06 10

[2014-06-06 09:51] JimKillock commented on #24
http://fenopy.se  gives similar results:

BT  ok  2014-06-06 10:49:27 No record of prior block
Sky blocked 2014-06-06 10:49:27 2014-06-06 10:49:27
TalkTalk    ok  2014-06-06 10:49:27 No record of prior block
VirginMedia blocked 2014-06-06 10:49:27 2014-06-06 10:49:27
VirginMobile    ok  2014-05-17 20:01:24 No record of prior block

Sorry if this is a known issue

[2014-06-06 09:55] graphiclunarkid commented on #24
This might be due to the way the pyprobe and android probe detect blocks. The configuration files look for specific responses that indicate the site has been filtered. If ISPs respond differently for copyright censorship than they do for "parental controls" style filtering we'll potentially record that as ok.

If an ooniprobe shows these sites as blocked that would tend to confirm my theory since

[2014-06-06 10:16] dantheta commented on #24
The rules in the config files are very much tailored towards the parental control blocking rather than court-ordered blocks.

For some ISPs it is possible to configure the probes to detect court-ordered blocks.  Virgin and Sky show a minimal HTML forbidden message when the user tries to access a blocked site.  For some other ISPs the sites blocked by court order are simply null-routed, resulting i

[2014-06-06 16:46] dantheta commented on #15
We've used Silex as well, which is currently bundled with Blocking-Middleware.  The AMQP driver is php-amqp from pecl, available under the PHP license.

[2014-06-06 18:12] NetworksAreMadeOfString commented on #24
Interestingly neither piratebay nor fenopy are blocking on the EE default PAYG level filter

JISC Collections And Janet Limited, O2 & Pro-Net Internet Services Ltd are most likely to be me and are unlikely to have blocks; JA.net, MyNow.co.uk and O2 business _(no filters)_

[2014-06-09 05:48] graphiclunarkid commented on #15
All repositories are now licensed as follows:
- GPLv3 (or MIT where that was already the case) for code
- CC-BY-SA 4.0 international for content

[2014-06-09 10:24] graphiclunarkid commented on #11
I have proposed:
- CC-BY-SA for site content (matches org.org, though I've used the new v4.0 international rather than v3.0 unported)
- MIT or GPLv3 for software
- CC-BY-NC-SA for data (same as org.org, but non-commercial, as requested).

[2014-06-09 10:35] graphiclunarkid commented on #24
Do we need a FAQ page that explains why our tool might say a site isn't blocked even though someone might not be able to access it (or vice versa)?

[2014-06-09 10:51] graphiclunarkid opened #25 "AJAX results page"
Since test results are only taking a few seconds to return, we could push them into the results page using AJAX so that they populate "live", rather than only displaying historical results from the database.

This would prevent people submitting URLs for testing twice just to see the results of their first check on-screen.

This would also reduce the need to email results to people, meaning we can

[2014-06-09 16:22] dantheta commented on #25
I have a demo of this that uses a long poll http requests and blocks on the amqp results queue :)

[2014-06-09 16:24] dantheta commented on #24
I think we can adapt the rules to spot copyright blocks (where those sites aren't simply null-routed) for most networks. A FAQ page may be handy.

[2014-06-09 17:19] graphiclunarkid commented on #25
:sunglasses:

[2014-06-09 18:11] graphiclunarkid commented on #23
Implemented in pull request openrightsgroup/blocked-org-uk#60 and available for checking on the http://stage.blocked.org.uk front page.

Probably needs @mkillock to do things with FormIt to make it actually work though.

[2014-06-09 18:22] graphiclunarkid commented on #16
(Just a note that this was split out from openrightsgroup/blocked-org-uk#44 into its own issue and that openrightsgroup/blocked-org-uk#44 depends on this being resolved).

[2014-06-09 18:32] graphiclunarkid commented on #13
There's conflicting information on the OpenDNS website about whether we can do this.

They say non-commercial re-use is [coming soon](http://community.opendns.com/domaintagging/faq/#MayIUseTheDomainTaggingDataElsewhere) and they also say scraping the site is [not allowed](https://support.opendns.com/entries/24423704-Domain-Tagging-Toolbar-for-Firefox) (last entry on the page says "Please do not ma

[2014-06-09 19:28] mkillock commented on #23
1. The data comes through to the FormSave table OK, but the allowcontact, subscribereports  and joinlist fields are only present when the option is selected on the form. In other words, if the option is not selected there is no allowcontacts = no in the FormSave table. Is that a problem?
2. How do we want to handle Form submission? There was another ticket about checking for an email address if th

[2014-06-09 20:47] webal commented on #15
bit late to the party, but front end wise we're using:

jquery, (MIT) : https://jquery.org/license/
Social share icons (MIT): https://github.com/panzi/SocialSharePrivacy/
Circles.js (MIT): https://github.com/lugolabs/circles
Modernizr MIT & BSD
Lato font (from google fonts) Licensed under the SIL Open Font License
REM polyfill MIT: https://github.com/chuckcarpenter/REM-unit-polyfill

[2014-06-09 20:48] #7 closed, assigned to graphiclunarkid

[2014-06-09 21:11] #11 closed, assigned to graphiclunarkid

[2014-06-09 21:37] #14 closed, assigned to graphiclunarkid

[2014-06-09 21:42] dantheta opened #26 "Explore using heuristics to determine where censorship is taking place"
The android probe has a set of additional heuristics and experimental support for a confidence level attached to a report of web blocking.  This issue is a placeholder for the exploration of what mechanisms can be used to detect censorship in addition to explicit testing of results, and how we might be able to process that data and expose it to users.

Follows on from discussion at: https://github

[2014-06-10 09:25] graphiclunarkid commented on #23
I think it would be better if we could record "XYZ = no" in the FormSave table because it would make future scripting easier. It's by no means essential though.

Does any data other than the URL get transferred to the API and its database?

Your point 2 is exactly right. Both openrightsgroup/blocked-org-uk#5 and openrightsgroup/blocked-org-uk#51 talk about what to do if a user doesn't specify an e

[2014-06-10 09:27] graphiclunarkid commented on #15
Thanks @webal. I'll update the README and the license page when I get a minute.

[2014-06-10 09:32] mkillock commented on #12
We can do this fairly easily with the current set up, just need to pass in a $_GET parameter to the GetURLHistory snippet. Working example here:

http://stage.blocked.org.uk/results.html?url=www.example.com

[2014-06-10 09:39] mkillock commented on #20
Fixed - now redirects to MODx site_url setting - currently stage.blocked.org.uk

[2014-06-10 09:39] #20 closed, assigned to nobody

[2014-06-10 09:40] mkillock commented on #20
The SubmitUrl snippet does the redirection

[2014-06-10 09:44] graphiclunarkid commented on #20
:grinning:

[2014-06-10 10:01] graphiclunarkid opened #27 "Record checkbox set/cleared state explicitly"
The form on the front-page of the site has three checkboxes to opt into various email notifications:  allowcontact, subscribereports and joinlist. If the visitor sets these, their state is recorded in the FormSave table explicitly with an element in the JSON data blob, called e.g. 'allowcontact = yes'. If a checkbox is clear on submission, however, its state is not recorded. There is no equivalent

[2014-06-10 10:08] graphiclunarkid commented on #23
I've raised #27 to deal with recording the state of cleared checkboxes explicitly.

[2014-06-10 10:30] #15 closed, assigned to graphiclunarkid

[2014-06-10 10:39] JimKillock commented on #24
Null routing is beyond poor practice for legal blocks. If we spot this practice, it'd be really helpful for us to identify it and complain to the relevant ISPs about it.

[2014-06-10 11:35] mkillock commented on #23
Everything gets passed to the API database, but the extra stuff (opt ins/stories/etc) goes into a single field as a string of items - If I understand it correctly.

I'll let you and Ruth decide whether to close the other issue!

I've added field=no to the formsave stuff, will update #27

[2014-06-10 11:36] mkillock commented on #27
This should be working as desired now. Perhaps @dantheta can confirm that allowcontact is always being passed in as either yes or no?

[2014-06-10 11:37] mkillock commented on #27
Along with the other two tick box options 'information' and 'joinlist'

[2014-06-10 11:43] mkillock commented on #27
CORRECTION: The three tick box fields are

allowcontact    yes/no
subscribereports    yes/no
joinlist    yes/no

[2014-06-10 11:59] graphiclunarkid commented on #23
Great stuff, thanks @mkillock. In that case I think we're done here.

[2014-06-10 11:59] #23 closed, assigned to graphiclunarkid

[2014-06-10 12:00] dantheta commented on #26
The question of whether the server should send URLs that are unresolveable, time out or point to 404/500 responses: I think the server should still send them.  500 errors are temporary in a lot of cases, timeouts may be a local or transient issue. We'll only get a bigger picture of the result for the URL if we send them to probes on various networks and repeat over a period of time.

We've already

[2014-06-10 12:01] dantheta commented on #26
Another consideration: if we build heuristic functionality into Android-Probe and the blocking-middleware, are we re-inventing OONI?

[2014-06-10 12:08] dantheta commented on #24
On BT, making an HTTPS request for a site which is blocked by their parental controls results in a timeout.  The target IP that they direct traffic to drops incoming HTTPS packets.

So on BT, getting a blocked HTTPS URL is indistinguishable from a timeout (unless you are also checking the target IP returned by their DNS hijack, and then you can infer that it was blocked).

[2014-06-10 12:15] graphiclunarkid opened #28 "Results table column headings"
As a visitor viewing previous results for an ISP I want the results table to have column headings so that I know what each column means.

Current:
![current-results-table](https://cloud.githubusercontent.com/assets/433456/3229673/feaebf42-f098-11e3-8619-e00e29e50b0c.png)

Desired:
![desired-results-table](https://cloud.githubusercontent.com/assets/433456/3229676/081f0ac8-f099-11e3-9e88-246ef732b98

[2014-06-10 12:18] dantheta commented on #24
I'm testing out rules for BT, TalkTalk and Plusnet to catch court-ordered blocking.  VirginMedia's court block page was already in config, and Sky's parental controls catch thepiratebay before the court-ordered filtering kicks in.  They'd categorized TPB and fenopy as "ANONYMIZERS" and blocked them.

[2014-06-10 12:20] NetworksAreMadeOfString commented on #26
We should just try and concentrate on detecting the various types of blocks
as best we can (302 to parental blocks, Copyright blocks etc)

OONI does a LOT of extra stuff that we don't need to do (yet).

On Tue, Jun 10, 2014 at 1:01 PM, Daniel Ramsay notifications@github.com
wrote:

[2014-06-10 12:22] JimKillock commented on #24
Thanks Dantheta. When they are in the database, will they be flagged (to the user) differently?

[2014-06-10 12:25] graphiclunarkid commented on #12
That's pretty cool!

If someone visits a URL that has no results can we suggest they submit it for checking? Currently they arrive at a slightly out-of-context page, e.g.http://stage.blocked.org.uk/results.html?url=asdf.com

[2014-06-10 12:25] dantheta commented on #24
Not at the moment - it would be a good thing to record though.  I've got a feeling it would require a non-backwards-compatible change to the rules format though.

I was also going to ask if we would want to be able to display the type of block to users as well (when we're recording it)?

[2014-06-10 12:27] mkillock commented on #28
ok, this can be achieved by creating a row for the table in the header template chunk. Have made an attempt. Perhaps @webal can improve if desired!

http://stage.blocked.org.uk/results.html?url=http://www.piratebay.se

(same will happen for submission success page)

[2014-06-10 12:30] graphiclunarkid commented on #28
Looks good to me! :shipit:

[2014-06-10 12:33] graphiclunarkid opened #29 "TalkTalk result is "OK" for non-existent domain"
Trying: to get a result for the non-existent domain http://stage.blocked.org.uk/results.html?url=http://not-a-real-domain-aerg4rhafsd.com

Expected: all probes return an error because the domain doesn't exist.

Actual:
![talk-talk-ok](https://cloud.githubusercontent.com/assets/433456/3229866/cddce0a8-f09b-11e3-8529-96b3d3db5d5f.png)
TalkTalk seems to be special!

[2014-06-10 12:34] mkillock commented on #12
OK, done - when there are no previous results, it will use the OfferSubmission chunk instead.

Text and formatting can be changed easily in that chunk - again @webal may have some useful input here!

[2014-06-10 12:38] graphiclunarkid commented on #29
Do TalkTalk use some kind of redirect to a search page for domains that don't have DNS entries?

[2014-06-10 12:40] dantheta commented on #29
Yes, yes they do.  How irritating.

On 10/06/14 13:38, Richard King wrote:

[2014-06-10 12:41] NetworksAreMadeOfString commented on #29
Urggh, ISPs make me sad

[2014-06-10 12:42] dantheta commented on #29
We can switch the probe VM to Google DNS (or any other public DNS).  We'll still get the parental control blocking, but we won't get the advert searches for unresolvable domains.

[2014-06-10 12:43] graphiclunarkid commented on #12
Perfect :smile:

[2014-06-10 12:45] dantheta commented on #29
It appears VirginMedia have one as well, but it only kicks in some of the time.

[2014-06-10 12:48] graphiclunarkid commented on #29
I believe VirginMedia have a facility in the account admin interface to switch off the "feature" (I discovered this while staying with someone who uses them as their ISP). There might be a similar facility for TalkTalk. I can ask Alex B to check all the lines for this if that would be useful? I'm a bit wary of using third-party DNS as it's straying a bit from the default configurations experienced

[2014-06-10 12:49] dantheta commented on #29
Yes, I think you're right.  If Alex could take a look, that would be cool.

[2014-06-10 12:52] graphiclunarkid commented on #29
Alternatively we could write a config-rule that detects these search screens and logs the result as "error" for our purposes. We could even confirm by using a separate query to our own DNS servers.

[2014-06-10 13:27] webal commented on #28
oops forgot that! I'll add it in

[2014-06-10 14:04] dantheta commented on #29
That's true - I was considering a similar workaround for BT's one broken proxy server.  It's hard to know whether to try describing these workarounds as pure config, or just write the code and enable these workarounds from ISP config by name.  I don't think we really want a turing-complete configuration language! I'm leaning towards code enabled by config, I think.

[2014-06-10 14:26] dantheta commented on #24
BT, TalkTalk and Plusnet now have copyright block rules in Beta.  I'll need to co-ordinate a rollout with Android-Probe, since it uses a new rule type that the android probe may not have support for yet.  The pyprobes on the A&A VMs are using this config for the moment.  VirginMedia had a copyright rule from the start.  I've added a rule for Sky based on the ooni log data, but the parental blockin

[2014-06-10 16:40] graphiclunarkid commented on #29
@dantheta Whatever works, I guess!

I have emailed Alex to ask if he can check the admin interfaces and switch off the "feature" where possible.

[2014-06-10 16:42] graphiclunarkid commented on #24
This would be a good reason for volunteers to run probes even if they are on unfiltered lines: we can use their results to detect other kinds of (mandatory) censorship e.g. copyright orders.

[2014-06-10 20:37] webal commented on #28
changed them to <th> & finished

[2014-06-10 20:37] #28 closed, assigned to webal

[2014-06-10 21:21] dantheta commented on #24
I've now added a copyright rule for O2.  Vodafone doesn't block TPB.  Three does, but it emits a simple 403 error.  I don't think we'll be able to process that into an OK/Blocked response.  EE was already mentioned above.  That just leaves VirginMobile, out of the regular set.

[2014-06-10 21:24] dantheta commented on #24
It looks like it's safe to roll this version of the config out.  It won't impact the android probe.

[2014-06-11 06:51] graphiclunarkid opened #30 "EPIC: Crowdsourced checking of site categories (cf OpenDNS)"
Idea from Javier: "The automated classification of blocked URLs is a good start, but I think that ideally we would want to crowdsource checking them, possibly with multiple passes. People from OKFN have built Pybossa for this sort of thing http://pybossa.com/"

[2014-06-11 06:54] graphiclunarkid opened #31 "EPIC: data analysis"
From @Dantheta: "A few useful views that I can think of:
- Recently blocked sites (all networks and per network)
- Recently unblocked sites (all networks and per network)
- Number of changed entries by day
- Most blocked sites (network count by URL)
- Blocked sites categorised by content - I think vasilis mentioned using
  the OpenDNS dataset for this, and there's an impressive example of this
  s

[2014-06-11 06:56] graphiclunarkid commented on #31
Javier adds: "I would add a report for URLs that are only blocked by one ISP but not the others, These could be very interesting.

Unblocking time by ISPs will be a bit hit and miss, as we won’t know when the report was actually submitted unless we do it ourselves.

[2014-06-11 06:59] graphiclunarkid opened #32 "FAQ page"
Entries may include:
- What does an "OK" result mean?
- What does a "Blocked" result mean?
- What does an "Error" result mean?
- I can't access a site but the tool says it's OK. Why?
- I can access a site but the tool says it's blocked. Why?

[2014-06-11 07:03] graphiclunarkid commented on #32
- My mobile network is FOO but the Android / Py / Ooni probe says it's BAR. Why?

[2014-06-11 07:07] graphiclunarkid opened #33 "EPIC: Better Twitter integration"
- Tweet results pages back to people who submit URLs via [at]orgBlockBot
- Edit copy for automatic tweets (a question for Pam?)
- Results page option to tweet a complaint at offending networks (esp. [at]o2 since that's one of two routes they recommend to report overblocking - see unblock.html)

[2014-06-11 07:11] graphiclunarkid commented on #33
From @dantheta: "If you're looking to tweet a result back to the submitter,
there's some neat message queue stuff that you can use instead of
polling the database.

"I originally wrote in a results message feed (with probe details
stripped out) to support a real-time results webpage that I was playing
about with.  Only thing is, you'd get one result message back per ISP,
but I can produce a consol

[2014-06-11 07:12] graphiclunarkid opened #34 "EPIC: accessibility & browser support"
Bootstrap should help a lot with browser and mobile support.

Need to test with:
- Screen reader
- Text only browser
- Noscript

[2014-06-11 14:21] graphiclunarkid opened #35 "Review website copy post-migration"
Pam is going to review the site copy and make improvements where possible

[2014-06-11 14:21] graphiclunarkid opened #36 "Move most form elements to results page"
To encourage people to interact, and so that they can see the results for their URL before deciding whether to sign up for email alerts, we want to move all but the URL submission box from the front page to the thankyou page.

The URL box should be repeated and pre-populated on the thankyou page.

Current:
![current-form](https://cloud.githubusercontent.com/assets/433456/3247581/bbb18f92-f185-11e3

[2014-06-11 14:23] graphiclunarkid opened #37 "Document visitor journeys through the site"
We need to document what happens when URL submitters select the various form options so that we can make sure the site behaves appropriately in each case.

[2014-06-11 14:30] graphiclunarkid commented on #6
Notes from call with @jimkillock and Pam:
- If there is no change, send an email every 3 months reminding subscribers of our existence
- Send emails a maximum of once per day.
- Send reports about ORG probes only - not crowdsourced reports. We should say as much in the emails too.
- Send emails for blocked -> unblocked state changes and vice versa
- Send emails as soon as we detect a state change

[2014-06-11 14:31] graphiclunarkid commented on #6
Needs to have an unsubscribe option that works (preferably with a single click)!

[2014-06-11 14:33] graphiclunarkid opened #38 "Automate subscription to e-activist mailing list"
When a visitor ticks the box to subscribe to ORG's mailing list we want to subscribe them via e-activist automatically.

[2014-06-11 15:10] graphiclunarkid commented on #12
This now needs some copy writing for it and final styling applying (@webal).

[2014-06-11 18:32] graphiclunarkid commented on #36
Please don't take my GIMP hatchet-job as being indicative of style or layout! I was just trying to show which elements should appear on which screen.

There should be a pre-populated URL field on the thankyou.html page but I forgot to add it.

For goodness sake don't give me any graphic design jobs to do :wink:

[2014-06-11 19:19] graphiclunarkid commented on #29
Maybe we should raise new issues against our probe repositories to detect whether this "feature" is active on the connections under test? Otherwise our crowdsourced results might be polluted.

[2014-06-11 19:20] dantheta commented on #29
We can add it to the rules config as "must-not-resolve".  That way the probes would refuse to start unless a centrally-controlled set of URLs were unresolveable.

I'll include http://www.badgersmakeexcellentpets.com/ by way of tribute :)

[2014-06-11 19:23] graphiclunarkid commented on #29
I guess if we really cared we could detect "search" pages the same way we detect "blocked" pages. Then we could return a real "DNS resolution failed" response from the probe regardless of the fact that the ISP's resolvers don't behave themselves.

[2014-06-11 20:29] graphiclunarkid commented on #36
We should also remove the suggestion that we're going to email a one-off copy of the results to the submitter if they give us their email address. We discussed this and decided it doesn't add much value now that we have near-instant display of results on the thankyou page. This will become even if we implement #25.

The email options we want are:
- Consent to be contacted if ORG thinks this report

[2014-06-11 20:39] dantheta commented on #24
I've tested and deployed the copyright block rules.  Are you happy for this ticket to be closed, or would you like to hold on until we can get confirmation and config for VirginMobile?

[2014-06-11 20:42] graphiclunarkid commented on #24
Close it if you're happy. We can always open a new one if we find
further problems.

[2014-06-12 06:58] graphiclunarkid commented on #18
Possibly of some use for this: http://stackoverflow.com/questions/7703200/how-to-write-a-php-double-opt-in-subscription-form

[2014-06-12 21:33] webal commented on #36
I've moved the forms about, I've not had a chance to check them but I think it should be ok.

I've uploaded to staging (and updated repo) - wasn't sure which to use.

I commented out the HTML code in staging for the form as I didn't want to accidentally delete something as the form stuff doesn't quite match the repo so just delete this once you're happy with the form.

[2014-06-12 21:35] webal commented on #12
would it make sense to reuse the thank you page for this - it's pretty much the same function now - especially as the home page form goes straight to results?
If not I'll have a crack at styling once the content is in

[2014-06-12 21:44] graphiclunarkid commented on #36
Thanks @webal!

This could maybe do with a bit of testing by @mkillock if he gets chance. We also need to fix up the layout of the thankyou page to cope with its increased information load - but this can wait until we're working on new.blocked if you like. I see no reason to start duplicating effort at this stage!

I believe once @jimkillock has done a second migration to the live server we'll onl

[2014-06-12 21:46] graphiclunarkid commented on #12
It probably would, yes. That way we can capture sign-ups, reports, and other information from people landing on a static results page even if they weren't the original submitter.

[2014-06-14 21:30] JimKillock opened #39 "Create editable MODX templates"
The single template needs to be changed so that the content can be easily edited by MODX users. For instance the content areas, such as [[*content]] should be simple html without div structures so that WYSYWG editors can write content. As a first step I've moved most of the html into chunks on the live server. This can be rearranged if it seems confusing tho.

[2014-06-15 07:02] graphiclunarkid commented on #39
Omnomnomnom.... ;-)

[2014-06-15 08:42] mkillock commented on #36
I've made a minor change to the Formit call on the home page because we don't need to do email validation there because there is no email field. The commented out HTML code can go, I reckon - this is now in Chunks/campaign sites/blocking/blocked_home_page_content

[2014-06-15 08:45] mkillock commented on #36
Minor comment - we appear to have lost the table headers in the results

[2014-06-15 08:47] mkillock commented on #36
Do we want to re-submit the url on the thank-you page? I guess 'yes' because we then create a copy of the form data in the API db -right?

[2014-06-15 09:34] mkillock commented on #36
OK! I have got the form working on the thanks page. However, because we put a check on that page to redirect to the home page if it was visited without first submitting a url, when then second form with extra details was filled in correctly, it was redirecting to the home page because FormIt clears the form data and this passes the check we have in place to check for non-prior-submission of URL fr

[2014-06-15 09:38] mkillock commented on #36
Also I added in a hidden field that pre-populates the previously submitted URL from the home page, so there is a URL to submit to the API from the form.

[2014-06-15 11:01] JimKillock opened #40 "New Bytemark logo credits page"
The Bytemark logo on the credits page AFAICT byte mark-short.png is transparent therefore not visible against white

[2014-06-15 13:17] JimKillock opened #41 "Convert Personal stories to MIGX"
Implement the personal stories section in MIGX so it is easy to add multiple stories.

[2014-06-15 13:19] JimKillock opened #42 "ORG mobile probe set up"
Set up the ORG mobile probes with mobile SIMs from Vodafone / EE / O2 / Three

[2014-06-15 13:22] JimKillock commented on #42
Current status of SIMs: O2 arrived, EE and Three on order, Vodafone awaiting paperwork from Simon to return to Vodafone

[2014-06-15 14:06] JimKillock opened #43 "Image(s) for social shares"
We could do with a square version of the blocked logo, adapted for the pages for social shares, e.g. featuring a word for the each page such as "check URL" / "Help"  / "Stories" etc

[2014-06-15 16:16] JimKillock commented on #39
This is all done except for the personal stories page, which is a bit more complicated and I may need help with. I've raised a separate issue of that.

[2014-06-15 16:17] #39 closed, assigned to JimKillock

[2014-06-16 20:27] dantheta commented on #29
We could also use a test against a second set of public nameservers to establish this.  That might be the quicker solution, if you're OK with that?  The main probe request would still be run using the ISP's own nameservers.

BTW - The TalkTalk setting change doesn't seem to have kicked in yet, we may need a router reboot for that.

[2014-06-16 20:37] dantheta opened #44 "BT probe errors"
When the OrgProbe requests a page from a blocked site on BT Internet, there is a 25% chance that the probe will see a 403 forbidden response in place of the BT Parental Controls page.

This is because of a misconfiguration on one of the four proxy servers that blocked sites are directed to by BT.

This may have to be worked around in code.

To test, repeatedly run:

[code]

Note the responses and

[2014-06-16 21:07] webal commented on #43
do you mean something along these lines? I'll tidy it up a bit, but I don't think it'll work as a square.

https://dl.dropboxusercontent.com/u/12755204/blocked-org-uk/gfx/blocked-check-urll.png

[2014-06-16 21:16] webal commented on #40
Updated image on repo and new

[2014-06-16 21:16] #40 closed, assigned to nobody

[2014-06-18 19:20] graphiclunarkid commented on #43
Maybe we need an icon to go with the logo. A no-entry sign, but coloured black, is what I thought of immediately. No doubt others will have better ideas.

[2014-06-18 19:22] graphiclunarkid commented on #44
Can we work around it in code for now?

I am also happy to try reporting the problem to someone at BT if we can figure out an appropriate contact for talking to them about their filters.

[2014-06-18 19:26] graphiclunarkid commented on #29
Using a second set of resolvers is fine with me. Perhaps we should do your 'must not resolve' check before enabling that feature, though, as it will be a waste of bandwidth and time for RFC-compliant ISPs.

Am I going to have to register that stupid domain now? :wink:

I'll ask Alex to reboot the TalkTalk router.

[2014-06-18 20:46] webal commented on #43
something like this maybe? http://www.shutterstock.com/pic-79140361/stock-vector-stop-hand.html?src=6Q90Qt5aGPfnLEkQacICPg-1-34

[2014-06-20 23:35] graphiclunarkid commented on #6
I've read the [database](https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_DB) and [API](https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_DB) documentation.

The "users" referred to in both documents seem to be actors with credentials that let them call API endpoints, e.g. probes or the blocked.org.uk website. As far as I can tell we're not recording directly i

[2014-06-20 23:52] graphiclunarkid commented on #18
After some thought I've realised we need to verify email addresses _together with action requests_.

Verifying that an email address is valid is necessary but not sufficient. We must also make sure the owner of that address actually wants to receive the emails to which it is being subscribed. Otherwise bad actors could (for example) request reports for a spam URL to be sent to verified addresses w

[2014-06-20 23:59] graphiclunarkid commented on #29
Router rebooted. @dantheta says TalkTalk is now behaving properly. Do we want to raise a new feature-request for the optional checking via a second set of DNS servers if we suspect hijacking is taking place?

[2014-06-21 00:05] graphiclunarkid commented on #43
I like that @webal :)

Reading this again, I'm not sure I've really understood what @JimKillock was after, I'm afraid. Did you mean images rather than text for the menu options, Jim, or a button we can use on other sites to link people through to blocked.org.uk?

:confused:

[2014-06-21 00:49] dantheta commented on #6
The tables can be simplified, by having a contact_id field on the users and requests tables, I think.  A user can only belong to one contact (at most), and a request would be attached to a single user.  The other fields on requests-contacts can also be considered properties of the request.  Everything else looks cool!

Sorry for brevity, tablet typing.

[2014-06-21 00:51] dantheta commented on #6
I was thinking of having a summary table which shows the latest status for a URL on each ISP. That makes it very cheap to identify changes, and will also make /status/URL cheaper too. The summary table can be maintained using triggers even, so no code changes either!

[2014-06-21 11:38] graphiclunarkid commented on #6
@dantheta You're right about the tables. That's what comes from trying to think things like this through at 2am ;-)

The summary table is a good idea - though what would its structure look like? If you're thinking of having one column per ISP would that just get extended as new ISPs start submitting results?

[2014-06-21 13:14] dantheta commented on #6
It would have one row per ISP/URL combination, so the list of ISPs is open-ended.  When a new result comes in, the row in the summary table is updated/replaced.  The layout would be very similar to the results table itself.  We might add in the last block date, just like the API's return format for /status/url.  I'll post a preview this weekend.

[2014-06-21 13:44] JimKillock commented on #43
@webal That is what I need yes, thank you (maybe a little lighter text on the "check URL bit") The image needs to be about 800px square IIRC  @graphiclunarkid This is to display on Twitter cards / FB previews etc., it lives in the meta tags for them to pick up. See for instance https://en.wikipedia.org/wiki/Facebook_Platform#Open_Graph_protocol

[2014-06-21 16:11] dantheta commented on #44
Yep, I'll be working on it this weekend.

[2014-06-21 16:13] dantheta commented on #29
Yep, I think we can close this one on the basis that it's fixed for the ORG landline ISPs.  It might be something to raise against the probes, so that they can check for this behaviour.

[2014-06-21 16:18] JimKillock opened #45 "Simple probe set up page"
When we launch we will probably get quite a few requests to set up RPi or perhaps Python probes. We should have a simple page giving basic instructions on how to set up a probe and contact details so that new people can be helped, probes can be accessed if needed or otherwise authenticated.

[2014-06-21 16:30] dantheta commented on #44
I've retested the case above, and the .109 proxy is now returning results consistent with the others!  Tested with a range of parental-controlled URLs.

Closing the ticket.

[2014-06-21 16:30] #44 closed, assigned to nobody

[2014-06-21 16:56] JimKillock commented on #42
Three now arrived; paperwork sent to Vodafone.

[2014-06-22 08:42] dantheta commented on #45
Would it be useful to have a registration page for API user account & probe registration?  In the case of non-interactive probes (mainly pyprobe, but to a lesser extent lepidopter as well), it might be more convenient for API users to sign up online and paste the keys into a config file, or something.   I guess this is sort of a prelude to an API users account page.

I can write it as a standalone

[2014-06-22 13:07] JimKillock commented on #45
That sounds a good idea. The latter sounds ideal, if a bit more work for someone - probably @mattkillock?

What does an API-sign up process look like, though? Will it require email verification, and / or manual steps from us?

[2014-06-22 14:53] dantheta commented on #45
I was thinking that having the page cohesively styled with the rest of the site would be better.  That points strongly in Matt's direction :)  I'll get started on an example-client page.

The signup process is pretty well defined (and although I'm sure there was a process diagram on the wiki, I can't currently find it), and will eventually require an extra step to validate a probe setup request.

[2014-06-22 22:11] JimKillock opened #46 "Show when a block is a legal order in results page"
Where we know a block is the result of a copyright order, display the result in our results as "Blocked by court order"

[2014-06-22 23:43] graphiclunarkid commented on #6
The above pull request implements an approximate version of the database extensions I suggested. Please let me know if you think it'll work... :8ball:

[2014-06-23 05:20] #29 closed, assigned to graphiclunarkid

[2014-06-23 05:23] graphiclunarkid commented on #16
Hi @mkillock, @jimkillock - are you still working on this bug or did the patch introduced by Matt fix the issue?

[2014-06-23 05:26] graphiclunarkid commented on #9
Formsave is now patched so that we can pseudonymise IP addresses if we want.

@jimkillock - we need to bring this issue to a conclusion this week. We still don't have a privacy impact assessment. How do you think we should proceed?

[2014-06-23 05:51] graphiclunarkid commented on #36
@pamcowburn can help with content for page ID 7482.

I have made some changes to the layout and content of the thankyou page (ID 7451), including:
- Rearrange form elements on the page.
- Remove references to emailing a one-off copy of results to the user.
- Include permalink to results for this URL.
- Minor content edits.

I'm sure Pam will want to look more closely at the content of this page in

[2014-06-23 05:55] graphiclunarkid commented on #36
@mkillock Yes, as a minimum we want to resubmit the URL, for the reason you state.

In future we could have the API return a request ID from the front page so that we can ALTER that request from the thankyou page if the user provides further details. The advantage would be that we would avoid overwriting the "last blocked" value for filtered sites by submitting a second check immediately after the

[2014-06-23 05:59] graphiclunarkid commented on #12
On the live server, Modx seems to encode parameters when the URL is included in a page using `[[!+fi.domainToCheck]]`, such that

`http://new.blocked.org.uk/results?url=http://example.com/`

becomes

`https://new.blocked.org.uk/results?url=http%3A%2F%2Fexample.com%2F`

Only the latter seems to work - the former claims that no results are found in the database. I think we care about this because pe

[2014-06-23 06:07] graphiclunarkid commented on #12
On the dev server the static URLs are of the form

`http://stage.blocked.org.uk/results.html?url=http://example.com`

Whereas on the live server they seem to be of the form

`http://new.blocked.org.uk/results?url=http://example.com` (note missing .html extension)

Does this matter?

@webal - if we're going to use the thankyou.html page for this purpose I think we should rename it to be results.htm

[2014-06-23 06:28] graphiclunarkid commented on #36
Hmm. Refreshing the thankyou page now redirects to the homepage instead of refreshing the results...

[2014-06-23 07:03] graphiclunarkid commented on #36
I've deleted the commented-out form elements from the `blocked_home_page_content` chunk.

[2014-06-23 07:07] graphiclunarkid opened #47 "Eliminate white stripe above footer on some pages"
On pages where the background colour of the last content `div` is red there is a white stripe between this and the footer. It might also exist on other pages but it isn't visible there because the background of the last content `div` is white.

![white-band](https://cloud.githubusercontent.com/assets/433456/3354659/9dc089b4-faa6-11e3-8093-cfa904bb3fcd.png)

Currently affected pages:
- Home
- Unblo

[2014-06-23 07:43] graphiclunarkid opened #48 "Logo overlaps menu at some resolutions"
At some browser widths the new BLOCKED logo overlaps with the menu items.

Expected: clear space around the logo and menu

Got:

![logo-menu-medium](https://cloud.githubusercontent.com/assets/433456/3354853/43e7aa04-faaa-11e3-8a2f-502239767d02.png)
![logo-menu-small](https://cloud.githubusercontent.com/assets/433456/3354854/494dd07c-faaa-11e3-99f7-0b06587c80d6.png)

Also: can the menu background c

[2014-06-23 07:56] graphiclunarkid commented on #35
@pamcowburn: Can you explain why the community information no longer appears on the get-involved page (on the live server)? Is it moving to a new page perhaps?

References to the get-involved page across the rest of the site tend to assume this page is about how to become a tech-volunteer.

Since the project will be developed further after the launch of v2.1 I don't think we should omit informatio

[2014-06-23 08:59] pamcowburn commented on #35
It hasn't been deleted, I was just moving the text around. I'm still in the middle of editing the site. I was going to see if that would fit better in the contact pages.

Sent from my iPhone

[2014-06-23 09:02] webal commented on #45
I'm happy to style it once the page is done - just stick the HTML in the blocked repo and ping me

[2014-06-23 09:45] mkillock commented on #46
Is this knowledge represented in the results given by the API? @dantheta

[2014-06-23 09:54] mkillock commented on #16
Looks like the suggested way of doing this is:

<?php
/\* don't execute if in the Manager */
if ($modx->context->get('key') == 'mgr') {
        return;
}

switch ($_SERVER['HTTP_HOST']) {
        case 'domain2.tld':
                // if the http_host is of a specific domain, switch the context
                $modx->switchContext('domain2.tld');
                break;
        case 'domain3.tld':

[2014-06-23 10:00] dantheta commented on #46
Not at the moment, I'm afraid. The probes know which rule matches a response page, but not necessarily what each rule means - that would have to be encoded in the config.  I can introduce that to the config file as a non-breaking change (at the expense of a little duplication and an increased version number).

If we're really keen on the feature, it's only 2-3 hours work to attach a "type" paramet

[2014-06-23 10:00] mkillock commented on #36
As for the refreshing of the thankyou page taking to homepage, not sure what we can do about that. The form works like this:
1. Home page form, url saved in cookie, redirects to thankyou page
2. thankyou uses formitretriever which gets url from cookie, if present. If no url from that mechanism, AND no url from $_GET then redirect to home page

So if someone refreshes the thankyou page, the cookie

[2014-06-23 10:07] mkillock commented on #12
OK, if we combine thankyou and results pages then we need to implement the $_GET mechanism from the homepage form and switch off FormItRetriever - if that's what we're doing then I think that's possible but I would prefer to wait for confirmation about this choice before I make changes

@graphiclunarkid - I don't think results vs results.html matters - this is just an option in MODx FriendlyURLs i

[2014-06-23 10:29] JimKillock commented on #46
It'd be a nice addition! But _only_ if you have time - it isn't essential.

[2014-06-23 11:44] dantheta commented on #25
I've committed an example page in the Blocking-Middleware repo, which uses a new API endpoint to get realtime results from the probes. (example-client/example-realtime.php).  Although the file extension is .php, there is only HTML in there.  It uses an iframe for now because I'm old-school, and because my javascript isn't quite up to getting incremental data from another page.

The script called i

[2014-06-23 13:35] dantheta commented on #24
That's cool.

[2014-06-23 16:44] dantheta commented on #6
By the way - do we have a preferred way of sending email to subscribers?  Something like mailchimp API or another service like that, or is it cool to use a PHP mailer class and the local postfix install on the webserver?

[2014-06-23 17:11] JimKillock commented on #42
Vodafone SIM now ordered and on the way to the office

[2014-06-23 17:33] JimKillock commented on #6
That's one for @gwire to answer

[2014-06-23 17:59] graphiclunarkid commented on #6
@Dantheta MailChimp is hosted in the US, and although that doesn't technically contravene ORG's privacy policy, we're not exactly brimming with confidence in the sanctity of the Safe Harbour provisions either ;-)

An alternative might be the German company [Clever Reach](http://www.cleverreach.com/) - I hear they have a good API and I happen to have test keys in hand (for another ORG-related proje

[2014-06-23 19:07] dantheta commented on #6
That's cool - I was just aiming to find out what you were already using.  I'm equally happy with plain ol' SMTP too.  I'm not sure what e-activists' facilities are like for sending personalised notifications to individual users.

I can write the database part of the results sender and change notifier leaving the mail transport part of it 'til last, if that would be useful.

[2014-06-23 19:35] graphiclunarkid commented on #6
@dantheta I've made a tentative start on code to populate the new database columns and table. Will hopefully have something for you to review before the evening is out :smile:

[2014-06-23 20:01] mkillock commented on #6
I have some experience with setting up postfix to be a well behaved mass mailer, if that helps. Need to do things like only send one email per 20secs to AOL and such otherwise they block the server IP for 24 hours!

[2014-06-23 20:03] mkillock commented on #6
Yahoo like DKIM signatures, some like SPF records and so on. If we do this, might be handy to have a separate sub domain for sending, else will need to track down all the IP addresses that use the main ORG domain, including e-activist's IPs

[2014-06-24 00:12] graphiclunarkid commented on #35
@pamcowburn Ah, fair enough! Sorry - it looked like it was destined for the cutting-room floor for a minute ;-)

[2014-06-24 00:14] graphiclunarkid commented on #16
Hmm, ok. Maybe you and @gwire could find a time to reverse that hack and try out the suggested solution? We can always put it back again if this doesn't work!

[2014-06-24 00:17] graphiclunarkid commented on #36
I guess since the permalinks will be pretty visible anyway it wouldn't do any harm to GET them explicitly from the homepage. Would there be some juggling of the request order to do? I'm wondering exactly when in the sequence of events we can reference the URL value and boost it into the redirect parameter...

[2014-06-24 00:22] graphiclunarkid commented on #25
Wow - that's awesome! Definitely want to get this in as an enhancement!

[2014-06-24 08:13] pamcowburn commented on #35
Don't worry I have kept a copy of all the original text so my edits can be reversed if necessary!

[2014-06-24 11:19] mkillock commented on #16
I need shell access to the ORG main server, or otherwise @gwire will need to edit the index.php file for us, with the following (untested)

<?php
/\* don't execute if in the Manager */
if ($modx->context->get('key') == 'mgr') {
return;
}

$requestdomain = strtolower ($_SERVER['SERVER_NAME']);
switch ($requestdomain) {
case 'new.blocked.org.uk':
// if the http_host is of a specific domain, switch t

[2014-06-24 11:21] mkillock commented on #16
Or I can test on staging, and ask for it to be copied over? Can't really test it entirely on staging though (only one context at the moment), and also there is a risk of breaking everything on live because it requires changes to index.html.

Advice please!

[2014-06-24 11:23] mkillock commented on #36
OK, I'll have a go at changing the thankyou page to use the GET variable. Are we still wanting the thankyou page and results page to be the same thing?

[2014-06-24 11:25] mkillock commented on #36
Oh, I see your point. Not sure it will work, let me investigate when I have time later. I'm not sure whether the url can be passed to a redirect url that changes after the form is submitted! Doesn't sound plausible

[2014-06-24 11:38] mkillock commented on #36
Curiosity got better of me - you are right @graphiclunarkid - we can't pass a GET variable from a submitted form to the redirect page, or at least FormIt doesn't seem to give us that option. So that seems to leave us with:
1. Leaving the refresh of thankyou page redirecting to homepage, because we want visits to that page without submitting the form to go to home page
2. Letting people reload the

[2014-06-24 11:41] mkillock commented on #36
Actually - on my system (Firefox) I can reload the thankyou page without it redirecting to homepage after a homepage submission. Why is that? Has one or both of us got unusual cookie settings?

[2014-06-24 14:01] mkillock commented on #45
Sorry, I'm a bit late to this discussion. Do we need to implement a email verification system still? If so, where is that issue?

[2014-06-24 16:12] graphiclunarkid commented on #45
@mkillock verifying email addresses is #18

[2014-06-24 23:30] graphiclunarkid commented on #6
The API and database can now store contact details and preferences directly. Next step: change the SubmitURL snippet to take advantage.

Example here: https://github.com/openrightsgroup/Blocking-Middleware/blob/master/example-client/example-submit.php#L28-L77

[2014-06-25 07:18] mkillock commented on #6
I can do that later today

[2014-06-25 09:37] pamcowburn commented on #2
Lee has set up blocked@org.uk - it will come to me, Jim and richard.
I think the email should come from an individual. Prob makes sense if it's Richard but needs to be ORG - branded.

One branding question - to fit with logo think we should refer to blocked as Blocked! when writing it in text or refer to it as blocked.org.uk - any preferences?

Here is content for the email:

Subject: Blocking res

[2014-06-26 11:34] graphiclunarkid commented on #6
I've tested the snippet in the above commit on staging and it seems to work OK.
@mkillock: could you take a look, and if you're happy, either copy it to the live server or let me know so I can do it?

[2014-06-26 11:56] mkillock commented on #6
@graphiclunarkid Looks good to me! :) I can't access the live server at the moment as I don't seem to be able to log in. Thanks for doing this even though I said I would!

[2014-06-26 12:46] mkillock commented on #6
I've got in, and have copied your work over to new.blocked

[2014-06-26 12:47] graphiclunarkid commented on #6
Argh! I was just doing the same... _/me goes to check he hasn't broken anything_
Edit: OK, it looks fine. Thanks @mkillock!

[2014-06-26 12:52] JimKillock commented on #6
You can view manager actions chronologically: Reports » Manager actions

Looks like Matt did the last set of additions, I can't see any for Richard.

[2014-06-26 12:54] graphiclunarkid commented on #6
Interesting! @mkillock must have copied the code from the staging server then, and not from the git repository, as there's a sneaky extra bug-fix I was just testing on staging which has made it over to live but isn't committed to the repo!

[2014-06-26 12:58] mkillock commented on #6
yup, copied from staging!

[2014-06-26 12:58] mkillock commented on #6
sorry, I'll step aside

[2014-06-26 13:00] graphiclunarkid commented on #6
It's OK Matt, I'm done. Thanks for your help :smile:

[2014-06-26 13:08] mkillock commented on #6
OK good! I aim to be on techvols later - 8:30 BST / 7:30 GMT, right?

[2014-06-26 13:11] graphiclunarkid commented on #27
I had a look at this on staging while I was fixing something else. By looking in the database I could see it wasn't working as expected however I think I've found the problem. In the part of the submitURL snippet where we build an array of fields to submit to the database I believe...

[code]

should be

[code]

Otherwise we're storing the original data that was POSTed to the script not the data t

[2014-06-26 13:20] mkillock commented on #27
Sounds correct to me, I think I must have neglected to change that after copying the example code for submission on GitHub. May need to check what actually ends up in the API DB, though? Yes, $_POST will not have the 'no' for unticked options and the userEmail field and submittedURL fields would be missing, leaving only the hashed values.

[2014-06-26 13:28] graphiclunarkid commented on #27
Here's an example of what ended up in the API DB:

[code]

I'm now trying to do a bit of tidying up so that we don't store the same data against both the obfuscated and real field names!

[2014-06-26 13:52] graphiclunarkid commented on #27
OK I've updated the snippet to remove the obfuscated fields from what gets stored in additional_data by setting them to null:

[code]

The database column contents look much cleaner now :smile:

[code]

If you're happy with this then I think we can close this issue.

[2014-06-26 14:05] graphiclunarkid opened #49 "Contacts record with null email address created if no contact check-boxes are set"
Trying: to submit the form on the results page without changing any of the fields (i.e. form is blank)
Expected: validation error
Got: Form is submitted successfully; database badness happens.

The front-end form validation only validates the email address field if one of the three checkboxes is set (allowcontact, subscribereports or joinlist). If all three are cleared, and the email field is empt

[2014-06-26 14:28] graphiclunarkid commented on #6
@mkillock I've been away for the last couple of meetings so I don't think they've happened. I haven't heard about one tonight but I'll probably be online anyway if you wanna go over some stuff. Maybe not until about 20:30 BST though.

[2014-06-26 14:29] graphiclunarkid opened #50 "Send emails to report subscribers"
When people submit URLs for testing we ask whether they want to subscribe to regular blocking reports about that URL. If they say yes we store their email address in the contacts table and a flag against the request record ("subscribereports") indicating they'd like to receive reports. We need a mechanism that:
1. Detects when a URL has changed state
2. Finds all the reports for that URL where (a)

[2014-06-26 14:30] graphiclunarkid opened #51 "Set up email server or service"
We need to set up either an SMTP server of our own, or a third-party service, to send out emails to report subscribers. Below is some discussion from an earlier issue, copied for reference:

@dantheta: By the way - do we have a preferred way of sending email to subscribers? Something like mailchimp API or another service like that, or is it cool to use a PHP mailer class and the local postfix inst

[2014-06-26 14:37] graphiclunarkid opened #52 "Unsubscribe from email reports"
As a report subscriber I want to unsubscribe so that I can stop receiving unwanted information.
- Should be a single click to unsubscribe

[2014-06-26 14:38] graphiclunarkid commented on #6
This thread is getting unwieldy. Since we've technically achieved allowing people to sign up for reports properly (i.e. storing it in our database in a form we can query easily) I'm going to close this issue now. In order to get the full feature we still need to implement:
- Results summary table (I think @dantheta may have done this now though)
- Double opt-in for emails / verification of address

[2014-06-26 14:38] #6 closed, assigned to graphiclunarkid

[2014-06-26 15:02] graphiclunarkid opened #53 "New page: thanks for submitting your information"
This is the page to which the form on the results page redirects when submitted. Necessary because we moved most form elements to the results page (#36).

https://new.blocked.org.uk/thanks-for-submitting-your-information

(This is page ID 7482 in the new.blocked modx instance)

Needs:
- Page content
- Styling
- Navigation

Suggestion:
# Thanks!

If you signed up to receive emails from us please ch

[2014-06-26 15:40] webal commented on #53
I can have a crack at that tomorrow night

[2014-06-26 17:51] dantheta commented on #50
I've got a database script that can detect status changes very cheaply and easily, populating a url_status_changes table that can be used for reporting and scheduled email sends.

When the url_latest_status table is being updated, the script has got the old and new status in the same context, so it can compare them and write a "changed" row to another table really efficiently.  This saves having t

[2014-06-26 18:34] mkillock commented on #52
Can this be the same sort of mechanism as the email sign verification process, e.g. have a token against each email that can be used in a link to unsubscribe? Or have some kind of hash calculated from the email address/db table key id?

[2014-06-26 21:26] dantheta commented on #49
Ah - I don't think the email was null in the database (the column has not null declared on it).  The email address field is empty ( '' ) on one record though.  The patch in the pull request will handle it though.

[2014-06-26 21:29] graphiclunarkid commented on #49
Thanks Dan - yeah, I thought that column was NN, but I raised the bug before I checked the DB schema ;-) Just fixing up the patch now based on your comment.

[2014-06-27 09:49] mkillock commented on #38
I've written something on staging for this, in SubmitURL under the section titled "//SUBMIT EMAIL TO E-ACTIVIST AS NECESSARY" - I've commented out the line where the data is actually posted for now.

I checked the code by posting data to our url submission form, and it worked, so I changed the config to point to e-activist and have asked James to see if the registration is successful, not heard an

[2014-06-27 12:38] JimKillock commented on #38
We got a result for test@ but not forum@

[2014-06-27 13:57] mkillock commented on #38
The code in SubmitURL on staging now automatically submits emails to EA ORG list when joinlist=checked. I've not copied to live.

Later enhancements can be to add full name/postcode to a form - some discussion first perhaps? Do we want to present yet another form with postcode and full name and the other fields? Or include these perhaps unnecessary items on the thank you page?

[2014-06-27 15:04] JimKillock opened #54 "Provide % blocks per ISP"
@pamcowburn would like results per ISP. This would ideally be against a known data set, e.g. Alexa top 100,000 to give it verifiability. This could be displayed on the site (ideally) or just reported back to us. If we can get it soon, we can use for the media launch.

[2014-06-27 19:24] JimKillock commented on #43
Ping on this in case we can fix it before launch. @webal you can just send me a larger version of the blocked logo, being about 600px wide (whatever height)

[2014-06-27 19:26] JimKillock commented on #32
Are we doing this for launch?

[2014-06-27 19:29] JimKillock commented on #13
I agree contacting them would be a good idea, rather than just doing it

[2014-06-27 20:00] webal commented on #43
I've added it to the repo here: https://github.com/openrightsgroup/blocked-org-uk/tree/5ae567de5d4af5f1596d4602ebec516f4c0e447f/gfx

Sorry haven't had a chance to do much this weekend, I'll be clearing up what I can over the weekend.

[2014-06-27 21:00] dantheta commented on #54
That's no problem.  What format would you like (Excel, Openoffice)?

[2014-06-27 21:11] JimKillock commented on #54
Either, Open Office is what we use day to day - thanks!

[2014-06-27 21:25] dantheta commented on #54
I've sent the URL dataset and the network summary to you and Pam.

[2014-06-27 21:30] JimKillock commented on #54
That's great @dantheta - there's lot of useful info there! Could you (or someone) help us process the data into some simple stats? Ie total instances of blocks per ISP - I'm not great with spreadsheets!

[2014-06-27 21:30] JimKillock commented on #54
BTW eyeballing the list gives lots of crazy block examples …

[2014-06-28 00:02] JimKillock commented on #43
Great, that's all done. I've added the images for each social share, as well as implemented Twitter cards / OpenSocialGraph

[2014-06-28 00:02] #43 closed, assigned to webal

[2014-06-28 08:25] dantheta commented on #54
Yep, I'll add some percentages to the summary sheet and resend - it'll be a little bit later today, though.  Hope that's OK.

[2014-06-28 15:18] JimKillock opened #55 "Results page OG bug"
On the results page for URLs, currently the OpenGraph URL meta rage is broken:

[code]

which derives from the page ID [[*id]] in MODx. This URL needs to read

[code]

else the OpenGraph protocol observes the results page redirect back to the home page.

[2014-06-28 15:46] JimKillock commented on #24
Still seems to be an issue:

https://new.blocked.org.uk/results?url=http://www.piratebay.se

This is still showing “ok” results for BT: but seems to be functioning elsewhere for BT

https://new.blocked.org.uk/results?url=http%3A%2F%2Ffenopy.se

[2014-06-28 16:27] graphiclunarkid commented on #24
Did you resubmit the site for checking or just visit the results page?

When I checked the result via the link you posted it said the last check for http://www.piratebay.se/ was on 2014-06-03 01:17:15.

I just resubmitted the URL via the front page and it's now showing as blocked...

[2014-06-28 18:28] dantheta commented on #24
I'm pretty sure it was showing an old result from before this fix was rolled out.  At the time that the most recent set of status requests came in (17:37), the most recent result was from 2014-06-03.

At the moment, the recheck period on the list of URLs we have is around 50 days.   We'll be able to improve this considerably once the mobile probes are online.  Unless we keep a separate recheck dat

[2014-06-28 21:47] dantheta commented on #51
I've put the bare minimum sender config into postfix on the API server.  This at least changed the origin domain to blocked.org.uk instead of the system assigned hostname.

[2014-06-29 01:18] JimKillock commented on #32
I think we should do this, as we may get quite a few enquiries at launch. We can have it started and add as we get new but likely to repeat questions.

[2014-06-29 14:03] graphiclunarkid commented on #51
We could try https://uk.mailjet.com/. It's £5/month for 30k messages/month, has both a RESTful and an event-driven API, and would handle #52 for us too. The company is French.

[2014-06-29 16:03] dantheta commented on #50
There's some work-in-progress on the new-url-subscription branch which moves the URL status subscription from the requests table to a new, uniquely-indexed url_subscriptions table.  This will make it easier to pull out the list of subscribers for a URL, since we won't have to deal with multiple requests by the same contact for the same URL.

[2014-06-29 17:10] dantheta commented on #50
Just a quick question:

"Emails should be limited to a maximum of one per day."

Is this one email per url per day, or one email per url/isp combination?  In the event of a URL changing status on more than one ISP on the same day, do we want to email alert on the first ISP only, or once for each ISP?  (sorry if it seems like I'm obsessing over the improbable).

[2014-06-29 17:12] JimKillock commented on #50
Yes, the idea is if the status results keep flipping for some reason (and also for some reason we detect this), then people should not be given repeated results.

[2014-06-29 17:12] JimKillock commented on #50
So just one email per url per day.

[2014-06-29 17:28] #24 closed, assigned to dantheta

[2014-06-29 17:30] JimKillock commented on #54
That's great Dan. I'll leave the ticket open as a possible enhancement. Although we probably need a bigger conversation about where the next steps in terms of stats, public info, queries to the DB should be :)

[2014-06-29 17:36] #27 closed, assigned to graphiclunarkid

[2014-06-29 17:38] #22 closed, assigned to nobody

[2014-06-29 17:40] graphiclunarkid commented on #42
@gwire has set up the Raspberry Pis are set up in the office, installed OSs on them, and routed them to the outside world via a new router. Three out of the four have mobile dongles installed and working: O2, Vodafone and EE. We're waiting for the Three SIM, which I understand @jimkillock has.

There is a routing-table issue to overcome because the Pis have more than one network interface. @danthe

[2014-06-29 17:43] JimKillock commented on #51
I don't know if we need a separate email service or not: maybe @gwire can say what he thinks. We're using our own servers for staff email SMTP, and also the mailman lists.

[2014-06-29 18:02] graphiclunarkid commented on #36
I'm using Chromium. It could have been a weird cookie thing, since I can now refresh the thankyou page and have it reload the results, rather than redirecting back to the home page. I guess we can close this therefore. If it reappears we can open a bug instead.

[2014-06-29 18:02] #36 closed, assigned to nobody

[2014-06-29 18:13] graphiclunarkid commented on #17
This is no longer relevant now we're not offering to email one-off reports to visitors.

[2014-06-29 18:13] #17 closed, assigned to nobody

[2014-06-29 18:43] graphiclunarkid commented on #12
@mkillock I can't think of a good reason for having separate pages for results that are shown after submitting a URL on the homepage and results shown by visiting a static URL. The only thing that does is give us two pages to maintain and prevent people who arrive directly on the site from filling in the form to subscribe for alerts etc.

The HTML encoding issue isn't. In fact it's a problem with

[2014-06-29 18:47] graphiclunarkid commented on #54
That "bigger conversation" is issue #31.

[2014-06-29 21:00] graphiclunarkid commented on #35
Perhaps the "future plans" section on the get involved page should move to live with the "how it works" section on the about page?

I don't think the community's collaboration methods are really "contact details". I think these need to be on the "get involved" page with the other information about the community. They're also duplicated on the "about" page at the moment.

[2014-06-29 21:23] graphiclunarkid commented on #35
Can we review our use of language across the site? I think the following need looking at:
- Use of the words censored, blocked and filtered. Let's make sure we're consistent and it doesn't sound clumsy. If we're calling this censorship let's make it obvious.
- Use of the terms URL, site, page, website, etc.
- Remove any references to emailing results when they are ready: we're no longer building t

[2014-06-29 21:24] graphiclunarkid commented on #35
I think we should get rid of the huge map on the contact page. Maybe that page's layout should be similar to that of the license page?

[2014-06-29 21:43] pamcowburn commented on #35
I think OK to switch between censored, blocked and filtered as long as there is some consistency, otherwise it can be repetitive. The narrative should be that filters block sites, which leads to censorship.
I prefer using Blocked or the Blocked project rather than CMP. I think it's stronger.
I don't think I can change the form on the personal stories page.
I think the line is that the government i

[2014-06-29 22:50] #49 closed, assigned to graphiclunarkid

[2014-06-30 13:51] graphiclunarkid commented on #32
Q: What filtering settings are configured for each ISP and why

[2014-06-30 14:17] #54 closed, assigned to nobody

[2014-06-30 14:19] JimKillock opened #56 "Add snapshot to get involved page"
Add data snapshot to get involved and licence pages

[2014-06-30 14:53] graphiclunarkid commented on #12
For launch @jimkillock is going to duplicate the page content from /results into the page that gets displayed when someone visits /resurlts?url=whatever. This requires minimal work and the pages will then appear the same to visitors.

Post-launch we should look into making them the same modx resource as then we won't have to remember to make changes in both places.

[2014-06-30 15:12] graphiclunarkid opened #57 "Long domain-names don't wrap results page, causing layout issues"
![screenshot from 2014-06-30 17 10 54](https://cloud.githubusercontent.com/assets/433456/3431269/08470840-0069-11e4-89e5-ebc652f88f2e.png)

[2014-06-30 15:14] graphiclunarkid commented on #57
Ironically this looks better at lower browser widths because Bootstrap moves columns to be rows so the lengthy URL doesn't overlap the content in columns to the right!

[2014-06-30 15:44] mkillock commented on #57
I can add a space in every so often? Bear in mind that the page title uses the same placeholder so I can't put BR tags in there.

[2014-06-30 15:47] mkillock commented on #57
Added $url = chunk_split($url, 40, ' '); to snippet, so every 40 chars gets a space. The gap can be adjusted very easily if required.

[2014-06-30 15:48] mkillock commented on #57
Oh, just noticed that is the thankyou page, will need to add to another snippet too

[2014-06-30 15:53] mkillock commented on #57
Have added to GetURLHistory snippet in various places too. We may want to adjust the distance between gaps depending on where the url is displayed, which is possible

[2014-06-30 15:54] mkillock commented on #57
Closing - reopen if the gaps are incorrect!

[2014-06-30 15:57] #56 closed, assigned to JimKillock

[2014-06-30 16:09] graphiclunarkid commented on #57
Still not working for me on /thankyou page. Tested on new.blocked and stage.blocked. Works on the /results?url=http://somethingridiculouslylong.com page though.

I think a better solution might be something like:

[code]

Then we can use:

[code]

This would truncate the URL displayed on the screen to 40 characters, trailing off with "..." if truncated so people can see what we did. Hovering over

[2014-06-30 16:09] JimKillock commented on #12
That's done: the page is a near copy - not quite the same content at the page top

[2014-06-30 16:25] graphiclunarkid commented on #12
Cool - thanks. I'm going to close this and raise the trailing-slash issue as a new issue. If we want to revisit _how_ this is done later (i.e. use @mkillock cleverness rather than duplicating the page) let's do so under a separate issue.

[2014-06-30 16:25] #12 closed, assigned to JimKillock

[2014-06-30 16:26] graphiclunarkid opened #58 "URLs with trailing '/' treated as different sites to those without"
Split out from original discussion in #12

Trying: to visit the results page for a website.
Expected: requesting any of the following URLs gives the same results page

https://new.blocked.org.uk/results?url=https://richardskingdom.net
https://new.blocked.org.uk/results?url=https%3A%2F%2Frichardskingdom.net
https://new.blocked.org.uk/results?url=https://richardskingdom.net/
https://new.blocked.org.

[2014-06-30 16:29] mkillock commented on #57
OK, will check this out later (approx 8pm)

[2014-06-30 18:18] graphiclunarkid commented on #51
@gwire has said we should be fine to use ORG's existing SMTP server for this. I think we should do so, at least initially, as we don't have much time and regular SMTP from PHP sounds like a solved problem.

If whoever is working on this wants to email me I will share my login credentials so that we can get cracking. Hopefully the server will let us send as (blocked at) even though we're authentica

[2014-06-30 18:37] dantheta commented on #51
Hiya -

I can get local postfix on the API server to authenticate and relay
through the ORG SMTP server, which keeps things nice and straightforward
in PHP land.

I'm working on some of the foundation data handling for the email
reports at the moment.

Is the preferred sender address "blocked@blocked.org.uk" or is there
another option?  I'll be putting it in config anyway, so if it gets
changed la

[2014-06-30 18:40] graphiclunarkid commented on #51
Per the discussion in #2 I think we are using (blocked at openrightsgroup dot org).

Forwarding through our local SMTP server to ORG's would make it easier to change provider later if necessary. Good idea!

[2014-06-30 19:53] mkillock commented on #57
Looking at this now

[2014-06-30 20:21] graphiclunarkid opened #59 "Store personal stories in API database"
I expect @pamcowburn would like all personal stories to end up in the same place whether they are submitted through the form on the results page or the call-to-action on the personal stories page. At the moment I think both end up in the FormIt database somewhere, but not in a very accessible form, whereas only the former is stored in the API database. The latter are currently emailed to (blocked

[2014-06-30 20:36] graphiclunarkid commented on #35
- Agree on switching between synonyms - also I think your narrative that filters blocking sites results in censorship is great :)
- CMP is out, then, at least for use on the site (we may still refer to that in the technical community - off site).
- I've updated the form on the personal stories page - let me know if you want to make any further changes (or it's in the "tellstory" chunk, resource nu

[2014-06-30 20:39] mkillock commented on #57
OK, done! Perhaps @graphiclunarkid can check?

New snippet called GetUrlFromLink running in results and thankyou page chunks that
1. returns full url in [[!+fi.domainToCheck]](to remain forward compatibility for combining the two pages into one later)
2, returns shortened url in [[!+ShortenedURL]]

NOTES from snippet:
// NOTE: this snippet can be called on the thankyou page and the results page. S

[2014-06-30 21:05] graphiclunarkid commented on #31
It would be interesting to get statistics by domain rather than individual URL (e.g. X% of sites tested at blogspot.com were blocked...)

[2014-06-30 21:49] graphiclunarkid commented on #57
I think the snippet is spot-on, thanks!

I've made a few changes to the layout of the pages, notably:
- Move the URL to a smaller heading below the main heading to fit in more characters.
- Set title="[[!+fi.domainToCheck]]" on the HTML elements containing [[!+ShortenedURL]] so that hovering over them displays as much of the full URL as possible in a tooltip.
- Avoided using the URL text where we

[2014-06-30 22:13] dantheta commented on #42
Vodafone, O2 and EE are all up and running.

[2014-06-30 22:35] graphiclunarkid commented on #57
Static results page now updated.

[2014-06-30 22:37] graphiclunarkid commented on #57
Assigning back to @mkillock for a final check that I haven't done anything stupid - otherwise I think we can close this :)

[2014-06-30 22:40] dantheta commented on #58
The API has a URL normalization function which can fold these two cases together.  I think that's probably a pretty good place to take care of it.  Does that sound OK to you?

[2014-06-30 22:42] dantheta commented on #51
Cool.  If you can send me the SMTP auth details, I'll get them plumbed in.

[2014-06-30 22:43] graphiclunarkid commented on #58
Yes, that makes sense. I did wonder whether it might be something we needed to tackle in the SubmitURL snippet (which deals with missing http:// prefixes) but your idea sounds better.

[2014-06-30 22:45] dantheta commented on #58
I've just checked, and it's a pretty straightforward (with some data cleanup to follow).  Do you prefer the bare-domain URLs with or without a trailing slash?

[2014-06-30 22:49] graphiclunarkid commented on #58
My opinion is that we should remove the trailing slash. That might be because I've just been looking at ways to prevent long URLs from screwing up the results page presentation though :wink:

[2014-06-30 22:53] graphiclunarkid opened #60 "Some TLS sites time out too quickly"
I think some sites served over TLS are taking longer than we expect to respond. The results then appear as 'timeout'. I'm not sure if the probes give up, or if this is reported by the API somehow, because refreshing a query for such a site sometimes returns more results for more ISPs.

Example: my blog is only available over TLS. Further, it uses encryption algorithms that support perfect-forward

[2014-06-30 23:06] dantheta commented on #51
Postfix set up with authenticated outbound relay.  Canonical address mapping set up for the chosen email address.  All tested from the command line and working fine.  There isn't any enhanced mail queueing at the moment (as @mkillock mentions, AOL and Yahoo are very funny about accepting mail).

[2014-06-30 23:23] dantheta commented on #60
Yep, we can enable different timeouts for different transports.  I'll open an issue on the probe repository to remind me.  If we need to increase the number of workers because some of them are blocked on slower network operations, that's absolutely fine - it's part of the design.

[2014-06-30 23:49] dantheta commented on #58
The test cases above all check out.  Now for the fun part - folding together all of the previous results for the URLs that have been folded together ...

[2014-07-01 00:00] mkillock commented on #51
I can tell you what I've learnt doing this for work.
1. Return Path and SenderBase have a database of IP address reputations which some of the larger mail handler's use partly to decide how to deal with mail from that IP. Both have an IP lookup to see how you are doing.
2. More or less all the large email providers will block mail if it arrives too quickly from an untrusted source, so rate limitin

[2014-07-01 09:40] JimKillock commented on #42
the Three SIM is now activated and installed in the RPi if @dantheta wants to give it a go.

[2014-07-01 10:02] graphiclunarkid opened #61 "URL shorteners"
When someone submits a URL from a link shortener such as tinyurl.com, bit.ly or t.co, are we interested in whether the short-link is censored or the page to which it redirects?

It would be interesting to investigate whether URL shorteners themselves engage in censorship - but that's not the current focus of this project. Maybe we should consider recognising shortner domains and dereference such l

[2014-07-01 10:23] mkillock commented on #57
Looks fine! This snippet should enable us to merge the two chunks as one now - to save duplicating the content. Both FormItRetriever and GetUrlFromLink (in that order) will need to be called in the combined chunk, but it should work

[2014-07-01 10:23] #57 closed, assigned to mkillock

[2014-07-01 10:58] dantheta commented on #42
Hiya -

I'm having a bit of trouble getting sakis to start the 3g connection.
Three's site says that the APN is "three.co.uk" (with no username or
password), but sakis reports an SIM error while checking for a PIN ...

The eth0 routing fix is installed on that pi, so it's fine for the 3G link
to come up and down.  Does anyone have any ideas?

Daniel.

On Tue, Jul 01, 2014 at 02:40:27AM -0700, JimK

[2014-07-01 11:03] JimKillock commented on #42
You8 could try navigating to

three.co.uk/my3

and see what it says. Three assured me it was working but they could be wrong. Alternatively we could try to SIM on a computer here to make sure it’s working.

On 1 Jul 2014, at 11:58, Daniel Ramsay notifications@github.com wrote:

[2014-07-01 11:50] graphiclunarkid commented on #9
Current status: the privacy impact assessment for blocked.org.uk is still being written. We think it will conclude that it'll be sufficient to ask people to sign a confidentiality agreement. We haven't got one of these that we're happy with yet - however we're working to put one in place as quickly as possible.

[2014-07-01 13:24] graphiclunarkid commented on #32
Page added. Styling done.

[2014-07-01 15:25] graphiclunarkid commented on #32
Content added. Could do with a review by @jimkillock and @pamcowburn.

[2014-07-01 16:19] graphiclunarkid commented on #53
Basic page layout and content complete. Needs social sharing buttons but will do this as part of openrightsgroup/blocked-org-uk#30.

[2014-07-01 16:19] #53 closed, assigned to graphiclunarkid

[2014-07-01 16:20] #32 closed, assigned to graphiclunarkid

[2014-07-01 19:02] graphiclunarkid commented on #10
I've done this in text for now since the space on this page doesn't lend itself well to using @webal's CTA chunk right now. We can come back to this later and make it more pretty if we like though!

[2014-07-01 19:02] #10 closed, assigned to graphiclunarkid

[2014-07-01 19:30] dantheta commented on #61
At the moment, the probes follow the redirects from the shortened URLs.  If the ISP decides to block that, then we record it as a block against the original shortened URL.  We could decide to record it as a block against both the shortened URL, the target URL (and any intermediate URL if there's a chain of URL shorteners at work), but it would require a change to the response submission part of th

[2014-07-01 19:52] graphiclunarkid commented on #55
Possibly because the query string doesn't form part of the MODx page ID? We can fix this using a new chunk just for the blocked site. If we do that, I suggest we use the existing chunk on all pages except /results, which will also let us tailor the OG description field for the results pages.

The existing chunk uses the page [[_longtitle]] as its content unless that's blank, in which case it uses

[2014-07-01 20:08] graphiclunarkid commented on #38
Copied to live. Please can someone with access to e-activist test this is working from http//new.blocked.org.uk/ ?

@jimkillock, @ruthc

[2014-07-01 20:09] graphiclunarkid commented on #16
Needs review by @gwire. Have emailed to ask.

[2014-07-01 21:11] graphiclunarkid commented on #61
Awesome! I don't think any changes are necessary in that case. It sounds like we're treating URL shorteners as being transparent unless they're censored explicitly: so normally, submitting a shortened URL will cause its target to be tested, and the results for the full URL being reported.

[2014-07-01 21:11] #61 closed, assigned to nobody

[2014-07-01 21:30] webal commented on #48
not sure what happened there the responsive nav wasn't working properly, Updating bootstrap seemed to fix it.

I had to switch to the cdn for bootstrap though as Modx wouldn't allow me to upload the various font files.

All fixed now if someone wants to check

[2014-07-01 21:31] #48 closed, assigned to webal

[2014-07-01 21:36] graphiclunarkid commented on #35
To do list:
- [x] About page: Link to Error 451 site from about page (where we talk about court-ordered blocking)
- [x] About page: remove MP CTA box and replace with the Support the Blocked project and the bullets that appear lower down.
- [x] Newsletter sign-up CTA
- [ ] Contact page: remove map (having second thoughts about this now though!)
- [x] Contact page: remove community collaboration in

[2014-07-01 21:38] graphiclunarkid commented on #48
Just checked and it works fine for me. Thanks!

[2014-07-01 21:39] webal commented on #47
I've added a couple of classes to the CSS to handle this .no-top-margin and .no-bottom-margin.

For the home page to work this needs to be applied to the bottom of the red box, but also as it is the last box on the page the top of the footer. See the updated git repo to see what I changed on index.html(https://github.com/openrightsgroup/blocked-org-uk/commit/f8ed556643c5607aad371a66b4960e484591c41

[2014-07-01 21:50] webal commented on #32
FYI I've updated the css file to make the questions stand out a bit better

[2014-07-01 22:08] webal commented on #30
According to the snapshot http://instagram.com seems to be blocked on BT - seems a bit aggressive!

Also, rather randomly, http://metaldetectingforum.com - I haven't checked the site, maybe they have a 'readers detectors' section, but it look like a genuine site.

http://smogon.com, a site about pokemon, is blocked by talktalk

[2014-07-01 23:11] graphiclunarkid commented on #16
@gwire has very kindly switched the varnish hack over to www.blocked.org.uk. In the middle of the night. At no notice. Thanks!

He mentioned that we need to make the cookie HTTPS only, but that won’t break the site ATM, so just needs to go on the to-do list.

[2014-07-01 23:36] graphiclunarkid commented on #35
I have added a newsletter sign-up CTA to the about page (bottom right). It uses a new snippet based on @mkillock's additions to SubmitURL snippet for the same purpose. I have no idea if it works! If @JimKillock or @RuthC could check e-activist for a subscription this evening from bogus@richard-king-blocked-test.com (and then delete it, obviously) that would be great. Thanks!

[2014-07-02 01:01] graphiclunarkid commented on #47
Implemented on the home page. No other pages now suffer from this as we've moved content around a lot since this ticket was raised and we're mostly using that content-inverse class as was intended now!

Thanks Alex :smile:

[2014-07-02 01:01] #47 closed, assigned to nobody

[2014-07-02 01:01] graphiclunarkid commented on #32
Thank you!

[2014-07-02 01:04] graphiclunarkid commented on #30
BT's settings _are_ agressive at the moment. We've set them to "medium". The list of things blocked at that level seems to be comparable to TalkTalk's "KidSafe" mode, which was enabled by default on the TalkTalk line, however perhaps we're being too harsh on BT here. We could relax the settings to "light" if we wanted to.

Unfortunately no filtering was active on the BT line when it was installed

[2014-07-02 01:15] graphiclunarkid commented on #35
OK - I think everything that's been discussed is now implemented. Please do give the site a quick read-through when you get this as it's probable I've missed something. If you need me to do anything further please let me know.

[2014-07-02 10:08] mkillock opened #62 "Only update last blocked if blank?"
At the moment, each time we run the probes on a URL it updates the last blocked entry, so essentially most of the time we're presenting the same datetime in two columns. Would it be better to not update this column unless it is (a) null, (b) it's just been checked and found to be blocked?

This would mean that we have a record of when we first discovered it was blocked, and we'd have two different

[2014-07-02 11:16] graphiclunarkid opened #63 "Ask visitors whether they think a URL should be blocked"
Javier has suggested on the mailing list that we should be asking people to say whether they think a site should be blocked:

"On the classification form https://www.blocked.org.uk/thankyou I think the first question should be, should this site be blocked? Yes or No.

"The system assumes that the site is incorrectly blocked and goes straight into categories but what if the site is less clear cut?"

[2014-07-02 13:07] graphiclunarkid opened #64 "Individual anchors on FAQ questions"
Having anchors in the FAQ so we can point people to particular answers would be useful when responding to questions on social media etc.

[2014-07-02 13:08] graphiclunarkid opened #65 "Disclaimer / FAQ links next to results"
We're seeing comments from smart people saying they don't get blocked by an ISP the site says is blocking. This is almost certainly because they don't have the same filter settings, but it could quickly get to be a problem for us with people saying we're scare mongering & have a broken site -- see for example https://twitter.com/popey/status/484319220269056000

The Results page should have a clear

[2014-07-02 13:42] webmink commented on #64
Where is the FAQ please? I'd be happy to hack on this...

[2014-07-02 13:55] graphiclunarkid commented on #64
I wrote it directly in Modx (page id 7497) so it's not in the repository at the moment unfortunately. I will see if I can commit a copy - though Modx doesn't make this easy as portions of the page are scattered all over the place!

[2014-07-02 13:59] gwire opened #66 "In results "ISP" should specify filter level"
For example, in the case of BT - when it is checked against the "moderate" filter, the ISP should be listed like "BT (moderate)" instead of "BT".

This makes it clearer what setting blocks the site, and presumably would allow us to (in the future) run queries against different filters where suggested profiles are available.

[2014-07-02 14:03] NetworksAreMadeOfString commented on #66
We can only (feasibly) do this for probes under ORGs direct control or with a bullet proof canary list.

[2014-07-02 14:05] gwire commented on #66
In the case of BT, we _know_ the filter profile chose was "moderate" though, right?

[2014-07-02 14:08] NetworksAreMadeOfString commented on #66
But the API is open. In theory we could already have tens of 3rd party clients contributing from BT lines by now.

We'll need to alter (if not already done) the DB to add a "Filter Level" column and a lookup table (normalisation yay!)

[2014-07-02 14:29] graphiclunarkid commented on #65
Added to the bottom of the static results and submitted for checking pages. Have circulated to the advisory council mailing list to see if they have any suggestions for edits.

[2014-07-02 14:33] graphiclunarkid commented on #66
I believe we can distinguish between ORG controlled and other probes already. We want to surface this distinction in the results (when the time is right to start including third-party results) and we'll make it clear we can't be certain about the filtering settings on third-party clients.

For the ORG probes I think this is a good idea. It'll be especially useful if we want to expand to running mu

[2014-07-02 14:33] gwire commented on #16
It's the root index.php and I am _loathe_ to maintain patches for upstream ModX code - that would almost certainly bite us on some future upgrade. I'm sticking with the Varnish magic for now.

Next related step is:
- ensure only https support on the live site
- set HSTS header
- rewrite outgoing cookie to "secure only"

[2014-07-02 14:34] dantheta commented on #66
The filter_level column already exists, but there isn't code to accept
values for it yet.  It's free text at the moment (but that could change).

We'll need to do a bit more research to create a canary list to
auto-categorize, and specify what and how a probe should use this list.

I wonder if we can interrogate the home hub itself ...

Daniel.

On Wed, Jul 02, 2014 at 07:08:33AM -0700, Gareth Lle

[2014-07-02 16:36] gwire opened #67 "Flag URLs known to be blocked by court order"
Some URLs are known to be blocked by court order on some networks e.g. thepiratebay.se

We should maintain a list of these (if we don't already)

a) Then the results page
https://www.blocked.org.uk/results?url=http%3A%2F%2Fthepiratebay.se
should include a banner that mentions this fact - possibly linking to an entry on ORG or 451unavailable wiki.

b) See networks that are proactively blocking thes

[2014-07-02 17:21] graphiclunarkid commented on #67
I'm closing #46 in favour of this issue, as @gwire has provided a better description of the feature here. Not sure if @dantheta's proposed solution in #46 is still relevant however we can refer to that ticket if it is.

[2014-07-02 17:22] graphiclunarkid opened #68 "Trailing space on URLs returns errors in results"
If I leave a trailing space after the URL (eg "indiewebcamp.com ") I see a list of errors, if I delete it I don't. Autocomplete on mobile will often append a space, can we strip() the URL field?

[2014-07-02 17:23] gwire commented on #16
- All requests to http://blocked.org.uk/* and http://www.blocked.org.uk/* are now 301 redirected to https://www.blocked.org.uk
- HSTS header is in place
- Cookie is modified to include "Secure" - i.e. the cookie will only be submitted over https to *.blocked.org.uk domains

[2014-07-02 17:54] gwire opened #69 "4xx Error codes from API"
I've seen a handful of 400/404 errors from the frontend to the backend API.  Are appropriate people aware of the issue on the other end?

(I've snipped out the arguments - if germane let me know and I will add.)

[code]

[2014-07-02 18:00] NetworksAreMadeOfString commented on #69
That URL should be changed to api.blocked.org.uk ASAP

[2014-07-02 18:24] gwire commented on #69
[code]

[2014-07-02 18:26] gwire commented on #69
[code]

[2014-07-02 18:27] mkillock commented on #69
They both point to the same IP, so it could be API call overload?

matt@juno ~ $ host api.bowdlerize.co.uk
api.bowdlerize.co.uk has address 213.138.109.226
api.bowdlerize.co.uk has IPv6 address 2001:41c8:51:4e2:feff:ff:fe00:30ff
matt@juno ~ $ host api.blocked.org.uk
api.blocked.org.uk is an alias for stage.blocked.org.uk.
stage.blocked.org.uk has address 213.138.109.226

[2014-07-02 18:30] NetworksAreMadeOfString commented on #69
@mkillock I know but the SSL would be wrong which is bad :)

@gwire 404 could be legit if we're querying for the status of a URL that hasn't been submitted, try submitting it again and see if you still get a 404.

[2014-07-02 18:31] gwire commented on #69
API response to call overload should probably be
- 503 Service Unavailable (for a server issue)
  or maybe something like
- 429 Too Many Requests (if the client is being excessive)

[2014-07-02 18:33] gwire commented on #69
[code]

Ok, looks like at least one of those is someone checking for XSS.

[2014-07-02 18:34] NetworksAreMadeOfString commented on #69
Yeah @graphiclunarkid just posted to tech-vols about it.

htmlentities() all the things! ;)

[2014-07-02 18:35] gwire commented on #69
[code]

resulted in a 400 - i.e. "http://http:reddit.com"

[2014-07-02 18:44] NetworksAreMadeOfString commented on #69
Well that's correct IMHO (granted it should never have got through the normalisation process)

[2014-07-02 18:57] dantheta commented on #69
The XSS one is a valid URL, The encoding of the url argument is just fine.

The API will issue a 400 error for the http://http:reddit.com example, I think (invalid request).

If you're using the static results page to look for results for a URL that hasn't been submitted, the API will send back a 404.  The static results page doesn't submit the URL, so it's quite possible it won't be found.

When

[2014-07-02 20:06] graphiclunarkid opened #70 "Regular CSV data dumps"
At the moment we have a static dump of the database contents from just before we launched. It'd be nice to refresh this on a schedule, say nightly, so that people could download up-to-date data.

[2014-07-02 20:51] graphiclunarkid opened #71 "Improve XSS mitigation"
Static results URLs come in the form `https://www.blocked.org.uk/results?url=YOUR_URL_HERE`

Unfortunately XSS exploits come in similar forms. Two (mitigated) examples reported today are:

`https://www.blocked.org.uk/results?url=%3Cimg%20src=x%20onerror=alert%281%29%3E`
`https://www.blocked.org.uk/results?url=http://%22%20onmouseover=%22alert%28%27xxs%27%29%22`

I've added some basic input sanitis

[2014-07-02 21:08] graphiclunarkid commented on #68
Fixed by trim() ing the URL in the SubmitURL snippet. Requested testing from the person who reported the bug.

We should consider doing this in the API so that we don't have to worry about each client individually though.

[2014-07-02 21:08] graphiclunarkid commented on #65
A couple of people have nodded approval. No dissenting voices have made themselves known.

[2014-07-02 21:09] #65 closed, assigned to nobody

[2014-07-02 21:09] #35 closed, assigned to pamcowburn

[2014-07-02 21:10] graphiclunarkid commented on #16
Good point about patching ModX, @gwire - undesirable!

Given that the Varnish work-around is working, and you've implemented the other changes on your list, I think we can close this now.

[2014-07-02 21:10] #16 closed, assigned to gwire

[2014-07-02 21:12] dantheta commented on #68
Yes, very strange that PHP's parse_url function allowed this.  The API is a good place to fix it.

[2014-07-03 11:36] gwire opened #72 "Put links to example results on the front page"
I think we have sufficient submissions that we don't benefit from idle test requests being submitted.  I'd suggest some example links on the front page to sites that people might want to check.

E.g. links to
https://www.blocked.org.uk/results?url=http%3A%2F%2Ftorproject.org
https://www.blocked.org.uk/results?url=http%3A%2F%2Fwww.wikileaks.org

[2014-07-03 11:43] dantheta commented on #72
Related to this, we've got an open ticket on the API for rate limiting (by not resubmitting where the last result is less than <n> minutes old).  openrightsgroup/Blocking-Middleware#44

[2014-07-03 16:25] dantheta commented on #62
That field isn't really stored - the date of the last test and result is stored, and when the URL status for each ISP is looked up, it also looks up the last date where the status was 'blocked'.  You're right though: in the instance where a fresh 'blocked' result has been obtained, the last blocked time will always be the same as the last test time.  I can easily change it to return the earliest t

[2014-07-03 19:51] graphiclunarkid commented on #72
We could quite easily add a list of most frequently requested URLs in addition to a curated list of sites we think have notable or interesting results. Something like:

[code]

(Untested, cobbled together from google and stack overflow, I know nothing about SQL...)

[2014-07-03 21:44] dantheta commented on #50
Here's the current status:  The database table changes and the code for testing an email opt-in token are written and are on the feature/new-url-subscription branch of Blocking-Middleware.  This is pretty much ready for merging, once it's been reviewed.  It covers steps 1-4 of Richards original mini-spec.

Once it has been deployed, we'll need a URL on the web frontend that can receive the opt-in

[2014-07-04 08:26] mkillock commented on #62
Ah, right, I thought I might have misunderstood the DB design. I'm in favour of the new element in the JSON - sounds fine to me, but it's only worthwhile if there is general agreement that we should show the "first_blocked_timestamp" in the 4th column of the results, or add a 5th column.

Anybody got any opinions?

[2014-07-04 08:54] JimKillock opened #73 "Produce two overall stats, one for “defaults” and one for “any”, displayed on the front page;"
this would explain the differing results

[2014-07-04 08:55] JimKillock opened #74 "Output results per ISP / filter level"
display these on a page somewhere

[2014-07-04 09:21] NetworksAreMadeOfString commented on #73
IMHO any registered and DNS resolvable URL is implicitly "allowed".

This goes back to my point a while ago that we should "pre-crawl" URLs from the webserver (which is known to be unblocked and can gather HTTP return code, mime type, content length etc) before submitting to the probes.

[2014-07-04 09:24] graphiclunarkid commented on #73
I think what Jim means is that there should be two stats counters: one saying X% blocked on at least on network at default settings; and a second saying Y% blocked on at least one network across all results (including opt-in non-default categories). The expectation would be Y > X.

[2014-07-04 09:27] NetworksAreMadeOfString commented on #73
Ah, I see.

My bad.

[2014-07-04 13:11] dantheta commented on #62
I think first_blocked_timestamp is more useful than last_blocked_timestamp in general:

If a URL is currently blocked, last_blocked_timestamp == now, first_blocked_timestamp <= now ; (for URLs with no test history, first_blocked_timestamp == last_blocked_timestamp)
if a URL has previously been blocked and is currently OK, last_blocked_timestamp < now and first_blocked_timestamp <= last_blocked_tim

[2014-07-04 13:43] JimKillock commented on #74
Hoping it's ok to give you this task @dantheta!

[2014-07-04 13:44] JimKillock commented on #73
Again, I'm thinking it's for Dan and apologies for giving you more work!

[2014-07-04 14:22] dantheta commented on #74
Yep, no worries!

[2014-07-04 14:23] dantheta commented on #66
Is this a dupe of #74 (or vice-versa)?

[2014-07-04 21:02] dantheta commented on #73
There's a new element in the /status/stats response called blocked_sites_detected_default_filter, which contains the count of sites which are blocked at the default filter levels for any ISP.  The existing elements are left unchanged, so that the count doesn't suddenly change before frontend and copywriters are ready.

The /status/stats documentation on the wiki has been updated, and the code has

[2014-07-04 21:38] dantheta commented on #70
Hi - I've written the export script and schedule.  Are these headings OK (both in terms of analytical utility, and probe owner privacy?):

'URL','URL Submission Timestamp','Network Name','Filter Level','Status','Result Timestamp','HTTP Status','Probe Config'

Probe config is the version number of the rules file from the API that was used to process the response.

[2014-07-04 21:39] dantheta commented on #70
Also, would the URL http://api.blocked.org.uk/data/export.[datecode].csv.gz be OK, or would you prefer that it lives on the www site?  If the latter, we'll need to sort out a means of copying the file there (perhaps key-authorized scp).

[2014-07-04 22:09] dantheta commented on #50
I've updated the wiki API docs with the proposed API endpoint for verifying an email token.

https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_API#POST_.2Fverify.2Femail_.28proposed.29

[2014-07-04 23:14] JimKillock commented on #70
I think for now putting it on https://api.blocked.org.uk/data/export.csv.gz would make sense

The only privacy issue I would see is if the probe configs vary much - but even so, I’m not sure it matters much

[2014-07-05 15:00] JimKillock commented on #74
I guess we should be interested in both default and maximal blocking levels, i.e. be able to return results for any of our _key_ probes.

Not sure it should work like this for user probes tho. That would need to be cleverer, e.g. aggregate results by network provider, rather than probe.

[2014-07-06 14:36] dantheta commented on #70
Deployed and configured.  I'll send an availability email to the techvols list too.

[2014-07-06 14:36] #70 closed, assigned to nobody

[2014-07-06 19:35] JimKillock commented on #73
@mkillock can you help us implement this on the front end?

[2014-07-07 15:11] mkillock commented on #73
I've added a new placeholder [[!+blocked_sites_detected_default_filter]] which has the requested value. This isn't being used anywhere on the page yet, partly because it sounds like we need another bit of javascript that draws the animated percentage graph.

By the way, the JSON response seems to come back as:

{"success":true,"stats":{"blocked_sites_detected":24669,"blocked_sites_detected_default

[2014-07-07 15:20] mkillock commented on #73
No it seems that is what comes back in the response, judging by pasting in the query into a webrowser

[2014-07-07 16:21] dantheta commented on #73
My bad, the database column for the key is too short.  fixing that shortly!

[2014-07-07 16:22] dantheta commented on #73
Right, fixed now.  Will update the DB docs when I get home.

[2014-07-07 16:24] mkillock commented on #73
Thanks! I've also updated GetURLStats snippet to work with the lengthened name.

@webal - can you do the 2nd percentage graph? Assuming that's what @JimKillock wants?

[2014-07-07 17:11] gwire opened #75 "Show related tests for http sub-pages"
(Applies to http:// sites only.)

If a user queries for an http site, e.g.
https://www.blocked.org.uk/results?url=http%3A%2F%2Fwww.reddit.com/
the output should also provide links to any subpages that have different results
e.g. https://www.blocked.org.uk/results?url=http%3A%2F%2Fwww.reddit.com/r/gonewild

If a user enters https://www.blocked.org.uk/results?url=http%3A%2F%2Fen.wikipedia.org
the ou

[2014-07-07 19:01] JimKillock commented on #73
@webal that would be great if you can help :)

[2014-07-07 19:21] JimKillock commented on #73
OK, I hacked @webal's scripts to produce two graphs, not great presentationally however - pushes the form very low.

[2014-07-07 19:23] JimKillock commented on #74
Hey Dan, if you're able to do any of this before Thursday I'd be very grateful - we have a meeting with the over blocking working group then, so we can discuss the results :)

[2014-07-07 20:06] JimKillock commented on #73
Kind of done for now I think - thanks all!

[2014-07-07 20:06] #73 closed, assigned to mkillock

[2014-07-07 22:07] dantheta commented on #74
I've prodded the database and made the BT-Strict, BT-Moderate and TalkTalk-Kidsafe results appear in the standard output.  Those entries are not being updated at the moment, but for any URL that exists in that recordset the historical results will be displayed with timestamps.

These appear on the static results page and the probe post-submission page.

The differing filter levels have been shoeho

[2014-07-07 22:14] dantheta commented on #69
I've reviewed the logs, and the 400 and 40x responses were the result of RESTish status code responses to invalid input data or absent DB records.  Is it OK to close this issue?

[2014-07-07 22:18] dantheta commented on #74
I've also added an API endpoint (/status/isp-stats) which shows a summary total for each URL stats (ok,blocked,error,timeout) by ISP/Filter Level.  If you did want a league table, or to produce an online version of the spreadsheet report, this API call will do it.  Docs appearing on the wiki shortly.

[2014-07-07 23:19] dantheta commented on #58
This seems to be working correctly.  There are 70 URLs where we have a trailing-slash and a no-trailing slash version of the URL, though not all of those are bare domain URLs.

61 URLs have been folded together.  Job done!

[2014-07-07 23:19] #58 closed, assigned to nobody

[2014-07-07 23:24] dantheta commented on #50
Currently blocked on #18

[2014-07-07 23:25] dantheta commented on #18
I've updated the wiki API docs with the proposed API endpoint for verifying an email token.

https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_API#POST_.2Fverify.2Femail_.28proposed.29

I'll be reviewing the token verification branch tomorrow and possibly merging it then.

[2014-07-08 13:45] JimKillock opened #76 "DMOZ / RDF import / export filter"
A filter to import DMOZ data, extract URL information, and then export it. The export could be manual, or via an API result (tagged in a similar way)

[2014-07-08 14:00] JimKillock commented on #74
Fantastic, so @mkillock can write a front end filter? Looks like the stats html / java is easy enough to clone :)

[2014-07-08 20:09] mkillock commented on #74
Having trouble with getting a response from this API at the moment - getting signature validation failure, can you help @dantheta

[2014-07-08 20:12] dantheta commented on #74
Will be online shortly!

On 8 July 2014 21:09:31 GMT+01:00, mkillock notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2014-07-09 10:50] #66 closed, assigned to nobody

[2014-07-09 14:47] #69 closed, assigned to nobody

[2014-07-11 00:03] dantheta commented on #74
This feature is now live at https://www.blocked.org.uk/isp-results

[2014-07-11 00:03] #74 closed, assigned to dantheta

[2014-07-11 00:06] dantheta opened #77 "Descriptive titles for ISPs"
At Jim's request, descriptive titles have been added for ISPs to represent (temporarily) the filter strength of ORG's fixed lines.  This is temporary measure until the issues raised in #66 (now closed) can be dealt with.

[2014-07-11 00:08] dantheta commented on #77
The changes in openrightsgroup/Blocking-Middleware/commits/2901da44b69daa66f13fe026762e551f3c720021 add a description column, which is used as the name of the ISP in the /stats API responses.  The real name of the ISP (as used in the database as a natural key is unchanged).

The changes in openrightsgroup/Blocking-Middleware/commit/a9cc0c9a520b9a8be3d6a30cf9caca4b7dead2db decouple the queue name f

[2014-07-11 00:08] #77 closed, assigned to nobody

[2014-07-11 00:13] dantheta commented on #51
Not at all - It's been a while since I'd delved into the unpleasant realities of commercial email delivery.

I think since we're relaying through ORG's mail server, a lot of the IP characteristic and rate-related issues are best dealt with there.  I think we can call this issue closed, and monitor for delivery problems downstream.

[2014-07-11 00:13] #51 closed, assigned to dantheta

[2014-07-11 00:15] dantheta commented on #60
I've double-checked the configuration, and the default timeout on the probes is actually 5 seconds across the board.  It's quite probable that in some cases (mobile networks especially) this isn't enough.

I'll run some stats on our results for timeout responses, and we can perhaps increase the timeout value on the mobile probes to 8 or 10 seconds.  We can increase the number of probe processes to

[2014-07-11 13:12] dantheta commented on #42
I've moved the 3g connection on O2 from sakis to wvdial (which seems to be a bit more stable).

[2014-07-11 16:15] graphiclunarkid commented on #68
I commented out my fix in the SubmitURL snippet to test the change in the API code. I observed different results for http://www.example.com/ with and without a trailing space character. With a trailing space, fewer results are returned than without.

If I trim() the URL in the SubmitURL snippet the results for both are identical.

Could the change have been made in the wrong place? Or alternativel

[2014-07-11 16:18] graphiclunarkid commented on #38
Hi @jimkillock, @ruthc - is there any indication this is working? Have we had many sign-ups to the mailing list from Blocked since we launched the latter?

[2014-07-11 16:22] graphiclunarkid commented on #9
We now have a confidentiality agreement to which we're asking volunteers to agree if they have either shell access to the live server or indirect access via a Modx instance. If you are such a person and have not already done so, please indicate your acceptance of the agreement to @jimkillock by email.

I don't have the latest version of the document to hand however I will circulate and publish it

[2014-07-11 19:45] dantheta commented on #68
I'll look into it. It definitely should be live ....

Sent from my tablet.

[2014-07-11 20:14] graphiclunarkid commented on #62
If it doesn't cost anything to add the element to the API response then I say we should do it. Clients can then decide for themselves what (if anything) to do with it. We may choose to build a separate "detailed results" page, for example, that shows the entire blocking history for a URL on a single ISP. It could be reached by clicking the row corresponding to that ISP in the existing results tabl

[2014-07-11 20:20] graphiclunarkid commented on #75
Perhaps we should include these details on a separate page? I'm not sure we could fit all the porn subreddits onto the existing results page without it becoming too busy :wink:

[2014-07-11 20:27] graphiclunarkid commented on #74
Has anyone updated the FAQ with information about why some results appear not to update over time?

[2014-07-12 14:15] dantheta commented on #68
Yep, that's properly fixed now.  Sorry about that!  Tested, deployed and verified against test case.

[2014-07-12 14:15] #68 closed, assigned to dantheta

[2014-07-16 14:20] graphiclunarkid opened #78 "EPIC: make ooniprobe work with blocked"
There are several parts to this:
- Robust mechanism for sending URLs to ooniprobe for testing. (I know @dantheta started, and possibly completed, a wrapper script. It would be nice to do this in native ooni code though).
- Accepting results from ooniprobe into the Blocking Middleware database.
- Comparing ooniprobe results with PyProbe results
- Sharing data between Blocked and ooni.

I think we n

[2014-07-16 14:29] graphiclunarkid commented on #78
Comparing results between different probes is openrightsgroup/Blocking-Middleware#32

[2014-07-16 14:32] graphiclunarkid commented on #38
Hi @jimkillock - please can you review whether this feature is working? If so, please can you close this issue? Thanks.

[2014-07-16 14:47] graphiclunarkid opened #79 "Document similar projects on our wiki"
There are many projects that complement, overlap with or are similar to ours. We should document these on a wiki page for reference and consider how we can interact with each. Here are some examples to start off with:
- [ ] http://www.herdict.org/
- [ ] http://www.neubot.org/
- [ ] https://chokepointproject.net/
- [ ] https://ooni.torproject.org/
- [ ] http://projectbismark.net/

[2014-07-16 14:50] graphiclunarkid opened #80 "Update project-status page on our wiki"
The page at https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_Status needs updating in light of subsequent development and the site relaunch.

[2014-07-16 14:52] graphiclunarkid opened #81 "Produce lower-level system diagrams"
We have a high-level activity diagram of our core use-case on the wiki here: https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_Functional_Spec

We should expand on this with lower level diagrams showing how we have instantiated and deployed that design. Ideally this would continue to use SysML or UML however even a text description would be better than nothing.

This will help pr

[2014-07-16 15:57] graphiclunarkid opened #82 "Check all UK charity websites using Blocked"
http://opencharities.org/ has the data we need … though it needs a bit of work to get the best impact.

The dataset can be obtained here: http://OpenCharities.org/charities.csv.zip

The address with post code is contained in that dataset, along with the website address. Ideally, we would split this data into areas / cities etc, so that we could find good information for local stories. See for inst

[2014-07-16 15:57] graphiclunarkid opened #83 "Check UK corporate websites using Blocked"

[2014-07-16 16:01] graphiclunarkid opened #84 "Update Bytemark boilerplate on credits page"
The boilerplate for Bytemark on https://www.blocked.org.uk/credits is out of date. Updated copy below:

Bytemark Hosting has been the "geek hosting outfit of choice" for UK hosting since 2002, because it's run by a programmer (Matthew Bloch) and network engineer (Peter Taphouse) They have built it from scratch with a goal of technical excellence, writing most of their own software and tools to run

[2014-07-16 16:11] graphiclunarkid commented on #84
Content updated. Review by Bytemark requested.

[2014-07-16 16:15] technicalfault commented on #84
Looks fine by me - thanks!

[2014-07-16 16:17] #84 closed, assigned to graphiclunarkid

[2014-07-16 16:44] graphiclunarkid opened #85 "Improve Open Graph / social media sharing metadata"
Comment from someone on LinkedIn after I shared the site homepage there: "You should rejig the introduction so that the first sentence of paragraph two appears in summaries like this one that's appeared on LinkedIn."

In general I think we need to review the open graph metadata tags to make sure they're presenting something coherent when our site is shared around the web.

[2014-07-16 16:44] graphiclunarkid commented on #85
See also #55

[2014-07-16 21:31] dantheta commented on #81
I've added two Dia diagrams (+png versions) describing the queue processing.  There's probably more that can be written about it though!

[2014-07-17 13:14] graphiclunarkid commented on #42
What is the current status of the 3 SIM? Are we still using @dantheta's (for which he is paying)? Or have we sorted out default filtering on ORG's contract SIM now?

The EE probe seems (subjectively) to be throwing a lot of errors. Is that still to do with a lack of signal in the office or something else?

[2014-07-17 13:19] graphiclunarkid commented on #81
Awesome - thanks for those!

[2014-07-17 19:31] dantheta commented on #42
The 3 sim never developed filters, sadly.  The system is still using my PAYG SIM, but it's not expensive :)

The EE probe has had a lot of connection problems (as have all three of the SIMs on the mobile probes) - but they have been more frequent and of longer durations.

All three of those probes (vodafone,three & O2) currently need a kick.  I think ideally disconnecting the PIs from power and/or

[2014-07-17 19:33] dantheta commented on #42
Oh - EE  has come back.

O2 gives a "failed to connect" error, and vodafone is returning "Modem unable to register a network.".

If might be worth checking the vodafone one in a laptop.

[2014-07-17 20:01] dantheta commented on #72
Very close!

[code]

We'd probably want to cache this or optimize with a summary table, as the index scan and sort is a bit slow.

[2014-07-17 20:28] mkillock commented on #42
Are the Pis getting enough power? Mine used to just crash every so often until I got a power supply that gives more amps. Also I read somewhere that there was a power issue on the USB ports on some models, though that was probably older versions

[2014-07-17 21:04] dantheta commented on #62
Tested and deployed.

[2014-07-17 21:04] #62 closed, assigned to nobody

[2014-07-17 21:07] dantheta commented on #42
The pi's seem stable enough, and the mobile network dongles are connected through a powered hub, so I think that's OK.   When I was trying a Pi with a huawei dongle connected directly (drawing power through the Pi) it would crash after less than an hour.

[2014-07-18 14:11] graphiclunarkid opened #86 "Raw data file contains results not surfaced on website"
There seems to be a discrepancy between the data snapshot and the results as reported in the front end.

https://www.blocked.org.uk/results?url=http://www.adulterfree.com
https://www.blocked.org.uk/results?url=http://adultesextube.com

http://adultesextube.com appears to be a redirect page to http://winx-xxx.com (a possible reason it wouldn’t be blocked?)

The entry for Virgin Mobile below, I’m no

[2014-07-18 14:41] dantheta commented on #86
The nightly results dump contains everything.  We can change this.  The ISP
display list was edited down to ORG probe ISPs some time shortly after the
nightly dumps were implemented, so the change didn't propagate there.

It contains the probe ID, purely for the purposes of allowing analysts to
assess accuracy by probe, but no other information about the probe is
provided.

Another related questio

[2014-07-18 14:46] dantheta commented on #86
Prior to go-live, we did run most of the alexa 100k against Virgin Mobile.  However, we don't currently have a probe connected to that mobile provider, so there won't be live results for it.  When we chose to limit the list of ISPs displayed to the ORG ones, we limited it to live ORG probes,

[2014-07-18 15:07] JimKillock commented on #86
OK, so it looks like the site "adultesextube.com" was actually OK at Virgin mobile, and we are confident of that result. The site is actually a redirect URL to some other porn site so that may be why it was detected as ok – that’s just a guess however,

[2014-07-18 15:11] graphiclunarkid commented on #86
If I remember correctly, we follow 301 and 302 redirects, and report results according to where we end up. I'm not sure how this works with respect to storing results for the original URL, though, nor do I know whether we treat temporary and permanent redirects differently.

@dantheta I agree we should reject submissions for networks where we can't detect blocking. Otherwise, don't we risk polluti

[2014-07-18 15:17] graphiclunarkid opened #87 "Integrate results with Herdict"
@jimkillock and I spoke with Ryan Budish from http://www.herdict.org/

Herdict has an API that we can query for the most-reported inaccessible sites for the UK. This is made available as a JSON-format table of URLs. We could then feed these URLs to Blocked. http://www.herdict.org/HerdictQueryAPI.pdf

We can also return our results to Herdict. All types of blocking results are interesting to them.

[2014-07-18 16:06] dantheta commented on #86
On Fri, Jul 18, 2014 at 08:11:32AM -0700, Richard King wrote:

We don't store a separate status for the intermediate locations.  If we
detect site1 -> (302) -> site2 -> blocked, then the status for site1 is blocked, and
nothing extra is stored for site2, unless a request is submitted for site2's
url separately.  We don't treat permanent and temporary redirects
differently.

OK - I'll open a new is

[2014-07-18 22:13] dantheta opened #88 "Do we want to accept probe responses against ISPs for which we have no blocking rules?"
As a follow on from the discussion in #86, we're considering rejecting probe submissions from ISPs that aren't listed in the probe config file.  The suggested behaviour would be something like:
1. When a probe contacts the /status/ip endpoint to find out what ISP it's on, we provide an additional data item in the response telling the probe that responses won't be accepted.  Both the android probe

[2014-07-18 22:16] dantheta opened #89 "Introduce sample data to the vagrant image, so that the API works "out-of-the-box""
This might include:
- A pre-registered user
- A pre-registered probe
- A pre-registered (fake) ISP
- A set of ISP cache entries that allow RFC1918 addresses to appear to match the fake ISP (since the ISP lookup is known to work poorly in this case)
- A dummy probe program, so that it is possible to end-to-end test the API inside vagrant

[2014-07-19 12:55] graphiclunarkid commented on #31
I have created a [new repository](https://github.com/openrightsgroup/cmp-analysis) to contain data-analysis code, content and results. @mattroweshow has kindly offered to start creating issues in that repository for each analysis task we want to consider. If anyone else wants to contribute suggestions please do so in that repository.

Once we are happy with the initial breakdown of tasks we can cl

[2014-07-22 11:21] graphiclunarkid opened #90 "Respect robots.txt"
Probes should respect robots.txt. For each for each resource (URL) under test we should first try to get robots.txt for that domain, and if it exists, we should handle any disallow conditions. We should not try to fetch resources for testing if robots.txt disallows access to them.
- If robots.txt doesn't exist then proceed to test the resource as normal.
- If robots.txt exists and permits us to fe

[2014-07-22 14:05] dantheta commented on #90
I think that If robots.txt is blocked, we should go ahead and test the real URL anyway (there's virtually no chance that robots.txt would be blocked when the real resource isn't).

[2014-07-22 14:07] graphiclunarkid opened #91 "Drive headline statistic on front page from reference set of URLs"
When we added 70,000 charity websites to the dataset, most of these were not blocked, so that reduced the "percentage of blocked sites" we were displaying by about half. However this is not representative since charity sites are much less likely to be blocked. Likewise, if we were to add a database of 70,000 porn sites the statistics would be artificially high.

The "percentage of blocked sites" s

[2014-07-24 22:49] dantheta commented on #91
I've tried out applying the alexa 100k filter to produce the headline stats, but it also affects the "Tests pending" and "Sites Tested" figure, fixing these at 0 and 100000 respectively.  The percentage figures for strict and default settings do get better though.

The "tests pending" and "sites" checked figures are driven from the urls_reported and urls_tested fields in the Stats API response.

I

[2014-07-24 22:52] dantheta commented on #91
Sorry - ignore that last rollback request.  I'm going to roll out the blocked_sites_sample_size additional field, and maybe frontend can be updated to use that for the blocked percentages?  That way the "sites tested" figure can carry on growing on the front page.

[2014-07-24 23:03] dantheta commented on #91
OK - all ready for the frontend change, if you'd like to go ahead.

[2014-07-25 12:58] gwire opened #92 "Admin interface to force retesting per URL/network"
Would it be possible to make a priority retest of a URL on a per-network basis, possibly just for authenticated users.

example
https://twitter.com/boagworld/status/492577452217364480
suggests that EE are blocking linkedin.com

https://www.blocked.org.uk/results?url=http://www.linkedin.com
doesn't show a block for EE, but last test was 2014-07-05 - so I'd like to request a recheck on that network.

[2014-07-25 13:13] dantheta commented on #92
Ideally the queues are kept empty, so all requests are processed as early as
possible with no need for prioritization.

We're having trouble with EE at the moment because the mobile internet
connection keeps going down and the queues are backlogged.  O2 and Vodafone
are unable to maintain a steady connection too.

From manual checking, there's no block on linkedin at the moment. Sorry
about that.

[2014-07-26 14:18] dantheta commented on #18
I've got a new version of the branch for the email verification, so it might be best to hold off on reviewing the current one.

[2014-07-26 22:03] dantheta commented on #42
We're still having trouble with the Vodafone and O2 probes - I can't get them to connect to the mobile networks at all any more.  If there's time, would it be possible to get them connected to a laptop for testing?

I've reinstated the PAYG probes temporarily on those two networks to get the queues down.

[2014-07-26 22:14] JimKillock commented on #42
Sure, I can take a look on Tuesday. I guess ORG also needs to replace the EE Sim with a censored EE mobile SIM.

[2014-07-27 10:19] dantheta commented on #42
The EE sim is OK, it's Three that doesn't have any filtering :)

[2014-07-27 13:01] JimKillock opened #93 "Check Lato fonts work"
I didn't notice the alto had not been working (as I have it installed locally). I've amended the CSS to reference Lato fonts stored on the ORG server. Great of someone can check!

[2014-07-27 13:02] JimKillock opened #94 "Check website resources and move any external to ORG server"
Aids user privacy if these are stored on our server. Some of this got overlooked by me at launch.

[2014-07-29 08:00] graphiclunarkid opened #95 "Update unblocking information"
Updated info for some ISPs is provided in [this PCPro article](http://www.pcpro.co.uk/news/389932/how-to-report-website-overblocking-and-miscategorisation-to-isps).

[2014-07-29 22:16] dantheta commented on #18
The branch has been tested and merged - we're storing URL subscriptions in a slightly different way, but we're ready to be able to verify email addresses.  I'll open a new issue for creating the website page that users click through to from their email message.

[2014-07-29 22:20] dantheta opened #96 "Create frontend website page for email verification"
Following on from #18, the API is now ready to accept email verification tokens.
A frontend webpage is needed to accept a token querystring argument and pass it to the API through the /verify/email endpoint, interpret the response and display an appropriate acknowledge to the user.

The /verify/email endpoint is described here: https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_AP

[2014-08-01 12:40] graphiclunarkid commented on #92
I agree with @dantheta. If we want to retest a URL we just submit it via the front page and results are returned in a few seconds (a couple of refreshes might be required for slow networks).

[2014-08-01 12:48] graphiclunarkid commented on #93
I have the font installed too, but I checked using [this](http://www.atomicjetpacks.com/project/fontdetect/how-to-detect-if-a-font-really-loaded) and it seems to work correctly on the site.

[2014-08-01 12:48] #93 closed, assigned to nobody

[2014-08-01 12:51] graphiclunarkid commented on #94
I believe @webal had to use the Bootstrap CMS rather than the local version because it broke locally for some reason. So that will need correcting at some point. Is there a tool we can use to spider the site and check for others?

[2014-08-01 13:34] webal commented on #94
Yeah, can't remember exactly why but switching to the cdn got the menus working again in the mobile version. No reason why it wouldn't work if you copy down the same versions linked to on the cdn.

Not sure of a tool, but the only places I can think of are CSS & JS (header and footer templates) and possibly the sharing stuff, although I think you did that without any external links.

[2014-08-03 01:21] dantheta opened #97 "Add support for collecting block category information"
We can collect block category information from the ISP block page URLs and page content.

To support the collection of this, we will need:
- Additional database column for the category in the results table
- Additional argument for response/httpt to accept category data
- Probe modification to read categorization rules from the API config file
- Probe modification to run the categorization rule
-

[2014-08-03 01:21] dantheta commented on #97
Middleware and OrgProbe updated; deployed and tested on TalkTalk.  Wiki config file updated.

[2014-08-03 01:28] dantheta commented on #97
API documentation for /response/httpt updated

[2014-08-03 14:29] #97 closed, assigned to dantheta

[2014-08-04 08:22] graphiclunarkid commented on #38
I have now verified with Jim that this is working.

[2014-08-04 08:22] #38 closed, assigned to JimKillock

[2014-08-04 08:23] #31 closed, assigned to mrowebot

[2014-08-04 23:18] dantheta commented on #90
In progress on OrgProbe.

[2014-08-06 13:24] graphiclunarkid commented on #90
I can see how each probe ought to implement this, however if we ever end up vetting URLs before they are queued for probes to pick up, that might be a good point to fetch robots.txt and decide whether the URLs should be queued at all. We could do some clever caching here so that we don't have to fetch robots.txt every time a URL from a domain is submitted.

This would save some probe time and band

[2014-08-06 16:38] dantheta commented on #90
Yes, that does make sense - If we implement the robots.txt checking before sending the URL on to the network queues we'll save a lot of robots.txt requests from further on in the system.  With a warm robots.txt cache, we should be able to minimize any lag, and if we later implement an AJAX-style results page the extra delay will be compensated for there.

We can also offload some robots.txt checki

[2014-08-06 17:55] graphiclunarkid commented on #90
That's pretty much exactly what I was thinking - down to the detail of compensating for increased latency with the AJAX-style results page and reporting the result as "disallowed" :smile:

[2014-08-06 22:23] dantheta commented on #90
Cool - I'll scrap the probe branch and add it to the middleware.  All good!

[2014-08-17 15:50] dantheta commented on #42
The EE sim has just rolled over to a new month of transfer allocation, but the signal is rather low and I can't get a stable connection to the mobile network.  I've rolled out a change in OrgProbe which should save some bandwidth, so hopefully this month we won't go over the 1Gb.  We should now be able to check at least 115,000 pages with 1GB of transfer.

[2014-08-20 21:09] dantheta commented on #88
I'm thinking that we should remove the queues for the untestable ISPs.  As we get rule information, we'll add them back.  Any other opinions?

[2014-08-22 12:23] graphiclunarkid commented on #88
That sounds sensible to me.

[2014-08-23 08:56] dantheta opened #98 "Don't create queue or supply test URLs for ISPs that have no block detection rules"
Relating to #88 and #86.

[2014-08-23 09:38] dantheta commented on #98
tested, deployed and data fixed up.

[2014-08-23 09:38] #98 closed, assigned to nobody

[2014-08-23 09:38] dantheta commented on #88
Code changes made, data and queues cleaned up.

[2014-08-23 09:38] #88 closed, assigned to nobody

[2014-08-23 09:40] dantheta commented on #86
The results for the extra ISPs have been archived and purged.  Virgin Mobile results are still there, as they were gathered by an ORG probe and we may run a probe against that network again in the future.

[2014-08-23 09:40] #86 closed, assigned to nobody

[2014-08-28 22:27] dantheta commented on #89
We now have a demo user, probe and ISP set up in the vagrant database, automatically installed when the VM is first started.

OrgProbe also has a demo config file (config.vagrant.ini) which can be used to start OrgProbe running against a local vagrant VM.

Hope this helps!

[2014-08-28 22:35] dantheta commented on #89
Oops, didn't mean to stampede ahead.

Testing welcome on the Out-of-the-box experience.

[2014-10-20 20:28] graphiclunarkid commented on #91
Finally got round to implementing this on the front end! Have changed the homepage layout a bit too. All comments welcome!

[2014-10-20 21:25] dantheta commented on #91
Ah wonderful!  I was thinking of this issue today in the lead-up to importing DMOZ.  Adding another million URLs might have distorted the original figure quite a bit!

I think it looks great.

[2014-10-20 21:27] #91 closed, assigned to graphiclunarkid

[2014-10-22 18:54] Polarisation commented on #25
At the ORG hack day we put together a javascript function, which along with a PHP helper script and some backend changes, provides realtime updates in the seconds after the page loads.

Here's what needs doing to complete this:
1. We need to change the results page so that it always includes the table. Currently if the page displays before any results are ready, there will be no table. Without the

[2014-10-25 13:24] lewiscowper opened #99 "Add ability to submit a further URL from the thank you page."
From the /thankyou page it'd be a better UX to be able to type in a further website on the page itself.

[2014-10-25 13:33] lewiscowper opened #100 "URL change to permalink on a per check basis"
Instead of directing users to the /thankyou page after a check it might be helpful to have the link become the permalink to the check specifically. This might be way more difficult than I anticipate, but if not you also might wind up being able to cache frequently checked sites and it could open things up like that.

[2014-10-25 17:50] dantheta commented on #100
Another benefit of this would be to be able to point people at a historical blocked result, even if the site has been subsequently unblocked.  The database preserves the results of all historical checks, although there is no frontend for it currently.

[2014-11-05 22:10] graphiclunarkid commented on #25
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Thanks so much for this, Justin! It's possible @mkillock can help out with implementation. Otherwise I will put it on my list of things to do.

Getting the PHP stuff into github is definitely on our wish list too. If you have any advice on how we might go about it that'd be great. I got as far as discovering the existence of 'static resources' befor

[2014-11-06 17:32] hellais commented on #78
Hi,

I wanted to pick this discussion back up to inform you of some of the progress we have made that may be relevant to you as well as list some possible ways of providing solutions to those problems you have listed.

Starting from the first issue:
- Robust mechanism for sending URLs to ooniprobe for testing. (I know @dantheta started, and possibly completed, a wrapper script. It would be nice to

[2014-11-08 14:18] mkillock commented on #25
looking at this now

[2014-11-08 15:36] mkillock commented on #25
ok! I think this is done, except for the css - I attempted to upload a new main.css with the css included but this does not seem to have taken. Could someone with filesystem access edit this file to include the css linked to above please?

Changes:
1. edited blocked_head chunk to include a reference to the js, which is uploaded alongside other js under blocked assets tree
2. edited the OfferSubmis

[2014-11-08 19:50] mkillock commented on #25
It's not working for some reason, the results are updating on the helper page but not showing in the table.

[2014-11-10 21:25] Polarisation commented on #25
OK, the problem is that this code depends on the jQuery library, but jQuery has been included in a rather strange fashion at the bottom of the page. This means jQuery has not loaded when the code attempts to run, so it fails.

To fix this, we need to move this line:
    `<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>`
... to above where the realtime results is

[2014-11-10 21:47] mkillock commented on #25
Hi, no problem! Glad you can see what's wrong! I've moved that line - is it working now?

[2014-11-10 22:26] graphiclunarkid commented on #25
Worth noting that we run Varnish in front of MODx so changes sometimes don't show up immediately. I'm not sure if there's a way we can flush that cache as developers (@gwire might be able to comment though).

AIUI people sometimes include JS scripts last because they're loaded inline, so the browser blocks waiting for that to happen, which can slow down the appearance of the rest of the page if th

[2014-11-10 22:43] Polarisation commented on #25
Yes it's working! At least in Firefox. It seems there's typically a delay with PlusNet and Vodafone, these get updated a few seconds after submitting a URL. I'll try out on some other browsers soon.

There is one thing we should fix just in case... the javascript is being included on every page on the site, which causes an error on the other pages. It probably won't cause any noticeable issue, but

[2014-11-10 22:54] mkillock commented on #25
I presume that should be table instead of tabel! I've uploaded a new js file but perhaps Varnish is stopping it from appearing yet.

What should I see if it is working? When I submit a new site, it does not update 3 seconds or so later with Vodafone. If I click on the permalink it shows Vodafone with a slightly later timestamp

[2014-11-10 22:59] gwire commented on #25
If you need assets purged from the cache on production, let me know.  I've gone ahead and purged /assets/site/blocked/\* - is that sufficient?

[2014-11-10 23:03] dantheta commented on #25
During development, temporarily appending "?s=1" to the JS URLs (and incrementing the number with each iteration) may temporarily bust the cache :)

[2014-11-10 23:32] Polarisation commented on #25
The test case I am using to see this work is www.example.com. This already has results, but they should update after re-submitting it. Most of the probes respond near-instantly so are updated when the page loads. PlusNet almost always updates later - it takes about 10 seconds, and you should see it flash yellow for about half a second when it does.

However I think I see some cases where it's not

[2014-11-11 07:49] mkillock commented on #25
Ah! Yes that url works me too. I had been trying various bogus urls which are DNS-fail causing errors. Perhaps that's as designed - to not bother updaing when the results are just errors?

[2014-11-15 22:36] dantheta commented on #76
I've temporarily paused the import, otherwise we'll run out of disk space on the database VM!

[2014-11-19 15:53] graphiclunarkid commented on #76
I can increase the disk space available on the VM. Can you estimate how much is required?

[2014-11-19 16:51] graphiclunarkid commented on #78
Hi Arturo

Thanks so much for getting in touch about recent developments in the OONI project. We're still keen to find ways of collaborating with you folks :smile:

I think @dantheta and @anadahz would be best placed to comment on running OONIProbe in parallel with PyProbe. Capacity-wise we should be OK on our landline test-networks however there are throughput caps on our mobile networks so we ma

[2014-11-19 16:59] graphiclunarkid opened #101 "Number of pending tests is huge"
The front-page statistics currently claim there are 1998060 pending tests. This seems unlikely!

![screenshot from 2014-11-19 17 58 32](https://cloud.githubusercontent.com/assets/433456/5110071/f41f065c-7015-11e4-9c8e-a81c710af359.png)

[2014-11-19 17:02] #42 closed, assigned to dantheta

[2014-11-19 17:05] graphiclunarkid commented on #46
Closing in favour of #67, which has a better description of the feature.

[2014-11-19 17:06] #46 closed, assigned to nobody

[2014-11-19 17:35] gwire commented on #67
We are currently maintaining information about current UK blocking orders at http://wiki.451unavailable.org.uk/ - so discovering any new information (alternate domain names etc) would be useful.

Should be quite easy to detect - for example Virgin Media uses http://assets.virginmedia.com/site-blocked.html rather than http://assets.virginmedia.com/parental.html as its blocking page.

[2014-11-19 18:33] graphiclunarkid opened #102 "Test citizenlab URL lists using Blocked"
The lists at https://github.com/citizenlab/test-lists seem to try to walk lines of controversy so that censorship can be profiled. We should import at least the global list for testing.

I notice there doesn't seem to be a UK list. Perhaps we can compile one from our results and contribute it back?

This dataset could be particularly useful for trying to detect the level of filtering active on a l

[2014-11-19 18:36] graphiclunarkid opened #103 "Ajax results don't populate if row doesn't exist already"
I am testing a new site that has no previous results. The results page loads and the results table contains rows for each ISP where results were returned quickly enough.

No new rows are added to this table - regardless of how long I wait - however if I refresh the page more rows are displayed. The contents of these rows are then updated via AJAX calls.

I would expect new rows to be displayed whe

[2014-11-19 18:47] graphiclunarkid commented on #25
This is looking really good now - especially after the cache-wrangling you did at the ORGCon14 hack-day :smile:

I'm afraid I've noticed a possible bug though.  I've raised it as #103.

[2014-11-19 22:34] dantheta commented on #101
That's the DMOZ import - I'm moving those off to a separate table in order to introduce them to the system more gradually.

[2014-11-19 22:43] dantheta commented on #76
20GB would work, 40GB would be ideal.  That would allow us plenty of room for dmoz and the alex top 1m.  We can extend the VM or create a new database VM, either will work fine.

[2014-11-19 23:01] dantheta commented on #101
Fixed that.  When the disk space expansion is done, we'll import the dmoz urls into a holding table and introduce them gradually.

[2014-11-19 23:01] #101 closed, assigned to nobody

[2014-11-22 17:30] graphiclunarkid opened #104 "Explain live-updating of results to visitors"
As a visitor I want to understand that the results update live as checks are performed so that I can comprehend the display

ACCEPTANCE CRITERIA
- A sentence on the results page explains how results are updated in real-time.
- An explanation that some results could be out of date is also given.

[2014-11-22 17:32] graphiclunarkid opened #105 "Distinguish between fresh and old results"
As a visitor checking a website I want to distinguish between new results and checks that were performed a long time ago so that I can interpret the information correctly.

ACCEPTANCE CRITERIA
- I can distinguish visually between results that are less than 48 hours old and other results
- I can find out why some results are out of date (link to FAQ entry would be acceptable).

[2014-11-25 10:25] graphiclunarkid commented on #76
I've increased the available disk-space to 45 GB of which about 35 GB is free right now.

[2014-11-25 22:04] Deku-shrub commented on #67
Right, so this ties in quite neatly with my unfinished project at http://metaproxy.net/

I scrape list of Pirate Bay proxies from the following sources which I test then put into my 'metaproxy':
http://proxybay.info/list.txt
http://www.piratebayproxylist.com/2012/05/pbpl-pirate-bay-proxy-list.html
http://ukbay.org/
https://encyclopediadramatica.se/The_Pirate_Bay/thepiratebay.se_proxy_list <- bewar

[2014-11-30 20:23] dantheta opened #106 "Expose Block Type and Category data on blocked results page"
In the /status/url JSON, the results stanza for each ISP tested now includes a blocktype, block category and  site category.  It would be good to incorporate this into the results page.

The format of the results JSON is described on the ORG wiki (https://wiki.openrightsgroup.org/wiki/Censorship_Monitoring_Project_API#GET_.2Fstatus.2Furl).
- Categories (toplevel) is the list of DMOZ categories tha

[2014-11-30 20:23] dantheta commented on #106
This relates to #67

[2014-11-30 22:21] Stubbs commented on #103
Which repo is this for @graphiclunarkid ?

[2014-12-01 08:18] graphiclunarkid commented on #103
I think it was developed against the example client in blocking-middleware. See #25 for the discussion & link to pull request.

Unfortunately we've not yet found a way to expose on github the PHP code that runs the front-end. That's because our CMS, Modx, stores all its code in a MySQL database rather than the file-system.

I keep trying to figure out how to use git with Modx so that we can releas

[2014-12-06 21:42] gwire opened #107 "Failed HTTPS certificate negotiation shows as "error""
A check of https://www.blocked.org.uk/results?url=https://www.ccc.de shows "error" for every check.

I'm assuming this is because they don't use an https certificate signed by a CA found in stock root (in the case of CCC they have their own CA).  If so, I assume expired certs will also produce the error.

It's probably an edge-case at the moment, thus low priority, but is there any way to
a) expos

[2014-12-07 22:25] Polarisation commented on #25
I've tidied this up, fixing a few bugs. We'll need to replace the old realtimeresults.js with the new one (now contained in Blocking-Middleware/example-client)

[2014-12-07 22:26] Polarisation commented on #103
This should be fixed when we update the js on the live site (see #25)

[2014-12-09 23:06] dantheta commented on #107
I've added a configurable which allows SSL certificate validation to be disabled.  When configured, a successful connection to a server with SSL will give an "OK" status, even if the cert is not verifiable.

A successful TCP connection that fails to start an SSL session will give a status of "SSLERROR".  The usual status responses apply to failed TCP connections ("ERROR" and "TIMEOUT").

[2014-12-10 11:17] gwire opened #108 "Record blocks that occur due to malware"
Some services, such as Virgin Net, will block sites as a result of being listed as sources of malware.

The probe should regard these as blocked but in a separate category from Parental/Court/CAIC.

e.g. https://www.blocked.org.uk/results?url=http://www.extraordinaryrendition.org
should be detected as blocked on Virgin due to http://assets.virginmedia.com/malware.html being returned.

(Will requir

[2014-12-10 11:47] graphiclunarkid commented on #107
This sounds like a sensible solution. To go any further would require some checking outside the probe's individual environment. We discussed doing a pre-check of URLs via the server for a different reason some time ago however we decided not to at that time. Perhaps we should now discuss resurrecting the idea for this specific purpose? It would allow us to distinguish between genuine issues with a

[2014-12-10 12:41] dantheta commented on #107
I've had a few thoughts about how to do a multi-network test in an elegant and scalable way.  At the moment, when a site is submitted, we post the URL to all of the ISP queues.

What we could do instead (with only a little reconfiguration) is only post to a clean-line queue at that stage. When the result comes back from a clean line, the URL is posted to all of the other queues, along with the cle

[2014-12-10 15:24] graphiclunarkid commented on #107
Does (e.g.) http://downforeveryoneorjustme.com/ have an API we could use for the clean-line checks?

We could display the clean- and test-line checks separately so people might spot probe problems.

Do the requests have to be sequential or could we do them in parallel, but assume the clean test will pass unless proven otherwise, and if it fails push an AJAX update to the results table? That would

[2014-12-10 16:24] #25 closed, assigned to Polarisation

[2014-12-10 16:24] #103 closed, assigned to nobody

[2014-12-10 16:28] graphiclunarkid opened #109 "Results page caching prevents AJAX updates"
@gwire performed some magic at the ORGCon hack-day to suppress the caching of the results page so that the AJAX live-results update worked smoothly. This seems to have regressed. Probably my fault - sorry!

See discussion in openrightsgroup/Blocking-Middleware#60

If we could document how to prevent future regression that would be really handy.

[2014-12-10 16:32] graphiclunarkid opened #110 "Make results-table population more obviously "live""
It would be neat to wait until the results page has rendered before starting to populate the table.

The landline tests return more quickly than the page takes to render so they appear in the table immediately. Mobile results then start updating or appearing maybe 10 seconds later. This is surprising to the user.

An artificial delay would both highlight the fact that tests are live and show off t

[2014-12-10 16:46] gwire commented on #109
After trying a bunch of different things, in the end I believe it worked after I modified the APIHelper snippet to add a line after "Connection: close".

[code]

Added back on the live site.

[2014-12-10 22:00] Polarisation commented on #110
I can see this being tricky to get right. One problem is that the results appear quite far down on the page, typically below the fold. The user typically has to scroll down to see the results table, and since we do not know when the user will do this, delaying by a constant time would not be effective. It might be possible to detect whether the table has become visible on-screen and then start pop

[2014-12-10 22:18] Polarisation commented on #110
And here's an alternative...

We would pre-fill the table with a blank row for each ISP we are expecting a result for, then we can display a small loading indicator (spinning gif) per row for each probe we are waiting for. When each result comes in, the row for that ISP would be updated: loading indicator removed, and status and timestamp added in place.

To do this we would need make changes not

[2014-12-10 23:43] dantheta commented on #107
I can't see any details for an API, but there are other similar systems which might.  Co-opting an external uptime monitoring services to run as a clean-line probe is an interesting idea.

Running the clean & filtered tests non-sequentially and gathering results could get quite complicated and ,getting the processing to be bulletproof in order to display reliably could be quite a challenge.

If a

[2014-12-11 00:04] dantheta opened #111 "Rate-limiting target URL tests is now live - do we need to update the thankyou page text?"
We now have rate-limiting code which ensures that a target URL is only tested once in a 24-hour period, even if multiple people request a check.

If a target URL has already been checked, the results page shows the most recent set of results (which are <24 hours old at this point).

The wording on the page says:

"The URL you submitted is now being checked for filtering by our probes." - while thi

[2014-12-11 00:17] dantheta commented on #108
Fixed - https://www.blocked.org.uk/results?url=http://www.extraordinaryrendition.org is now reported as "blocked" on virginmedia.  The database records that the blocktype is "MALWARE", as opposed to "parental" or "copyright".

[2014-12-11 00:17] #108 closed, assigned to nobody

[2014-12-11 00:39] dantheta commented on #107
The probe and config update has been rolled out, and https://www.ccc.de is now shown as "OK" on all ISPs.  We no longer require SSL certs to be verifiable against the stock CA certs list.

[2014-12-11 09:30] graphiclunarkid commented on #109
Thanks @gwire!

P.S. I have realised that Github comment URLs are a never-ending source of previously-unchecked URLs for testing Blocked :wink:

[2014-12-11 09:44] graphiclunarkid commented on #111
Yes, I think we do. We should also add a FAQ entry. And I also think #105 might now be slightly more important to implement too.

[2014-12-11 09:48] graphiclunarkid commented on #92
Rate-limiting by URL means my comment above is no longer true so we need to provide a separate feature for running a live re-check.

[2014-12-11 10:31] graphiclunarkid commented on #110
I like it :+1:

We have already considered rendering historical results differently in #105 so this would tie in quite nicely with that.

We can probably pull a dynamic list of ISPs where we have live probes from somewhere. I know we have more ISPs in the database than we display in the result so there must be a filter defined somewhere.

If submission time-stamps aren't available in the API data

[2014-12-11 10:49] graphiclunarkid commented on #107
Seems like you've got a solution to the immediate issue so we can close this issue now. If you feel like exploring what checking URLs outside the probe environment could do for us I think we should raise a separate issue.

Thanks @dantheta!

[2014-12-11 10:49] #107 closed, assigned to nobody

[2014-12-11 12:57] graphiclunarkid opened #112 "AJAX results stop loading before all results have either been returned or timed out"
1. Visit blocked.org.uk and enter either a new URL or one with no recent results.
2. Observe the results table.

Expected behaviour

The results table is updated for every network regardless of how long the response takes to arrive

Actual behaviour

The table seems to stop "listening" to result after a few seconds. Subsequent results are not displayed but submitting the URL a second time will sho

[2014-12-11 13:06] graphiclunarkid commented on #90
Did we ever finish this or is there something we still need to do?

[2014-12-11 13:08] graphiclunarkid commented on #76
I think we've satisfied the basic requirement here so I'm going to close this issue. We should raise separate issues for integrating the very fine work you've all done into the front-end

Nice job :+1:

[2014-12-11 13:08] #76 closed, assigned to dantheta

[2014-12-11 13:10] graphiclunarkid opened #113 "Integrate category and location data-browsers into web front-end"
We now have an amazing facility to drill down through DMOZ category data to identify blocked sites (see #76). It's available temporarily here:

http://api.blocked.org.uk:5000/

The next step is to integrate this with the web front-end for visitors to use.

[2014-12-11 13:30] graphiclunarkid commented on #89
I'm not sure but I think we might have done this now. Is there anything left that we still want to do - or has the world moved on?

[2014-12-11 13:35] graphiclunarkid commented on #60
Did we ever resolve this @dantheta? I feel like your recent work might have made this question obsolete. If so, please would you close it? Ta.

[2014-12-11 13:42] graphiclunarkid opened #114 "Pre-check URL characteristics before queueing them for real testing"
There may be good reasons to preprocess URLs before forwarding them to ISP queues for checking. These include
- Do we really want to check images, shockwave flash files, and other non text/\* mime types?
- Can we make censorship testing more robust by comparison with results from a known clean connection?

Drawing together discussion from: openrightsgroup/Blocking-Middleware#45, openrightsgroup/Bl

[2014-12-11 13:52] graphiclunarkid commented on #13
Now that we have DMOZ integration does anyone think this is worth pursuing or has it been superseded?

[2014-12-11 14:15] dantheta commented on #90
We've got a dormant branch which was waiting on ajax results.  I'll get it cleaned up and rebased, and then we can relaunch it.

[2014-12-11 14:21] dantheta commented on #89
I think it's there.  Cheers!

[2014-12-11 14:21] #89 closed, assigned to nobody

[2014-12-11 14:32] dantheta commented on #60
Yep.  The connection timeout is still 5 seconds, but we have improved the reporting of SSL errors.  I think we're covered.

[2014-12-11 14:32] #60 closed, assigned to nobody

[2014-12-11 14:33] graphiclunarkid opened #115 "Integrate with YourNextMP API"
YourNextMP is building an API for information about election candidates at http://yournextmp.mysociety.org

e.g. http://yournextmp.mysociety.org/person/4582

Are we able to pull the websites from this and run them through checks on blocked.org.uk?

[2014-12-11 14:48] graphiclunarkid commented on #67
@Deku-shrub Feel free to use Blocked for this. If it would be easier to have direct API access then you need to speak to @dantheta. We should continue to discuss how best to organise and present the data on blocked.org.uk though.

[2014-12-11 14:51] graphiclunarkid opened #116 "Push blocked-URLs list to CensorSweeper"
This tool censorsweeper.com was designed to
check a lot of sites in parallel and present it dramatically.

the code is here:

https://github.com/kubla/censorsweeper

we could fork it and put all the uk sites we've found blocked in so people can check their connection:

https://github.com/kubla/censorsweeper/blob/master/js/sitelist.js

[2014-12-11 14:58] graphiclunarkid opened #117 "Automated database-backup"
Our backup strategy is ad-hoc at the moment. We should automate it.

[2014-12-11 15:01] graphiclunarkid commented on #117
What size is the database currently and how quickly does it grow (excluding us dumping in datasets directly via the API)?

[2014-12-11 15:04] hyl commented on #115
Just been looking into this: PopIt is based on elasticsearch, so the following (paginated) result _should_ bring back all the candidates with URL fields: http://yournextmp.popit.mysociety.org/api/v0.1/search/persons?q=_exists_:homepage_url

I'm guessing it's just a case getting all the homepage_url values from those JSON responses, filtering out any blank values, then feeding them into the Blocked

[2014-12-11 16:37] JimKillock commented on #13
This is hard to say for me. We have a _lot_ of data that is inoffensive but may not be easily parsed especially from outside. Maybe you could find out how much of the data we have is not matched by a DMOZ categorisation? If it is low then it is probably not worth pursuing.

[2014-12-11 17:43] dantheta commented on #13
Currently, 1211818 of 3479133 URLs (34%) do not have a DMOZ category, (including some urls which came from DMOZ, which is a little worrying - I'll look into that).

[2014-12-11 22:58] Polarisation commented on #112
This currently uses a timeout of 5 seconds, defined here:
https://github.com/openrightsgroup/Blocking-Middleware/blob/master/example-client/example-realtime-helper.php#L27

This can easily be increased. The only downside to doing that, is that if the connections stay open longer, the total number of open connections will be higher. A typical server might be able to handle a few hundred open connec

[2014-12-13 19:35] dantheta commented on #117
Compressed, it's 250MB.  I'll keep an eye on the growth rate.  The DMOZ import added 60% overnight!

I've set up duplicity to archive to a rmtbkp user on ooni-1.

It will backup relevant filesystem locations and a daily full dump of the database.  Duplicity will manage expiry.

I'll add the gory details to the config repo.

[2014-12-13 19:35] #117 closed, assigned to nobody

[2014-12-14 10:47] gwire opened #118 "Display in front-end when the error is that no DNS result is returned"
Example https://www.blocked.org.uk/results?url=http://emp3world.cc

This is a site that has a court order to be blocked, but I think the domain expired shortly after and was removed by the root server operators of the .cc root (Verisign).  Therefore a normal request would be expected to work, regardless of blocking.

(It's therefore confusing as to why BT-Light is showing "ok" for a recent check -

[2014-12-14 11:28] dantheta commented on #118
Ah - you've found something very interesting on the BT line that we didn't know was there!

It's an unresolveable domain search page.

It appears to be implemented using an http transparent proxy.  Direct DNS queries correctly return no results, but trying to make an HTTP request to http://doesnot.exist gives an HTML page with a redirect to the address http://www.webaddresshelp.bt.com.

I'm pretty

[2014-12-14 13:31] webal commented on #115
Hi @hyl, that url doesn't seem to return all candidates I couldn't find this guy (http://yournextmp.com/person/1195) in the json returned. If it's paginated do you know the format of subsequent pages - it would be much easier than having to find all constituencies then querying each one. thanks

[2014-12-14 14:23] dantheta commented on #118
Ah yes - the other issue was #29, and it affected TalkTalk and VirginMedia.  We can add BT to that list too.

[2014-12-14 14:47] webal commented on #115
ignore that found this line in json `"next_url": "http://yournextmp.popit.mysociety.org/api/v0.1/search/persons?page=2",` - duh

[2014-12-14 15:18] dantheta commented on #118
emp3world now shows a dnserror in results.

[2014-12-14 15:18] #118 closed, assigned to nobody

[2014-12-14 19:49] webal commented on #115
I've got a basic version of this working, it's in a branch of the main middleware repo (https://github.com/openrightsgroup/Blocking-Middleware/tree/ger-mp-homepages).

Currently if a URL is not already in the system it will add it and tag it as 'nextmp' for the source. (don't forget to update the enum in urls table to add 'nextmp' for source column - code at top of parse_mps file).

I'm thinking i

[2014-12-15 12:53] graphiclunarkid commented on #117
Thanks for arranging this - I feel a bit safer knowing we have at least one backup (even though I know you were doing some too)!

In the new year we'll be rebuilding ooni-1 to reduce its disk space (it has a lot spare), so if we do that we will need to reconfigure these backups too, as it will involve nuking the existing VM in favour of a new one. We could take that opportunity to shift these over

[2014-12-15 14:16] #109 closed, assigned to graphiclunarkid

[2014-12-15 14:36] graphiclunarkid commented on #115
This is great work, you two - thanks!

@webal, would you like to send a pull request? I'd love to hear @dantheta's thoughts on the code. I'll try to get it running too (good excuse for me to sort out my local Vagrant configuration!)

[2014-12-15 14:57] webal commented on #115
I was chatting to Dan over the weekend - he gave me a hand with a couple of issues. He's going to double check and then merge that branch.
If you pull it down and checkout that branch it should run fine on vagrant VM - I used the VM to develop it.
The next job will be to be able to pull out the results of blocked sites from this source.

[2014-12-15 15:09] webal opened #119 "Better tagging of sources"
Now we're getting data from multiple sources there's going to be a need to pull out data based on the source and any information that comes with the source. Currently the database allows for one source only, and there's going to be overlap meaning that this information is lost.

For example, imagine that we have an MPs site that is Dmoz and has already been imported, the source in the urls table i

[2014-12-15 18:21] gwire opened #120 "TalkTalk probe not detecting court-ordered blocks"
( Follow up to #24 )

The following have court orders for blocking, but currently show as ok for the TalkTalk filters.

https://www.blocked.org.uk/results?url=http://megashare.info
https://www.blocked.org.uk/results?url=http://viooz.co
https://www.blocked.org.uk/results?url=http://watch32.com
https://www.blocked.org.uk/results?url=http://zmovie.co

See http://wiki.451unavailable.org.uk/wiki/UK/HC1

[2014-12-15 21:58] dantheta commented on #108
Sorry, commented against the wrong issue.  Should have been #120.

[2014-12-15 22:02] dantheta commented on #120
Fixed and deployed in config file update.

When originally tested the talktalk URLs seemed to only redirect to
http://www.siteblocked.org/piratebay.html.

They've since added more pages, which the config rule wasn't catching.

The content might be an interesting thing to mine and record, since it gives the date and petitioner for the court order.  The blocked page is viewable outside TalkTalk's ne

[2014-12-15 23:14] webal commented on #82
I've got a basic version of this working in a separate branch of the middleware (get_open_charities): https://github.com/openrightsgroup/Blocking-Middleware/blob/get_open_charities/backend/parse_open_charities.php

Currently it only adds in the url (and source), but at least we can use that to make sure all charities are getting checked. don't forget to add open_charities to urls.source column.

I

[2014-12-15 23:35] dantheta commented on #82
65237 URLs in the opencharities set.  Many thanks!

[2014-12-15 23:35] #120 closed, assigned to nobody

[2014-12-15 23:39] JimKillock commented on #82
How difficult would it be to create some kind of visual tool like the DMOZ browser? Maybe based on the location data if that’s still attached?

[2014-12-15 23:51] webal commented on #82
The address is all contained within a single field so it's a little hit and miss, but I would have thought we could get county & town fairly reliably. It does have postcode info as well, but this would be harder to fit into a search.

So if you're happy with county/town then shouldn't be too hard

[2014-12-15 23:52] dantheta commented on #82
We've got some overlap between the opencharities data and the dmoz data too.  About 13,000 URLs from opencharities have got DMOZ categories.

[2014-12-16 00:22] JimKillock commented on #82
Yes, you would hope there was some overlap :)

Browsing by [country or region?] » county » town would be great :)

[2014-12-16 11:18] graphiclunarkid commented on #113
We also now have importers for MP / PPC (#115, openrightsgroup/Blocking-Middleware#63) and charity (#82, openrightsgroup/Blocking-Middleware#64) websites to integrate.

[2014-12-16 11:21] graphiclunarkid commented on #115
Now that openrightsgroup/Blocking-Middleware#63 is merged I'm closing this issue in favour of #113

[2014-12-16 11:23] #115 closed, assigned to nobody

[2014-12-16 11:23] graphiclunarkid commented on #82
I think creating a "browse by location" feature is a separate issue so I'm closing this one in favour of #113. Thanks all!

[2014-12-16 11:24] #82 closed, assigned to nobody

[2014-12-16 11:51] webal commented on #119
I was thinking of adding a sources table with the following columns:

urlID
source
country
county
town
site_type

Most of the datafeeds we've used have town/county and this should be easy to populate with. We could also extract this info from dmoz. Obviously this would only be for UK sites, but then there's probably no real need for sorting data from other countries??

The site type could be used

[2014-12-16 11:54] webal commented on #113
Before we do this it makes sense to sort out a more flexible way of tagging data from multiple sources, see this issue https://github.com/openrightsgroup/cmp-issues/issues/119 for discussion on that.

[2014-12-16 12:12] graphiclunarkid commented on #119
We need to keep in mind the possibility of handling sites from other countries. Not only will those end up in our database anyway, but also ORG is in discussions about potentially deploying Blocked abroad, so we shouldn't preclude anything at this stage :smile: If it's just a matter of not having the data then I think that's ok though.

By "site type" did you mean DMOZ category, and by "source" di

[2014-12-16 12:13] graphiclunarkid commented on #113
I was thinking that life might be simpler (and the data might be more navigable) if we were to separate the "browse by location" from the "browse by category" features. The same information would be displayed in both trees - but they would have separate roots and branches.

[2014-12-16 12:19] webal commented on #119
It's easy enough to add in the country data (amended original post)

Source - yes basically the datafeed/source we got the data from - dmoz/open charities/etc

Site type - would have to be fairly basic, I was imagining using the same categorization as we have on the blocked site ie business/charity/government/etc

The way suggested above would save the location/categorization as determined by the

[2014-12-16 21:21] dantheta commented on #119
I was thinking that we could generalise this further.  If we extend the database to store arbitrary key/value pairs against each URL, then we can represent set membership and other extended attributes based on the source/import method.  Although an EAV storage pattern isn't the most optimal way of storing data in an RDBMS, it is extremely flexible.

We wouldn't have to create an array of additiona

[2014-12-16 21:48] webal commented on #119
would that be for geographic data as well?

[2014-12-16 21:55] dantheta commented on #119
We could contain both in the same table.  For example, if we've got a charity website with urlID 1001, then we could store the following attributes:

| urlID | Attribute | Value |
| --- | --- | --- |
| 1001 | Set:OpenCharities | 1 |
| 1001 | Set:DMOZ | 1 |
| 1001 | Dmoz:Category | Regional/UK/East_of_England/Charities |
| 1001 | Addr:Town | Colchester |
| 1001 | Addr:Postcode | CO10 0AA |

We can

[2014-12-16 22:24] webal commented on #119
sounds good, how would that work with a hierachy, eg if you wanted to browse all the blocked sites in a county then narrow that down to a town within a county?

[2014-12-16 22:37] dantheta commented on #119
We probably wouldn't build a postal address hierarchy directly, but we can reasonably easily run a query to find the values of the Addr:Town attribute on all urls that have Addr:County == Essex.  Those towns could be presented in the frontend.  Once the user had selected one, the system runs a query for urls that have Addr:County == Essex and Addr:Town = [Selection].

Representing those hierarchic

[2014-12-17 15:06] gwire commented on #105
I think any check that was performed more than 30 days ago should be suppressed from being displayed in the frontend via /results.

[2014-12-17 15:16] gwire opened #121 "Errors caused by large DNS responses?"
A check of https://www.blocked.org.uk/results?url=http://www.yify-torrents.com shows a number of "dnserror" responses, where I would expect "blocked" for BT/Sky/TalkTalk/Virgin.

Is this related to the size of the response being larger than UDP packet limits and therefore requiring TCP?  Are these actual DNS errors, or could there be an issue with the probes dropping oversized DNS responses?

[2014-12-17 21:07] dantheta commented on #121
I don't think it's the large DNS response that cause the problem - a retest with no configuration change tested the site successfully.  The responses in the logs suggest a transient nameserver or zone problem.

Hope that's OK.

[2014-12-17 21:07] #121 closed, assigned to nobody

[2014-12-17 21:32] dantheta opened #122 "Unicode URL support"
While I was checking over the DMOZ import, I noticed a set of URLs that had failed to import because they contained unicode characters in the path.  Although we don't currently have any support for internationalized domain names, the path components can be specified in any character set.  Our URLs table is currently set up for latin1 URLs only.  The DMOZ import used a latin1 database connection, w

[2014-12-18 10:21] graphiclunarkid commented on #122
I think we do at some point - we have ambitions to deploy the software outside the UK so international language support would be very useful. Would it be a great deal of work though?

[2014-12-18 21:52] webal commented on #119
I've had a stab at getting the data in, you can see the branch here: https://github.com/openrightsgroup/Blocking-Middleware/tree/generic_tags/backend. I've noticed a few issues that's probably worth having a think about before it goes much further:
1. To prevent duplicate tags being entered on every import of data I've added an extra fields to what Dan suggested for the tags - the source of the ta

[2014-12-19 20:35] dantheta commented on #119
Hiya -

Yep, that's the sort of thing I was thinking of, although I'd also been wondering about refactoring some of the import scripts that we're adding so that they use the service objects from the API instead of repeating common insert queries.  Inserting a URL is pretty common, so the import scripts could use the UrlLoader object from api/1.2/libs/services.php.  The UrlLoader would also be a pr

[2014-12-19 21:18] webal commented on #119
I was thinking the same about adding a couple of sandard methods for adding URLs to, I did it for the tags, certainly worth expanding. Did you wan to have a crack at that? If not I can have a go next week.
1. The reason for allowing the same tag from different sources would be in case there were discrepancies between different sources it would been it always had the correct tag (and also an incorr

[2014-12-19 21:27] webal commented on #119
Also regarding point 1, how will we handle removing obsolete tags if we use replace into?

[2014-12-21 16:46] dantheta commented on #119
For (1), I think we can see how it goes.  We can include a source on the tag and not uniquely index to start with, and see if the data winds up tidy enough without imposing more rules on it.

I'm about to commit some changes which put the tag maniplation functions on the UrlLoader class, and also make use of that class in the MP importer.

I don't know of a downloadable version of that address dat

[2014-12-22 09:20] sr-murthy commented on #52
Am happy to work on this change.

[2014-12-22 09:27] sr-murthy commented on #106
Am a newbie to cmp but am happy to start working on this.

[2014-12-22 09:39] sr-murthy commented on #96
happy to work on this also.

[2014-12-22 15:02] graphiclunarkid commented on #106
Hi @sr-murthy, welcome to the project, and thanks for offering to get involved!

I'm afraid it's going to be difficult for you to work on this particular issue right now because the changes need to be made to our front-end website. That's served via a Modx instance for which we don't have a development server right now. The only instance is our live server to which we restrict access to staff only

[2014-12-22 15:03] graphiclunarkid commented on #96
Hi @sr-murthy, I'm afraid this is another issue that isn't really suitable for newcomers, as we don't have a development server for our web front-end right now. That's the case with any issues labeled "modx" unfortunately.

[2014-12-22 15:10] graphiclunarkid commented on #52
Hi @sr-murthy, it would be great to get some movement on this feature, so I really appreciate you getting in touch! I can't remember exactly where we left things however I believe @dantheta was working on the back-end implementation of the email features. Hopefully he will be able to point you in the right direction!

If you're not already subscribed, it would be a good idea to join our mailing li

[2014-12-29 00:46] graphiclunarkid opened #123 "API endpoint to generate oonideckgen URL list from our database"
This issue is part of epic #78

OONI now have a tool that is shipped as part of ooniprobe called oonideckgen. This generates a test deck of URLs to be used by ooni-probe depending on the country in which it is running (determined by GeoIP lookup).

The URLs to test come from the [CitizenLab corpus](https://github.com/citizenlab/test-lists), which seems to have derived them manually, on the advice

[2014-12-29 00:51] graphiclunarkid opened #124 "EPIC: accept results from non-ORG probes"
We want to allow people to run their own probes and send us their results. There are a few challenges to overcome:
- How can we sure about the level of filtering that is applied to the connection being tested if we haven't configured it ourselves?
- Users who are not using their ISP's DNS servers (e.g. using 8.8.8.8 instead), or are using a VPN, or Tor etc. might circumvent censorship.
- Few peopl

[2014-12-29 00:53] graphiclunarkid opened #125 "Determine filtering-level of network under test automatically"
This is part of epic #124

Probes should be able to tell what level of filtering is active on the ISP account to which they are connected so that it can report results correctly.

May also be relevant to epic #78

[2014-12-29 01:43] graphiclunarkid commented on #78
Rather than sharing data between the two projects, perhaps the thing to do would be to link to each other's results, so that each can be presented in the context of its respective project. This way we wouldn't have to modify anything about how results are reported on either end - except to recognise when the other project has results for the URL in question and insert a link.