[2014-12-30 12:34] dantheta commented on #122
It's pretty straightforward - it does reduce the maximum length of URL that the system can handle though, since our current version of MySQL will only uniquely index 255 characters of UTF8 data (we currently uniquely index 767 chars of latin1).  We'd also need to do a small amount of work to make sure that we're using the multibyte string functions in PHP any time we're manipulating URLs.

[2014-12-30 12:44] dantheta commented on #114
Pre-checking of robots.txt, content-type and content-length is live.  May require a few refinements over time.

[2014-12-30 12:50] dantheta opened #126 "Expose URL status through front end site"
Now that we're filtering URLs based on content-type, content-length and robots.txt, it is possible for the system to refuse to test URLs.

If the system does refuse a URL, this is visible in the "url-status" property of the /status/url API call result.  It would be good for this information to be exposed to the user, so that the system doesn't appear broken when they put in a URL that is refused.

[2014-12-30 14:42] #90 closed, assigned to dantheta

[2014-12-30 14:43] graphiclunarkid commented on #114
I think we should close this now. We have a queue implemented for pre-checking URLs and we can add checks as we discover the need for them.

[2014-12-30 14:43] #114 closed, assigned to dantheta

[2015-01-04 13:00] dantheta commented on #26
We've now got a daemon that does pre-checks on submitted URLs (checking robots.txt, the mime type and content length of the target).  It currently checks the MIME type and file size using a HEAD request on a clean line, but it wouldn't be hard to change that to a GET and grab the headers and first 1k or so, and pass that on to the probes.

The probes would then be able to apply the usual block rul

[2015-01-14 11:53] altjo opened #127 "twitter feed that tweets blocking events"
Thanks for making blocked.org.uk.
It would be nice if there were a twitter feed that periodically tweeted new blocking events, with a link to the blocked.org.uk report and a reference to the ISP's twitter handle.

[2015-01-14 14:21] graphiclunarkid commented on #127
Hi Altjo, great idea! How would it work?

Perhaps we should be making this data available in a machine-readable format (e.g. RSS, JSON) so that others could build such things using it?

[2015-01-20 21:58] dantheta commented on #127
It sounds like a pretty easy thing to build an API endpoint for - the output could then be wrapped in RSS or whatever format.  Or we could provide the RSS directly from the API server itself.

[2015-01-25 10:05] dantheta commented on #127
I've added an API endpoint which returns the last (n) URL status changes as a json structure.  There's an example-client page which formats it into an RSS 2.0 feed.  There's an output demo here: http://dretzq.org.uk/sample.rss.xml.

The json structure contains a unique identifier and timestamp for the change event, which would help a twitter bot make sure that it isn't tweeting the same change twi

[2015-01-25 11:10] dantheta commented on #127
API Doc updated with the parameters for /recent/changes.

[2015-01-25 15:08] dantheta commented on #127
For fun, I've also added a sub-branch with a very simple twitter posting bot (Blocking-Middleware/feature/tweet_results).  Although it needs a lot more work (rate limiting, deciding which results to post, and  whether to consolidate multiple ISP's results into 1 tweet), it's pretty nice.  It hangs off the AMQP results queue, so it doesn't involve trawling the database.

[2015-01-27 02:59] graphiclunarkid commented on #127
Wow - awesome work. Thanks!

I wonder if @NetworksAreMadeOfString would be interested in integrating this with his existing Twitter bot? At the moment it only reacts to tweeted requests for URLs to check - but it would be great if it also tweeted out blocking events while it was idle...

[2015-02-19 22:04] dantheta commented on #78
Hi Arturo,

Sorry it's taken me so long to respond to this thread!

I've started to look at more integrated ways of getting candidate URLs from the blocked test scheduler (which are AMQP queues) into ooniprobe.

I've had a pretty detailed look through the ooniprobe code, and I've found the NetTestCase.inputProcessor method, which looks like a pretty good place to yield test urls from a network ser

[2015-02-22 16:21] dantheta commented on #78
Another approach that I thought of looking at, was to enter a queue wait at the end of oonicli.runWithDirector.post_director_start.  Each incoming url task would call director.startNetTest to kick off a nettest task, and each URL gets its own report back to the ooni-backend.

Does that sound more suitable?

[2015-02-24 18:16] hellais commented on #78
Hi @dantheta thanks for thinking a bit about this!

I think that by far the easiest short term fix is to simply write fetching URLs from ORG as a new processor in [oonideckgen](https://github.com/TheTorProject/ooni-probe/tree/master/ooni/deckgen).

But I agree that this is sort of hackish as it doesn't very well apply to the dynamic and real time nature of the ORG inputs.

The alternative would be

[2015-02-27 00:33] dantheta commented on #122
I've added a feature branch for unicode URL support .
https://github.com/openrightsgroup/Blocking-Middleware/tree/feature/unicode_urls

 There are database changes to improve the URL indexing - the URL itself is parsed and split into scheme, domain and path+query, giving us 510 unicode characters for the unique index.  The domain part is unicode-lowercased (addressing one of @gwire's previous feat

[2015-02-27 00:37] dantheta commented on #78
Oonid does sound like the kind of thing I was thinking of.  There's a minor semantic difference, in that Oonid expects tests to be pushed to it, while the original blocked probes waited to pull tests from a queue, but that's not a huge deal.

I remember seeing an API doc for pushing tests to ooniprobe.  Is that still current?  I've had a look on the ooni Trac page, but can't seem to turn up too mu

[2015-02-27 12:45] hellais commented on #78
@dantheta development of oonid has stopped some time ago and the current version of it is probably broken.
The code is still there so that somebody interested can pick it up again, but it is not officially supported, hence we don't have any documentation on it.
The installation of it is also disabled by default.

I would suggest you take the route of working on oonid only if you have plans to spen

[2015-02-28 23:29] dantheta commented on #78
Yes, I think you're right about the URL fetching.  I've followed your suggestion and added a small amount of code to allow retrieval of URL lists from arbitrary URLs inside the deck.  Seems to be working nicely!  If we keep ooniprobe running in a loop, fetching the accumulated URLs in the queue on each iteration, we should be able to keep the system quite responsive.

I'll push the work-in-progres

[2015-03-04 20:17] dantheta commented on #123
This has been completed, and will be added to a branch very soon.  It features client network detection (so that a separate call is not required to identify the client network), and authenticates using the normal probe credentials.

[2015-03-04 20:35] dantheta commented on #78
Hi @hellais ,

I've been playing about with a few different ideas, and wanted to check to see if you had a preference in some of the options we'd been trying out:

1) Setting up a URL endpoint and input processor for ooni-deckgen; ooni-deckgen fetches the URLs to a file, and ooni-probe runs against it as a standard deck.

2) Adding code to ooni-probe so that a deck can point to an API endpoint, an

[2015-03-17 13:34] dantheta commented on #78
Hi @hellais

Just an update on this - I've been looking more at probe performance on raspberry pi hardware, and the startup time for ooniprobe on that platform is quite prohibitive (a Pi takes 14 seconds just to load the twisted network library).  It's going to be quite difficult to get the performance we're looking for if we're repeatedly executing ooniprobe processes.

However, I have successful

[2015-03-17 15:41] hellais commented on #78
@dantheta that is awesome!

Thanks for doing this.

Regarding Pi performance, which model have you run this on? The Pi B+ is indeed very slow, but the Pi 2 B is supposed to be much better though I have not tried it out yet.

Once we implement the daemonization of OONI you will be able to run measurements in a much more performant fashion probably.

HTTPS collector support is something we have had

[2015-03-17 16:32] dantheta commented on #78
I've tested it on the model B  and the Pi2 - The model B does a single URL blocking/http_request test in 1m 30s, and the Pi 2 does the same test in 30s (I have both!).  I've done a bit of profiling on the process, and a lot of the time seems largely unavoidable - most time is taken in Python, allocating memory (slowly!).

HTTPS collector support was surprisingly easy - the Agent has SSL support bu

[2015-03-17 18:54] hellais commented on #78
@dantheta ah yes I know the pain of getting Twisted to do custom SSL validation.

I just pushed code for a little project I had sitting on my hard drive for some time that may be of use to you: https://github.com/hellais/sslpin

I originally started writing it when we wanted to add SSL support to OONI so that we could have the nice self verifying property that tor hidden services and not have to r

[2015-03-18 18:47] dantheta commented on #78
The branch I'm working on is here:
https://github.com/dantheta/ooni-probe/tree/org_queue

I don't think it's quite ready for merge review yet - there's a lot of duplication (mainly to avoid breaking things) which can probably be taken care of with judicious refactoring.

[2015-03-19 09:40] hellais commented on #78
@dantheta awesome, thanks. I will take a look at it and let you know what needs to be done to get it ready for merge into OONI.

This is very useful also to have a better understanding on how the ORG architecture works and how organisations with similar requirements can use ooniprobe for their purpose.

[2015-03-19 09:48] dantheta commented on #78
We've got a basic system diagram here:  https://github.com/openrightsgroup/cmp-spec/blob/master/Queuing/queues.png

The system has been enhanced a bit since the diagrams were made, but it covers the basics.   Let me know if there's anything you'd like me to expand on.

[2015-04-14 21:32] dantheta commented on #78
I've made a couple of further refinements to improve performance:

The GeoIP and Tor connection routines have been amended so that they keep their settings for second and subsequent tests.  This isn't something that would affect ooniprobe normally, since the program would exit after it had finished its test run, but since we're adapting it to run multiple tests we wanted to save some time by not r

[2015-04-29 14:48] gwire opened #128 "Recognise domains that have been seized"
It would be nice to record results for domains that have been "seized", or otherwise transferred (i.e. not blocked at the network level).

For example, there is a High Court blocking order against the domain "watchonlineseries . eu" but http requests to the domain include following response headers:

`HTTP/1.1 301 Moved Permanently`
`Location: http://www.fact-redirect.org.uk`

[2015-05-04 18:39] dantheta commented on #128
This is pretty easy to do with just configuration.  We need to think about how we display these though.  We can add a rule to identify these and categorise them as domain seizures, but the results would be displayed as "blocked" against each of the ISPs, even the ones that don't implement any blocking.  Would this be OK for AAISP, for instance?

[2015-05-26 15:34] hellais commented on #78
Hi @dantheta, thank you so much for this excellent work :+1:

I will today begin reviewing your PR.

I rebased it against the current master and [opened pull request #395](https://github.com/TheTorProject/ooni-probe/pull/395) to discuss the changes and code.

[2015-05-31 16:53] dantheta commented on #102
An importer for the citizenlab test sets has been added to the feature/unicode_urls branch.

[2016-01-10 23:18] dantheta commented on #123
This approach has been superceded by the ORG queue integration into ooni-probe.  The oonideckgen approach was also a little limited, in that oonideckgen expects URL lists from a fixed location to have fixed content (they are identified by hash-of-contents in the caching layer); IIRC, the caching layer would have to be disabled to allow a URL list to be refetched with different content.

[2016-01-10 23:53] dantheta commented on #63
The wording for the question is going to be quite important; we can generally assume that a proportion of the audience is opposed to web blocking in general, so asking if a site should be blocked without providing any other context is likely to predispose a participant to answering "no".

We will soon be able to display the DMOZ category (and/or the block list category extracted from the ISP's res

[2016-01-10 23:59] dantheta opened #129 "Add bulk import tool with result reporting"
An area for importing lists of URLs which can be tagged with a source name.  The URLs would be loaded into the system, queued for testing, and the results can be extracted as a spreadsheet/CSV.

This has largely been achieved so far using command-line scripts and/or ad-hoc developer access.

The area would be initially available for technical ORG staff and designated individuals, rather than open

[2016-01-11 09:03] JimKillock commented on #63
Yes, error is right. Maybe we could provide a bit more info / help users via a tool tip or similar when we get to building the front end.

[2016-01-18 20:45] dantheta commented on #113
The DMOZ category API functions have now been added, tested and released.  The API documentation has also been updated to add the two new functions.

[2016-01-21 22:47] dantheta commented on #63
This should be ready for implementation - at the moment, we have a set of questions that are shown on the results page, and the form contents are fed to the API.  Adding the "Is this block an error" question there will work fine, and pass the result to the API for storage.  I'm going to be making some changes in the backend to store these form submissions in a more reportable form.

If frontend de

[2016-01-24 21:41] dantheta opened #130 "Make feed of new blocked results available through RSS"
I thought it might be quite neat to have new results available through RSS, for integration with other services.  The change tracking tables (url_latest_status and url_status_changes) make this quite easy to do.

[2016-01-24 21:42] #130 closed, assigned to nobody

[2016-01-24 21:43] dantheta commented on #127
Added an RSS output directly from the database in #130

[2016-02-05 18:22] gwire opened #131 "Store the Pin SHA256 fingerprint when checking HTTPS URLs"
For https URLs being queried it would be good if we could store the SHA26 Pin fingerprint for the certificate of the connection at the point it was checked (i.e. the format used by [RFC 7469](https://tools.ietf.org/html/rfc7469) key pinning).

e.g. the current cert pin-sha256 for www.blocked.org.uk would be `FxH/anX7NVkY0MbnFwOkUBvrK6xjhRAQAh3ZrWDG7uo=`

We could then output this in the API - and

[2016-02-24 23:04] #123 closed, assigned to nobody

[2016-03-19 17:59] #129 closed, assigned to dantheta

[2016-03-19 17:59] #92 closed, assigned to nobody

[2016-05-05 22:25] dantheta opened #132 "EPIC: Interface & API functions for reporting overblocking to ISPs"
To provide human-powered validation of a  selection of URLs which have been blocked by ISP filters.  Reviewers should be using an unfiltered internet line (so that they can see the real destination site).

Requirements include:
- [x] Page to show list of blocked sites, with category information.  Previously reported overblocked sites are excluded from this list. Selecting an entry leads to the rep

[2016-05-15 20:13] dantheta opened #133 "Text for ISP overblocking enquiry email"
The system sends an overblocking enquiry email on behalf of the user - we'll need a subject line and message body template for this email.

[2016-05-23 23:46] dantheta commented on #63
I've added the form element with the text "Has this site been blocked in error?", with the options Yes, No, Not sure and Not Applicable.  Some explanatory text would definitely help.

[2016-05-28 13:26] nllz opened #134 "Improve (and centralize) documentation"
From different sources, ranging from here, https://blocked.org.uk/ and https://wp.censorship.exposed/en/

[2016-05-28 13:27] nllz opened #135 "Add automated VPN probing for comparison with Tor and vanilla tests"

[2016-05-28 13:28] nllz opened #136 "Add automated DNSSEC / SSL probing for comparison with Tor and vanilla tests"

[2016-05-28 13:30] nllz opened #137 "Add option to list all blocked websites, plus historical view of all blocked websites per country / ISP"

[2016-05-28 13:31] nllz opened #138 "Probe for service blocking"
With reference to https://tools.ietf.org/html/draft-lemon-tls-blocking-alert, and blocking of HTTPS sites by ISPS.  This could be added as an ooniprobe test or an extension to ORGProbe, though we may need to wait for an implementation to test again.

[2016-05-28 13:33] nllz opened #139 "Clone WPplugin repo to Open Rights Group github account"
In order to have all parts of the systems in one place

[2016-05-28 13:34] nllz opened #140 "Create an Ooniprobe dockerfile"

[2016-05-28 13:36] nllz opened #141 "Create a browser based probe"

[2016-05-28 13:36] nllz opened #142 "Create a probe mobile app"
Not sure if people would want to structurally run probes on their data plan.

[2016-05-28 13:49] nllz opened #143 "Compare project with solutions in Centinal of the IClab"
https://github.com/iclab/centinel
https://iclab.org/
https://iclab.org/explore

[2016-05-28 13:50] nllz opened #144 "Add analysis framework for positives"

[2016-05-28 13:50] nllz opened #145 "Add downloadable RPi image with installerscript"

[2016-05-28 13:50] nllz opened #146 "Create server side installer script"

[2016-05-28 13:59] nllz opened #147 "Make trend data available through d3js or graphviz instead of csv download"

[2016-05-28 13:59] nllz opened #148 "Support for aggregating responses from multuple untrusted volunteer devices"

[2016-05-28 13:59] nllz opened #149 "Monthly report to each ISP with stats"

[2016-05-28 14:00] nllz opened #150 "Easier authentication for JS"

[2016-05-28 14:03] nllz opened #151 "Add probe rate limiting option + wizard / script"

[2016-05-28 14:13] nllz opened #152 "Add API documentation ad MD file to repo"

[2016-05-28 14:16] nllz opened #153 "Drop vagrant and migrate to Docker"

[2016-05-28 14:48] gwire opened #154 "Extract and store open graph meta information from sites"
Extract and save particular meta information for sites. e.g. [Open Graph](http://ogp.me) and [Twitter Cards](https://dev.twitter.com/cards/markup) and make it available from the API.

e.g.
`<meta name="twitter:site" content="@OpenRightsGroup">`

This would mean that if www.openrightsgroup.org gets blocked, the frontend might, for example, provide the ability to tweet a site owner to inform them of

[2016-05-28 14:49] dantheta commented on #153
There's an updated ansible playbook here: https://github.com/openrightsgroup/Blocking-Middleware/tree/feature/unicode_urls/ansible

This should provide information on system components, versions and configuration

[2016-05-28 15:00] damianmoore commented on #153
Great, I'm looking at this.

[2016-05-28 22:43] damianmoore commented on #153
I haven't actually been able to find the code that generates the Vagrant image http://dretzq.org.uk/vagrant/ORGapi2.box

I'm looking for where the PHP dependencies get installed so have been searching for things like pecl, yum, apt.

[2016-05-29 10:41] dantheta commented on #153
The vagrant image was based on CentOS 5, and is probably safe to disregard after so long.  The list of PHP packages is in the api role of the ansible playbook:

https://github.com/openrightsgroup/Blocking-Middleware/blob/feature/unicode_urls/ansible/roles/api/tasks/debian.yml

[2016-05-29 10:46] dantheta commented on #150
Would https://en.wikipedia.org/wiki/JSON_Web_Token be an option here?

[2016-05-30 14:48] anadahz commented on #145
Perhaps the [Lepidopter](https://github.com/TheTorProject/lepidopter) image source code is a good start to modify according to ORG needs.

[2016-05-30 14:50] anadahz commented on #140
There is already some work done on the [ooni-probe Dockerfile](https://github.com/TheTorProject/ooni-sysadmin/pull/35).

[2016-05-30 14:51] anadahz commented on #142
Related: https://github.com/measurement-kit/measurement-kit

[2016-05-31 20:53] dantheta commented on #106
I've added the site category (parsed from the ISP response page, where they support it).   I had to make the text quite small to preserve the layout, but it still works.  We may need to update the explanatory text a bit.

[2016-05-31 21:29] dantheta commented on #106
The category data doesn't look so good on the page: The DMOZ categories require multiple levels to give them context, and there isn't a lot of room for such a large amount of text.  This ticket should probably be parked until the results page layout is being revised.

[2016-06-11 13:34] dantheta commented on #153
Hiya - How are you getting on?  Is there anything I can help with?

[2016-06-11 23:40] dantheta commented on #96
Added page at blocked.org.uk/confirm, linked from confirmation emails.

[2016-06-11 23:40] #96 closed, assigned to nobody

[2016-06-11 23:40] #18 closed, assigned to nobody

[2016-06-11 23:42] dantheta commented on #144
Duplicate of #30 ?

[2016-06-11 23:42] #144 closed, assigned to nobody

[2016-06-11 23:51] dantheta commented on #78
The queue driver has been accepted upstream (many thanks!).  There's some work to do in how the results are uploaded back (the queue driver turns each received URL into a deck, which then creates a report for a single URL.  This isn't optimal for ingestion through oonibackend).  Having the middleware gather the results for submission into a single report would seem to be a viable option.  I'll spi

[2016-06-11 23:51] #78 closed, assigned to nobody

[2016-06-11 23:59] dantheta commented on #148
Duplicate of #124

[2016-06-11 23:59] #148 closed, assigned to nobody

[2016-06-11 23:59] dantheta commented on #124
There are also issues surrounding informed consent - in higher-stakes territories, running software that makes HTTP requests to URLs read from a remote source  can carry quite series legal and personal risks.

[2016-06-13 21:57] damianmoore commented on #153
Hi Dan, I've definitely got a good chunk of the way there. I have a branch you can compare here: https://github.com/openrightsgroup/Blocking-Middleware/compare/master...damianmoore:feature/docker

I have Apache, PHP, MySQL running and can access some endpoints. I discovered the /example-client/ endpoint and have had a play around, trying to post various forms. I'm alternating between the Docker ve

[2016-06-14 21:21] dantheta opened #155 "Text for site update email"
We need text and branding for the emails sent to subscribers when the status of one of their URLs changes.  The email provides a breakdown by URL and ISP, similar to:

[code]

It just needs to have friendlier wording and a bit of branding applied.

[2016-06-14 21:23] dantheta commented on #155
Oops, duplicate of #2

[2016-06-14 21:23] #155 closed, assigned to nobody

[2016-06-14 21:40] #2 closed, assigned to nobody

[2016-06-14 21:49] dantheta commented on #2
This has now been loaded in.  I've made some slight modifications as the email report is currently formatted as a daily summary of activity on all URLs that an individual has subscribed to.

[2016-06-14 21:57] #50 closed, assigned to dantheta

[2016-06-16 21:49] dantheta commented on #153
That's looking really great - many thanks!

There's an SQL file at mysql/example-init.sql that creates a sample user and ISP record.  Running this against the MySQL database (once the schema has been loaded) will give you a user record to match the example-client's credentials.example.php.  You can rename this file to credentials.php to get the example client to run.  From there, you should be abl

[2016-06-17 10:51] damianmoore commented on #153
Thanks for all that info - I'm sure it will help me along. I probably won't get much time to look into this for the next 2 weeks, due to other commitments unfortunately, but I won't forget about this :)

[2016-10-02 23:53] #140 closed, assigned to nobody

[2016-10-02 23:54] #139 closed, assigned to nobody

[2016-10-03 22:12] dantheta opened #156 "API option to hide categories that contain no blocked sites"
Continue from #132

[2016-10-03 22:14] dantheta opened #157 "API option to change sort order of category results"
Continue from #132

[2016-10-03 22:25] dantheta opened #158 "Collapse category entries that have no blocks of their own"
The category tree requires quite a lot of drilling down in order to find categories that contain blocks (as opposed to the ancestors of those categories).  There should be a way to represent consecutive child categories that are parents of an eventual block-containing category.

[2016-10-03 22:25] dantheta commented on #158
Continues from #132

[2016-10-03 22:26] dantheta opened #159 "Make all ancestors of a category available in results"
Continues from #132

Allows creation of breadcrumb trail in category frontend

[2016-10-03 22:30] dantheta opened #160 "Make block reporting stats available as API call"
For #132

Home page counters to include number of sites reviewed, number of sites reported

[2016-10-03 22:31] dantheta opened #161 "Return reported status in category lookup"
To allow the frontend to hide the "report to ISP" option for a site that has been submitted already.

[2016-10-03 23:01] #157 closed, assigned to nobody

[2016-10-03 23:01] #156 closed, assigned to nobody

[2016-10-05 22:13] #159 closed, assigned to nobody

[2016-10-13 21:42] dantheta commented on #154
Applicable data now being collected in site_description table.

[2016-10-13 21:42] #154 closed, assigned to nobody

[2017-04-21 08:50] #100 closed, assigned to nobody

[2017-07-28 12:46] MrMEScott opened #162 "dmoz website closed"
Link from https://stage.blocked.org.uk/blocked-sites to the list of dmoz categories takes you to a site http://www.dmoz.org/ which is closed. The link should be to the static mirror at http://dmoztools.net/ instead.

[2017-07-30 01:11] Flatlyn opened #163 "Increase saturation/contrast of blocked/unblock row identifiers"
Increase the saturation and/or contrast of the highlighted rows showing which ISPs have the site blocked or unblocked, to facilitate clearer and faster distinction.

[2017-07-30 01:21] Flatlyn opened #164 "Further explanation of unblock procedure and criteria"
Add more information about the criteria for unblocking requests, either on the About or Support page or in-line during the Request Form.

For example at one stage there is a checkbox asking you to confirm "[...] that the site is not squatted, abandoned, a redirected URL or unsuitable for under 18s" – in that instance it isn't necessarily clear what abandoned is defined as; is it simply a site not

[2017-07-30 01:36] Flatlyn opened #165 "Update social media icons under "Spread the word""
Consider switching the icons to versions that fit better into the overall clean design feel of the site.

Additionally change the Twitter icon to be the twitter bird rather than the "t" it is just now. The "t" is non-standard for a twitter link, with the majority of services using the bird, can be confused with Tumblr, and is not in fitting with Twitters brand guidelines.

[2017-08-01 12:10] owenblacker opened #166 "Method not allowed error on signup"
Filling in the "Stay informed" box at the bottom of https://stage.blocked.org.uk/thanks?u=1&v=1 after requesting an unblock took me to https://stage.blocked.org.uk/signup with an HTTP error message: Method Not Allowed. The method is not allowed for the requested URL

[2017-08-02 16:38] mattric3 opened #167 "DMOZ categorisation not clear."
Suggest to add either a description of what DMOZ, or examples of categories to search.

[2017-08-02 16:41] mattric3 opened #168 "Individual URL search on Blocked Sites tab"
individual URL search is an important entry point for many, should not be pushed to options below category search.

[2017-08-02 16:43] mattric3 opened #169 "Clarity on what category search represents"
Is the category search already submitted URLs that have since been categorised against DMOZ categories? Unclear what it is made up of and whether if no report exists for site (1) what this means and (2) what user should do.

[2017-08-02 16:47] mattric3 opened #170 "Simplify instructions for searching"
At the moment too confusing with the DMOZ category search and text around. Make the instructions simpler, bullet pointsl in plain english.

[2017-08-02 18:53] dantheta commented on #158
Newer design removes this problem.

[2017-08-02 18:53] #158 closed, assigned to nobody

[2017-08-02 18:54] dantheta commented on #133
We've got this now.

[2017-08-02 18:54] #133 closed, assigned to nobody

[2017-08-02 18:56] dantheta commented on #132
All of these items have been implemented.  Testing, tweaking and improvements in progress.

[2017-08-02 18:56] #132 closed, assigned to nobody

[2017-08-02 18:56] #122 closed, assigned to nobody

[2017-08-06 16:52] dantheta commented on #165
Thanks for the feedback.  I've changed the social icons to use the same vector set that is in use on the main openrightsgroup site.  This set uses the proper bird logo for twitter.

Thanks again,

Daniel.

[2017-08-06 16:52] #165 closed, assigned to dantheta

[2017-08-06 18:10] dantheta commented on #162
Link destination updated.

Thanks for the feedback!

[2017-08-06 18:10] #162 closed, assigned to nobody

[2017-08-06 18:13] dantheta commented on #106
These are present in the new frontend.

[2017-08-06 18:13] #106 closed, assigned to dantheta

[2017-08-14 21:12] dantheta opened #171 "Page content feedback"
Feedback by email regarding text content (for /about and ISP checking):

One thing I'd like to see explained in the site copy - How are blocked sites discovered?  Are they crawled from some source list (and if so, which ones), or just tested on user submission?  Presumably the former, but it'd be nice to know how this happens so I know the scale of your tests.

I'd like to see more technical detai

[2017-08-15 09:09] edjw commented on #171
Very useful feedback. On the second point, how would we help people who wanted to see that level of detail see what the checking tool sees?

[2017-08-19 14:34] #168 closed, assigned to nobody

[2017-08-19 14:35] dantheta commented on #168
Thanks for the feedback!  We're probably also making the site search a call-to-action feature on the frontpage in the near future.

[2017-08-19 15:34] #160 closed, assigned to nobody

[2017-10-06 21:13] dantheta commented on #131
SSL fingerprints are being stored now.  They aren't visible from the frontend, but we can forward any anomalous URLs to ooni for more comprehensive testing.

[2017-10-06 21:13] #131 closed, assigned to dantheta

[2017-10-11 19:48] JimKillock opened #172 "Plusnet filtering"
Is this enabled? How do we check?

We ought to have some info about the lines etc on a page somewhere

[2017-10-11 22:09] dantheta commented on #166
This is sort-of fixed now.  The signup form has been changed to an action button linking to the action.openrights.org site.  Unfortunately the CSRF protection on that form prevents us posting to their directly.

[2017-10-11 22:09] #166 closed, assigned to nobody

[2017-10-11 22:10] dantheta commented on #161
This is taken care of in the new UI.

[2017-10-11 22:10] #161 closed, assigned to nobody

[2017-10-30 02:16] dantheta opened #173 "Move saved list storage to the backend"

[2018-02-13 21:24] dantheta commented on #173
Not required any more.

[2018-02-13 21:24] #173 closed, assigned to nobody

[2018-02-13 21:25] dantheta commented on #172
The new plusnet line has parental filtering.  Odd that we never managed to get it working on the old line.

[2018-02-13 21:25] #172 closed, assigned to nobody

[2018-12-11 09:41] JimKillock opened #174 "Clearer status for unsent messages"
Where website unblock requests have been logged, but not sent:

(1) Users should get at a second and third request to confirm their email, after a day and a week;

(2) If the request is not completed within two weeks, it should be discarded. The user should be emailed to tell them it has been discarded.

The admin system should record the complaint as "Not completed" or "Discarded" as appropriate.

[2018-12-13 21:29] dantheta commented on #174
User verification status is now visible in the admin pages.

[2018-12-29 23:48] dantheta commented on #174
Verification reminders are being sent.

[2018-12-29 23:48] #174 closed, assigned to dantheta

[2019-02-08 10:38] gwire opened #202 "Add all MHRA-registered sites to test list"
We've seen queries released to pharmaceutical companies being categorised as "Drugs" and then being blocked on the assumption that they are promoting illegal drug use.

Can we pull a list of all MHRA registered websites and test them.

MHRA has a registry, I can't find an API, but there's a website with 830 entries
https://medicine-seller-register.mhra.gov.uk/search-registry/?q=

Each entry will h

[2019-02-08 15:55] edjw commented on #202
There are lots of urls with amazon and ebay domains in here but this is the 821 unique urls in that registry

[code]

[2019-02-08 16:38] gwire commented on #202
"http://myukdoctor.staging.klx.io/", yeah that's some quality data.

Ok, I've pulled out the domain (removed eBay and Amazon sellers) and switched them to http to help with matching any block categories, and created a [gist](https://gist.github.com/gwire/05963b61887536ca9e6cf8404944ab2e).

Will upload to blocked.

[2019-02-11 13:42] edjw opened #175 "Add checkboxes and notes to record bad blocks and/or reviews in Admin"
Can you add two checkboxes into the admin area to record both whether a) an
original block was bad and b) a ISP’s review was bad?

Can you also add a single notes box to document thinking on this?

(We could use this to show off bad examples on the front end
at some point too.)

[2019-02-11 13:42] edjw opened #176 "Ensure ISP policies are visible for all ISPs in the Review Block section"
There is a Review Block section in the ISP report section of the Blocked admin area. This lets an admin user say whether a block is in line with an ISP's policy or not. The bug is that we are showing the ISP's policy for some ISPs but not others. This makes it difficult for us to make this evaluation.

This is an example https://www.blocked.org.uk/control/ispreports/Sky/http://www.ahrendsgripsusa.

[2019-02-11 13:44] edjw opened #177 "Add marker to Admin UI to show a category has been added by hand"

[2019-02-11 13:45] edjw opened #178 "Show category notes for a URL on all network reports"

[2019-02-11 15:37] #177 closed, assigned to dantheta

[2019-02-11 15:43] JimKillock commented on #176
Request that we include some description in tickets (I am not clear what "review block section" is for instance, or why these are sometimes visible and sometimes not).

[2019-02-11 15:47] edjw commented on #176
Description added

[2019-02-11 15:55] JimKillock opened #179 "Data integrity for categorisation types"
The categorisation interface allows users to delete categories and apply new ones. This may lead front end users to believe that a "categorify" or "DMOZ" category is derived from external data where it is in fact applied by ourselves.

It also would make it impossible for us to raise complaints to Categorify where we believe they have made a categorisation error.

We should ensure that our interna

[2019-02-11 15:59] edjw commented on #179
Dan said this previously when I asked about this

[2019-02-11 15:59] dantheta commented on #179
I was wondering about this yesterday.  I think we've got a site category
list from the previous frontend which we can refresh and use here.

The administrator would only be able to add categories from this list,
but could override/remove categories that had come from an external
source.

With a small amount of effort, the category list could be maintainable
from the control panel too.

Does that s

[2019-02-11 16:02] JimKillock commented on #179
That sounds great. I think the user interface (front and back end) should be really clear about whose categorisation values are applied - ours, Categorifies, DMOZ or the ISPs.

[2019-02-11 16:03] alexhaydock opened #180 "Unable to see category notes posted by other administrators"
Unless I am missing something, it would appear that the "category notes" field in the backend, found under "Review Categories", is one which is specific to myself and I cannot see notes added by other admins.

[2019-02-11 16:15] edjw commented on #180
I can see your notes in Review Categories for this one:

https://www.blocked.org.uk/control/ispreports/BT/337/http://www.talkingdrugs.org

Might it be that you're not seeing notes by me because I added them in a particular ISP's report page and you're looking at a different ISP page for the same blocked URL? Dan is going to make sure notes for the same URL are available on all pages related to tha

[2019-02-11 16:17] alexhaydock commented on #180
Maybe I am mistaken then, but I thought I had remembered watching you enter notes for this one:

https://www.blocked.org.uk/control/ispreports/Sky/386/http://feeld.co

I cannot see any notes in the Review Categories section here.

If you didn't enter any then I can close this ticket since it's probably the case that I'm just not seeing any notes because none have been written.

[2019-02-11 16:19] dantheta commented on #180
At the moment, the categorisation note (singular) is stored on the ISP
report record (which is incorrect).  This is likely to change tonight,
so it's probably best to add them sparingly until tomorrow.  The notes
field is visible to all admins.

I'm thinking that it will be moved to the url-category mapping record,
so you'll get one note for each category that is added/removed.

Related: #178

[2019-02-11 16:22] alexhaydock commented on #180
Thanks Dan. That sounds ideal and answers a ticket I was about to create just now. :+1:

To confirm, the notes will be visible from any of the ISP reports for a particular domain and not just per-ISP?

[2019-02-11 16:24] JimKillock commented on #180
In general, I think review information, flags, notes etc, should probably be added and then superseded rather than edited.

EG, a reviewer supplies a note, on a specific date, then a new one is added if needed.

The same applies for categorisations and judgements whether an ISP policy is applied correctly.

This is because all observations can be valid at a particular date and time, but may not be

[2019-02-11 16:27] dantheta commented on #180
On 2019-02-11 16:22, Alex Haydock wrote:

That's right (for the categorisation notes) - the per-ISP bit was an
accidental error.

[2019-02-11 16:30] alexhaydock opened #181 "Confirm user has entered a real email address"
For example: https://www.blocked.org.uk/control/ispreports/BT-Strict/http://whitehouse.com

I don't know how strict we want to be in terms of ensuring reports can/can't be submitted anonymously but either way I suppose it's not that helpful to allow people to submit malformed or garbage addresses in the email field.

[2019-02-11 16:35] dantheta commented on #181
We already do :)  The first time a report is sent by a user with a
particular email address, the user is sent a validation link by email.
Their reports won't be sent until the validation link is clicked.

The reports will stay at the "awaiting user validation" stage for up to
<n> days before the report is cancelled.

This isn't completely bulletproof (self-destructing anonymizing
forwarders, etc).

[2019-02-11 16:36] JimKillock commented on #181
From your POV @alexhaydock, these can be ignored as they aren't sent off as @dantheta says. Perhaps it needs to be flagged on the admin pages that these reviews are not relevant?

[2019-02-11 16:41] alexhaydock commented on #181
Ah that makes sense. Thanks for the confirmation. I suppose now that I understand the "Cancelled" status a bit more it's probably not necessary to add a specific UX element to indicate reports that can be safely ignored, but it may be useful for future users.

[2019-02-11 16:49] dantheta commented on #181
I've started to add filter tabs at the top of the ISP report listing to
show relevant subsets of the reports table; this is one of the use cases
I had in mind, and should get added soon.

[2019-02-11 23:04] #180 closed, assigned to nobody

[2019-02-11 23:04] #179 closed, assigned to JimKillock, dantheta, edjw

[2019-02-11 23:06] dantheta commented on #179
The category review screen can now only add values from the ORG category list.  It is possible to add values to this taxonomy on the fly (albeit only one at a time).  Should be OK for now though.

The admin screen can still be used to suppress category mappings from the external sources.

I'll add another ticket for the frontend update - that's not too big a change.

[2019-02-11 23:08] dantheta commented on #180
This is fixed (or at least, made a lot clearer in #178)

[2019-02-11 23:12] dantheta commented on #178
The category management functions now operate at the URL level instead of ISP report.  Effectively, the same category tab is shown no matter which ISP report you are viewing it from.

The comments have been changed to an append-log style, rather than having one value.  I've copied the data from the old field into the new table.

From the category tab, it is possible to:
* Suppress/reactivate a cat

[2019-02-11 23:14] dantheta commented on #181
I've spun off another ticket for catching obviously syntactically invalid email addresses and checking with the user.  I don't think there's anything to do for this issue.

[2019-02-11 23:14] #181 closed, assigned to nobody

[2019-02-11 23:25] dantheta commented on #176
All done.

[2019-02-11 23:25] #176 closed, assigned to dantheta

[2019-02-11 23:29] dantheta commented on #175
Evaluating the ISP's responses seems like a good idea - I'm not sure of the distinction between the matches-policy field and the bad-original-block field.  Would it be possible to provide more information about the anticipated use-case (mainly so we can work out at which level to store the value)?

[2019-02-11 23:32] dantheta commented on #126
This was done a while ago in the python frontend.

[2019-02-11 23:32] #126 closed, assigned to nobody

[2019-02-12 09:15] edjw commented on #178
Thanks Dan I think that's a nice solution

[2019-02-12 09:25] edjw commented on #175
Thanks for coming back on this Dan. This definitely needs further discussion to work out what the problem is and how to deal with it.

Say we were looking at a CAMRA site and an ISP blocks it because it fits into the category "Alcohol and Drugs".

Is it about "Alcohol and Drugs"? Yes. It's in line with their policy because it is about Alcohol.

But is it reasonable for ISPs to block it and/or make

[2019-02-12 09:26] JimKillock opened #182 "Make reports and observations consecutive"
Reports and validations made for user reports and categorisations should be consecutive and dated.

For instance, if a report is marked as "correct" or a note is added, this should be dated and then no longer editable.

New observations and notes should be added and supercede the old ones in the public front end, but the old observations should remain in the database.

This is because sites will c

[2019-02-12 09:32] JimKillock commented on #175
The problem here is that a single observation and judgement is quite subjective. This means we can't easily use Alex's categorisation process to make objective results.

What we could do is flag these sites as "May be harmless". We could then take a look at those sites that have been reported and look for themes and issues.

The way we discussed this at planning stage was that we would need to gai

[2019-02-12 10:40] alexhaydock opened #183 "Unspecified error page"
Please see: https://www.blocked.org.uk/control/ispreports/Vodafone/http://www.workersplaytime.net

Or, the following page (and select email number 2 to trigger the error): https://www.blocked.org.uk/control/ispreports/EE/http://www.filmhub.com

[2019-02-12 10:42] alexhaydock commented on #183
NB: Please note that the error page does not always trigger for the same URL. For instance on the first URL it appears to only trigger for Vodafone. Other ISP pages for the same URL are unaffected: https://www.blocked.org.uk/control/ispreports/EE/http://www.workersplaytime.net

[2019-02-12 11:41] alexhaydock commented on #175
I would agree with a "May be harmless" checkbox or flag as a useful addition.

I've just been struggling with this problem for [a site which makes gun grips](https://www.blocked.org.uk/control/ispreports/Sky/http://www.ahrendsgripsusa.com) for handguns. They don't make guns themselves, nor are they an online marketplace. It appears that their service is very bespoke, by direct-contact only, and th

[2019-02-12 12:22] alexhaydock commented on #183
Further note: It looks like this error appears for every Vodafone ISP report.

[2019-02-12 16:15] JimKillock opened #184 "Add egregious blocks info to DB"
Rather than storing the egregious blocks in a separate spreadsheet only, could we add this information into the Blocked DB?

This could be a flag: "Egregious error"; and a description field.

On the public side, this could be a simple list.

[2019-02-12 16:26] edjw commented on #184
Is this different to what we're talking about in #175?

[2019-02-12 16:31] edjw commented on #182
@dantheta – Can you take a look at this when you're back from sick leave?

[2019-02-12 16:37] JimKillock commented on #184
Possibly not, but I don't know. i am looking at the spreadsheet here:

https://docs.google.com/spreadsheets/d/1lTOwREoSWW8rwAFOUqpxQTYl8NpGm5Ds9WmnmqghYIk/edit#gid=0

and wondering if this is in the DB and retrievable to publish on the front end.

[2019-02-12 16:47] alexhaydock commented on #184
It isn't in the DB yet, though I did suggest to Ed that we add it. I feel like that was part of the intent of #175, though it's expressed much more concisely in this ticket.

I definitely agree, as the most egregious blocks could be accompanied with some text and description and would make a great thing to publish on the Blocked frontend to show both the successes of the tool and the failings of t

[2019-02-12 22:25] dantheta commented on #183
Yep, this is because of the quoted printable fix.  Vodafone replies use windows-1252, not utf8.  I've added a quick fix for it (the infamous black diamond), and will add better charset handling when I'm fully back.

[2019-02-12 22:28] dantheta commented on #183
Vodafone reports are readable in basic form.  I've spun off another ticket for handling charset more gracefully.

[2019-02-12 22:28] #183 closed, assigned to nobody

[2019-02-12 22:29] dantheta opened #185 "More graceful charset handling for reply emails."
Related: openrightsgroup/cmp-issues/issues/183

[2019-02-12 22:44] dantheta commented on #182
This is already done for the categorisation operations.  It should be pretty straightforward to apply to the report review.

[2019-02-12 23:19] dantheta commented on #182
This is done for the review notes.  The isp_report record still contains the latest value for the matches_policy field, but comments and the historical states of matches_policy are now kept in a comments append-log.

I've copied all of the previews comments from the old field to the new one, although attribution information is not available in the old schema.  I've assigned them all to Alex, hope

[2019-02-12 23:19] #182 closed, assigned to dantheta, edjw

[2019-02-12 23:26] dantheta commented on #184
Yep, that makes sense.  Does a checkbox capture enough information?  Would a star rating be useful for capturing levels of egregiousness (sp?!)

We could then score reports on the quality of the original block, the quality of the responses and the eventual outcome (matches_policy).

[2019-02-12 23:26] #178 closed, assigned to dantheta

[2019-02-13 11:20] alexhaydock commented on #184
I wonder what @JimKillock thinks, but personally I think maybe two checkboxes would be useful. One for "egregious block" and maybe a second for "featured block", which could be used to tag the blocks which are noteworthy and interesting enough to be featured on the main Blocked site?

[2019-02-13 11:35] alexhaydock opened #186 "Add manual override for unsent unblock requests"
For some sites, valid unblock requests have been submitted but the requests have never been forwarded to ISPs (mostly due to the user never confirming their email address), however the unblock requests are often legitimate and the sites involved are inappropriately blocked.

Perhaps there could be a button for cancelled unblock requests such as this, allowing an admin to "take ownership" of the un

[2019-02-13 11:38] alexhaydock commented on #186
Would like to hear @JimKillock's opinion on this idea. There are many unsent unblock requests which would be useful to send.

[2019-02-13 12:57] JimKillock commented on #184
I like the suggestion of two tickboxes.

I think it's too subjective to have a star rating. However a block that seems to be clearly in violation of the policy leading to a particularly perverse result seems reasonably easy to judge.

[2019-02-13 14:41] alexhaydock opened #187 "UX: Place "Review Block" tick in column on main ISP reports page also"
For my purposes it would be very useful if the tick which is displayed on the page for a block which has been reviewed (displayed next to the "Review Block" tab text) was also displayed in a column on the main "ISP Reports" page.

This would make it very easy to see at a glance which reports have and have not been reviewed.

[2019-02-13 14:47] alexhaydock opened #188 "ISP reply statistics"
Perhaps it would be a good idea to create a page (internally) which lists the statistics on the number of times each ISP has replied to unblock requests over the last _X_ time period.

Perhaps something along the lines of:

| ISP | Replies (Last 7 days) | Replies (Last 6 months) |
| --- | --- | --- |
| ISP Name 1 | 0 | 10 |
| ISP Name 2 | 2 | 40 |

The reasoning here is that some ISP's seem to be

[2019-02-13 14:48] edjw commented on #187
@dantheta I think this is quite important for the efficiency of Alex's workflow. He needs to be able to tell quickly which reports have and haven't been reviewed. Can you take a look at this when you get the chance?

[2019-02-13 16:26] ei8fdb commented on #187
Hi!

I've been <lurking> and following these issues for a few days. ;) If you'd like some UX input I'd be happy to help.

[2019-02-13 20:44] #187 closed, assigned to dantheta, edjw

[2019-02-13 20:46] dantheta commented on #187
The column has been added.

[2019-02-13 23:02] dantheta commented on #184
I've added the checkboxes.  It's worth noting that the flag values are stored specific to the ISP report record at the moment; it's possible that flagging this against the ISP itself might be more appropriate (as in, all blocks against this site are egregious).

[2019-02-13 23:03] dantheta commented on #175
closed in favour of #184

[2019-02-13 23:08] dantheta commented on #186
At the moment, the system will only allow a site to be re-reported if it was blocked, reported, unblocked and then blocked again (there is some incompleteness in this logic).  We could allow the re-reporting of sites which have had their reports cancelled.

That way any report that belongs to an unvalidated user can be cancelled, allowing it to be resubmitted as you've suggested.

I don't think we

[2019-02-14 08:35] JimKillock commented on #186
That makes sense.

I would suggest the process should be:

(1) The system at the end of 1 month, six weeks or however long should cancel the request;

(2) The admin user should be able to see a list of cancelled reports for review, and from there

  (a) Recheck the blocks are in place;

  (b) submit a new unblock request, using a random @blocked.org.uk email with a generic name like 'blocked user'

[2019-02-14 10:23] gwire opened #201 "Import the Safari auto-fill whitelist"
Apple distributes a list with a large number of domains that gets used by autocomplete somehow. (Possibly to decide if someone has typed in a URL rather than a search term?)

It's a massive json-encoded array distributed from
https://api.smoot.apple.com/autofill_tld_whitelist_url

[2019-02-14 10:47] JimKillock commented on #184
I think it needs to be per ISP or filter setting as you have set it, I would say. Policies vary and so on.

It could be that a block is egregious in all circumstances but I’m not sure that it matters as such?

[2019-02-14 10:49] JimKillock commented on #175
I'm not sure that "may be harmless" is the same as "egregious".

(1) A block of a pub is bad as that site is "harmless" but in line with policy

(2) A block of a cannabis oil site as "drugs" is out of line with policy, and if maintained, is "egregious"

[2019-02-14 16:24] edjw opened #189 "Issues about the backend, testing, infrastructure, admin area go here"
Issues about the frontend of blocked.org.uk that are user-facing go in https://github.com/openrightsgroup/blocked-org-uk/issues

[2019-02-14 16:24] #189 closed, assigned to nobody

[2019-02-14 16:34] edjw commented on #201
250,000 URLs
[safari_autofill.csv.zip](https://github.com/openrightsgroup/blocked-org-uk/files/2865928/safari_autofill.csv.zip)

[2019-02-15 15:52] edjw commented on #184
Can we make it clearer when to tick the checkboxes that say "This is an egregious block" and "Add to frontend site "featured blocks""? This would help future users of the functionality and help us have a shared understanding when using these analytical tools. It's not necessarily obvious when to tick each one at the moment.

We could add or edit copy to achieve this. We could use tooltips or some

[2019-02-15 17:43] edjw opened #190 "Allow filtering of reports to ISPs"
Can we add the ability to filter reports to ISPs and the attributes we've added to them? This should be in the interface being used by Alex at the moment.

Priorities would be to be able to filter by **Category** and whether it had been tagged as **Add to Frontend**. It would also be good to be able to filter by whether it had been tagged as an egregious block and by ISP

We'd like to be able to q

[2019-02-15 17:47] edjw opened #191 "Add a link to Blocked result page on report details page"
Can we add a link to the result page, eg [https://www.blocked.org.uk/site/http://www.diagnosteq.co.uk](https://www.blocked.org.uk/site/http://www.diagnosteq.co.uk) on the report details page for that URL? Maybe that could go in the Site details section where it says Current status, last blocked etc

[2019-02-15 18:05] edjw opened #192 "Allow searching of ISP reports by URL"
Can we add the ability to search for strings and substring in the URLs that are reported to ISPs? Ideally, searching for 'open' or 'pen' should return ISP reports about openrightsgroup.org, www.openrightsgroup.org, and opendemocracy.net for example

It would be very useful to be able to search for URLs in the ISP results page of the admin area. Alex has found that sometimes he thinks a certain URL

[2019-02-15 18:08] edjw opened #193 "Add clarification on what the Flag button does"
It's not clear what happens when you click the Flag button on the ISP reports page. Similarly to [the issue described here](https://github.com/openrightsgroup/cmp-issues/issues/184#issuecomment-464098949), can we add a tooltip or some copy to make it clear to a researcher using the admin area what will happen if they click the Flag button?

[2019-02-16 01:13] dantheta commented on #190
I've added state filter tabs for reviewed and featured, and dropdowns for category and ISP.

Adding totals to the categories is currently a bit too computationally expensive, but may be possible in the future.

The paging list at the bottom was a bit messed up during development, but should be fine now.  Let me know if there are any problems.

[2019-02-16 01:19] dantheta commented on #175
Ah, sorry - I'd thought that #184 subsumed this ticket.

To clarify, should a third checkbox "May be harmless" be added alongside "Add to frontend" and "Egregious block" ?

[2019-02-16 01:24] #191 closed, assigned to dantheta, edjw

[2019-02-18 11:09] JimKillock opened #194 "Web archive"
This site we apparently cannot test because of a robots.txt policy:

https://www.blocked.org.uk/site/http://web.archive.org

That's a problem as the site owners want to make a complaint via our site I believe. There is a campaign to get it unblocked.

I'm raising as a ticket although the solution might be to ask them to change robots.txt

[2019-02-18 11:33] edjw commented on #194
@dantheta Is this something we can address ourselves or do they just need to whitelist us in their `robots.txt`?

[2019-02-18 11:35] JimKillock commented on #194
It could be either: if they say to us we can ignore their robots.txt we could perhaps make an exception in the software rules; otherwise they would whitelist us. It would be handy to know what the name of our user agent is.

[2019-02-18 11:41] dantheta commented on #194
We can override it in the database manually - we probably don't want to
start writing exceptions into the robots.txt checker, since the system
is supposed to follow the policy.

The URL record for web.archive.org in the system may revert to
disallowed-by-robots-txt in the future, when the robots.txt is rechecked
at a later date (unless the upstream robots.txt has been changed to
allow us).

Our cu

[2019-02-18 12:11] ei8fdb commented on #194
News article - https://boingboing.net/2017/04/22/internet-archive-to-ignore-rob.html

based on this position blogpost by the Archive - https://blog.archive.org/2017/04/17/robots-txt-meant-for-search-engines-dont-work-well-for-web-archives/

Seems like a precedent for asking them to make exception for public good project like Blocked.org.uk?

[2019-02-18 12:29] ei8fdb commented on #193
@edjw could you give a screen shot of that page?

What (in long hand format...) will hapepen when a researcher clicks the flag button?

Do they (the researcher) need a way to undo the act of flagging?

[2019-02-18 12:42] ei8fdb commented on #184
Sorry for all the questions...but:

Is there any guidance that can be given to the user on what "clearly against the ISP's policy? Could it be tricky for the researcher to make the required judgement?

Could you give a screenshot of the current interface?

**Options**
1. Help: Does the ISP refuse to correct the block even after a report? Do you believe this block is against the ISP's policy? Click

[2019-02-18 12:47] gwire commented on #194
Why aren't we treating the successful retrieval of `/robots.txt` as an "OK"?

[2019-02-18 12:55] dantheta commented on #194
The server providing the robots.txt file doesn't necessarily do its own
comparison of the client's user-agent string and refuse to serve the
resource; the robot is expected to download, parse, process and apply
the contained policy to itself.

We're retrieving robots.txt, parsing the content and comparing it
against our useragent.  It contains:

User-agent: *
Disallow: /

If robots.txt was missing

[2019-02-18 13:00] JimKillock commented on #194
I think @gwire means that logically the site is accessible and unblocked if /robots.txt is found.

The answer I think is we have considered that it could be perceived as rude or a breach of policy to request /robots.txt across each network and on multiple regular occasions. Perhaps this is wrong though?

[2019-02-18 13:00] gwire commented on #194
I mean, from the point of view of a successful test of if the site is blocked or not - surely a retrieval of `/robots.txt` means we can say the site is available?

[2019-02-18 13:03] dantheta commented on #194
On 2019-02-18 13:00, gwire wrote:

Sorry - I see what you mean.

Jim's comment is correct - we check robots.txt from the server just
once, before sending the test URL to the probes.

[2019-02-18 13:32] ei8fdb commented on #194
I'd be surprised if they noticed it in their logs, given the sheer traffic they must deal with. Maybe write a short blogpost, make them aware of it, and then carry on? Ask for forgiveness if they raise it?

[2019-02-18 15:22] edjw commented on #193
Thanks for this Bernard :-)

When the researcher clicks the flag button, the ISP report is abandoned and no longer progresses through the unblock process. The final state of the report is marked as "abuse" to differentiate it from cancellation. We also use it when we see attempts to unblock obvious actual pornography sites and scams. Users can be scored negatively on the number of abuse reports th

[2019-02-18 16:01] edjw commented on #184
Thanks Bernard. Our summary of the ISP's policy is shown in the interface next to the data entry area. Here's a screenshot of what it looks like
<img width="1224" alt="site_report" src="https://user-images.githubusercontent.com/6547979/52962914-625ec600-3396-11e9-8284-52b287cb0001.png">

[2019-02-18 16:15] edjw commented on #190
Thanks for the changes Dan. All good.

It'd be useful if we could filter by either Reviewed or Not Reviewed. Can we add that? At the moment we can filter down to what we've done but not down to what we've not done. Maybe it could be a dropdown menu?

[2019-02-18 16:18] edjw opened #195 "Make a clickable link to the URL in question on a ISP report page"
Can we make a clickable link to the URL in question on an ISP report page?

It could go under the link to view the link to see the site status in Blocked. Or maybe we could just make the URL in the title a clickable link?

It's a very common task when assessing the site to want to visit the page in question. We should make it as quick as possible to do that

[2019-02-18 20:15] JimKillock commented on #194
Archive.org have confirmed by email that they are ok with us ignoring their robots.txt - @dantheta up to you how you approach this at a technical level.

[2019-02-18 20:54] #195 closed, assigned to dantheta, edjw

[2019-02-18 20:59] dantheta commented on #194
It's already doable on an individual site basis - the URL admin screen can be used to change the URL status from "disallowed-by-robots-txt" to "ok", which will allow checks to run.

[2019-02-18 21:02] dantheta commented on #194
web.archive.org is testable.  It's very likely to stay that way for several months (we cache negative robots results for quite a qhile).

I've set up an extra tag on the URL to allow us to later write a check script for URLs which have that their robots-txt setting overridden, to make sure it still unset. "override-robots-txt"

[2019-02-18 21:03] dantheta opened #196 "Write check script for overridden robots-txt"

[2019-02-18 21:03] dantheta commented on #196
Re: #194

[2019-02-18 21:04] JimKillock commented on #194
Thanks @dantheta - I just gave that a go. however the page still won't test when i do a 'force check'.

[2019-02-18 21:05] dantheta commented on #194
Oh carp, it needs to be overridden on every single page URL in the system ...  Thinking cap on!

[2019-02-18 22:11] dantheta commented on #194
web.archive.org is now allowed through the robots checker.  I'll need to find and update the URLs that have already been added.  This is a bit slow but will run overnight.  In the meantime new URLs should be able to go through.

[2019-02-19 07:57] dantheta commented on #194
They're updated.

[2019-02-19 08:51] JimKillock commented on #194
I've tried the force check url and requested a check via the front end but it is still claiming robots.txt is preventing us from making checks.

[2019-02-19 09:02] dantheta commented on #194
Which URL did you request? Only web.archive.org has been overridden.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-02-19 09:06] JimKillock commented on #194
OK, I reset the status (again) and then force checked and then it has refreshed. However, there is a very old request for an unblock; I am not sure if this is now being sent as a result of the check or if it is several years old. I think the latter as I don't see auto-replies from supplieremails to a blocked.org.uk email.

Assuming that is the case we should probably allow a new request to be made

[2019-02-19 17:46] alexhaydock opened #197 "Add categories for "Who?" and "Damage" to classify user reports"
After discussion with @jimkillock, it has been identified that it would be useful to be able to classify reports in the same way that URLs are currently classified using the categories feature on the "Review Categories" tab.

To classify reports, it would be useful to have two open-ended category labels that could be attached: "Who?", and "Damage".

"Who?" would be useful to classify reports based

[2019-02-19 17:52] alexhaydock commented on #194
@JimKillock You are probably thinking of the issue I raised in #186

Old requests should probably be set to time out and then be available to be deleted or re-sent by admins.

The old unblock request was probably this one from November 2017: https://www.blocked.org.uk/control/ispreports/EE/http://archive.org

[2019-02-19 17:57] edjw commented on #197
What would be the possible choices to the questions of "Who made the report?" and "What, if any, damage was reported?"

[2019-02-19 18:03] alexhaydock commented on #197
Likely:

#### "Who made the report?"
- Site/business owner
- Site/business user
- Webmaster / web developer
- Other / unknown

#### "What, if any, damage was reported?"
- Lost sales or suspected lost sales
- Users complaining about blocks
- Broken site content (in the case of a CDN/imagehost being blocked)
- Paid services inaccessible

But the idea of having an open-ended category like the "review

[2019-02-19 18:08] JimKillock commented on #197
The ‘damage reported’ probably needs to allow multiple options to be checked, as several may be cited

[2019-02-20 11:40] alexhaydock opened #198 "Add "Next URL" button to ISP Report page"
For the purposes of classifying the content of reports rapidly as discussed in #197, it would be very useful if there was a button on the ISP report page that advanced to the report page for the next URL (most likely the next one reverse-chronologically).

This would save me from needing to maintain an open ISP Reports tab and keep opening new tabs while classifying reports.

[2019-02-20 11:40] alexhaydock commented on #197
For the purposes of the research this ticket will help with, #198 is also particularly important and (hopefully) is an easy addition.

[2019-02-20 12:31] edjw commented on #197
Can we also expose the data from the report stage where the reporter clicks a checkbox saying one of: I am a user/I am the owner/ someone who cares about censorship? This would be useful information for Alex while he's doing this research

[2019-02-20 15:46] alexhaydock opened #199 "Import HSTS preload list"
https://chromium.googlesource.com/chromium/src/net/+/master/http/transport_security_state_static.json

Low priority, but there are two things we could do with this I suppose:

1) It's 60,000+ domains to check for blocks against.
2) In the other direction, we can check blocks against this list. Any site which is blocked and also appears on this list will never succeed in loading an HTTP block page

[2019-02-20 15:47] alexhaydock commented on #199
Oh and there's an API at https://hstspreload.com/ that can be queried if that makes sense but it looks like one guy's small project.

[2019-02-20 19:28] dantheta commented on #198
The next report button has been added.  It doesn't have access to the full state of the isp reports listing (filters etc).

[2019-02-20 23:28] dantheta commented on #197
I've deployed a first pass at this - there may be some rough edges or bugs but they should be fairly easy to take care of tomorrow.

I can't find the site owner/user datain the system at the moment - I'll keep looking.

[2019-02-21 10:11] JimKillock commented on #194
Yes that's right. Meantime I'd like to resent an unblock request via the system if we can.

[2019-02-21 10:45] alexhaydock commented on #198
Hi, Dan. This is pretty much perfect. Thanks :+1:

I'm not quite sure what you mean by it not having access to the "full state"? Seems to work just how I imagined.

[2019-02-21 10:54] alexhaydock commented on #197
This is working well seemingly, thanks Dan.

The only issue I'm running into is the fact that it stores the data per-report rather than per-URL. As the actual report text and content is the same across all of the ISPs that a single URL is reported to then it makes more sense to me to store this data just once for each URL.

**Edit:** For now I am categorising the user-submitted text for the URLs i

[2019-02-21 11:15] dantheta commented on #197
On 2019-02-21 10:54, Alex Haydock wrote:

Yep, that makes sense.  I can change that and move the data that's been
added so far.  If you want to just only use these fields for one report
of a given URL, that would be fine for now, and the shared view should
be available tomorrow.  I should also have time to tidy up the UI a
tiny bit.

When we start allowing reports to be cancelled and re-filed by a

[2019-02-21 11:34] alexhaydock commented on #197
I love the _"User domain matches target domain"_ feature! Very useful time saver.

Are you able to tweak it with some kind of wildcard that ignores a leading `www.` in the domain?

**Edit:** Maybe I mistook this as an automated feature where in fact it's entries you've added manually for testing.

[2019-02-21 11:34] alexhaydock commented on #197
Ah yes thanks :) I edited my reply above after sending but notice you're on email rather than GitHub so probably didn't see it. I added:

**Edit:** For now I am categorising the user-submitted text for the URLs in the database with this new tool, but I am ensuring that I do that categorisation process on only one ISP report entry per URL, no matter how many ISP reports belong to each URL.

Hopeful

[2019-02-21 11:52] dantheta commented on #197
I wish the system could claim credit for that one - that was actually me
testing the record addition by hand :(

It's a good feature idea though.  I should be able to update those
programmatically.

[2019-02-21 12:06] alexhaydock commented on #197
Yeah, I started to figure it might be after I poked through a few more with email domains that matched their URLs and saw it didn't appear on them. Oh well, maybe a useful feature for the future if it's easy enough to add. :)

[2019-02-21 15:36] alexhaydock commented on #188
Closed, as this proposal is now being tracked with more detail in openrightsgroup/blocked-org-uk#372.

[2019-02-21 15:36] #188 closed, assigned to nobody

[2019-02-21 18:26] alexhaydock commented on #197
Hi @dantheta

Just in case you're planning on working on this tonight - are you able to add some form of function allowing me to sort by the "damage" and "reporter" categories?

It doesn't really have to be anything that integrates nicely into the UI yet and could just be on a seperate page somewhere for now if it doesn't make sense anywhere else. But just some function allowing me to see all of t

[2019-02-22 00:39] dantheta commented on #197
The URL reporter category records have been moved across to url-level, and should be shared between reports for the same URL.  I haven't been able to do the listing page tonight, but I might have time tomorrow morning.

[2019-02-22 10:24] alexhaydock commented on #197
Seems to be working well. Thanks. :+1:

A listing page would be useful if you do get the chance but there are other things I can work on for the time being so no major rush.

[2019-02-22 18:27] alexhaydock opened #200 "Expose statistics for report categories"
Hi @dantheta. Thanks for adding the report category labels. I have finished categorising them now and this data will be very helpful for our report.

Further to what I mentioned in #197, it would be very useful if the interface could expose some statistics about the categorisation of reports.

It would still be useful to have the option to filter allowing me to see all the entries which are member

[2019-02-22 19:53] JimKillock commented on #200
I think a provider by time breakdown would be helpful also. An annual stat would be fine.

eg: BT, by complainant and by damage category for 2017, 2018 and 2019.

An aggregate figure for mobile and fixed (at default setting, ignoring BT Strict) also by year would also be elucidating.

Personally I think we should default to annual stats rather than smaller periods for all the figures, as this will

[2019-02-23 19:48] edjw commented on #198
Is there anything left with this ticket? Can it be closed!

[2019-02-23 19:57] edjw commented on #199
[chrome_firefox_tor_hsts.csv.zip](https://github.com/openrightsgroup/cmp-issues/files/2897202/chrome_firefox_tor_hsts.csv.zip)

68,338 unique urls from Chrome, Firefox's and Tor's HSTS lists as of a couple of days ago.

[2019-02-24 10:52] dantheta commented on #198
Nope, I don't think so.  I was wondering if the next isp button should pay attention to any filteres that were set on the listing page (which was what I meant by not having access to the full state of the listing page), but it sounds like that isn't required at this point (and it would be quite complicated to do).

[2019-02-24 10:52] #198 closed, assigned to dantheta, edjw

[2019-02-24 10:55] JimKillock commented on #200
Note to flag that this ticket and https://github.com/openrightsgroup/blocked-org-uk/issues/372 are in my view next up as we will need the information early next week to do the write up.

[2019-02-24 12:30] dantheta commented on #200
Added a report stats page (linked from the admin panel top-level NAV for the moment).

There are two summary tables, and the full detail table.  Export to CSV is also provided for the full detail table.

[2019-02-24 12:32] dantheta commented on #175
@JimKillock @edjw

Is there still time left in the analysis project for this field to be useful?

[2019-02-24 12:33] JimKillock commented on #175
I think so yes, so long as we can get to a list.

[2019-02-24 12:42] JimKillock commented on #200
Thanks very much Dan, that looks great.

I think my ticket must have been unclear tho in one aspect. I meant to have the reporter type by network per year *and separately* a breakdown of damage type per network per year.

Doing both at once presents a bit too much information which isn't easy to draw conclusions from.

[2019-02-24 16:33] dantheta commented on #200
No problem, that's updated.

[2019-02-24 16:56] dantheta commented on #175
This has been added, and the same filter and count functions provided for "featured block" are available for this flag.

[2019-02-24 19:12] JimKillock commented on #200
Thanks Dan. Can we

[] 1 group the stats (default sort) by ISP (so we can look at the results for each ISP all at once).

[] 2 Add a table for  "total reports per year by ISP". Have a subtotal for mobile and fixed networks

[] 3 Add a total row for table 1 "Reporter Summary", showing "total reports per year / all time"

[2019-02-24 23:03] dantheta commented on #200
Those updates are done.

[2019-02-25 11:02] alexhaydock commented on #200
I'm just looking at this trying to work out how best to present this data in graphical form and I'm wondering whether the "Damage Summary" output is counting +1 for every report of a URL per-ISP rather than per-URL.

I ask only because I was reasonably certain that I only applied the "Block has directly influenced business decisions" to one or two sites and yet it appears to be counting "7" in the

[2019-02-25 11:18] alexhaydock commented on #200
@JimKillock

I generally agree when it comes to presenting raw figures in reports or to end users, though I'm finding that it’s difficult to present per-year graphs that display meaningful trends without either month-by-month granularity or without excluding 2019, as we’ve only had 2 months worth of 2019.

But a lot of our data is centred around 2018 and none extends back to before 2017 so we can’

[2019-02-25 12:29] JimKillock commented on #200
I think this is simply a fact: we don’t have enough data to see trends yet. We shouldn’t therefore talk about trends yet, but instead concentrate on the 2018 data to show what we know about what took place that year.

The coding though should reflect our needs in the medium term.

[2019-02-25 13:00] alexhaydock commented on #200
Okay, I will focus the graphs onto breaking down what we saw in 2018.

[2019-02-25 13:13] JimKillock opened #203 "Virgin Media non-responsiveness"
Can I check what the email address we are using for Virgin is?

I will follow up with them about their non-responsiveness.

[2019-02-25 14:17] dantheta commented on #203
On 2019-02-25 13:14, JimKillock wrote:

Reports are being sent to: websafefeedback@virginmedia.co.uk

[2019-02-25 14:44] JimKillock opened #204 "ISP reminder emails"
Where an ISP has:

(1) received an email requesting an unblock;

(2) has not replied to that email; and

(3) one month has passed

the system should send a copy email of the original request. The header should include a "FW" or "Re:" in the subject line.

Dear [Provider name]

Please see the below request sent to you on XXX date, which has not been responded to.

[2019-02-25 17:21] alexhaydock opened #205 "Expose more statistics"
Thanks for your work on #200, Dan.

I've identified some more statistics that would be useful for me to be able to pull out as this report continues being worked on.

* Number of reports with zero replies after (x) time period.
* Number of reports unblocked upon request (tagged in DB).
* Number of reports continuing to be blocked upon request (tagged in DB).
* Average time for ISP to reply. (thoug

[2019-02-25 17:23] alexhaydock opened #206 "Allow filtering by categories assigned to reports"
The ability to filter URL reports into the category labels they have been assigned in the "Who?" and "Damage" would be very helpful.

I need this to be able to go back through the “Site Owner” tag and split it out into “Site Owner (Business)” and “Site Owner (Personal)” categories. This is useful to confirm a hypothesis that business owners are disproportionately reporting their sites as blocked w

[2019-02-25 17:42] edjw commented on #205
@dantheta As I understand it, this is is addition to the [stats requested here](https://github.com/openrightsgroup/blocked-org-uk/issues/372).

Some of the requests may need some thought given the automated replies issues Alex mentions

[2019-02-25 17:50] edjw commented on #200
Is there anything left to be done on this ticket?

[2019-02-25 17:52] edjw opened #207 "CSV export of url report analysis"
As best we can, can we have CSV export functionality for the data that the report will be based on? @alexhaydock, if you can, could you list the pieces of data that you think supports the points you're making?  Then @dantheta, could you take that list and allow CSV export of that data

Feel free to suggest alternative ways of going about this btw

[2019-02-25 17:54] alexhaydock commented on #207
@dantheta Already added a CSV export for the data held on the "ISP Report Stats" page as part of #200

Are you thinking about raw data export?

[2019-02-25 17:54] edjw commented on #206
This is an important one for the report stats

[2019-02-25 18:41] JimKillock commented on #205
Some of the above may be duplicated in https://github.com/openrightsgroup/blocked-org-uk/issues/372 - or at least that is the purpose of that ticket to my mind.

For instance 372 tries to estimate the time taken for ISPs to respond, when responses have not been made at all, what the response rate is. I tried to indicate a methodology also: @alexhaydock could you read through that ticket and check

[2019-02-25 19:50] edjw commented on #200
@dantheta Can you clear this question up? https://github.com/openrightsgroup/cmp-issues/issues/200#issuecomment-466969571

[2019-02-25 21:09] dantheta commented on #200
Yes, that's right.  The summary is multiplying flagged URLs by the number if reports logged against it.  This probably isn't what you're looking for on the summary lists.  I'll get that changed now.

[2019-02-25 21:25] dantheta commented on #200
That's updated now.

[2019-02-26 00:15] dantheta commented on #206
This has been added.  It was done in a little bit of a hurry, so combining it with other filters on the same control panel page may have slightly strange results at times.  If there are glaring bugs let me know.

[2019-02-26 08:52] JimKillock commented on #206
Thanks, on a scan of the "Avg reply interval (WIP)" in my email, ignoring non-replies, most replies seem to take around 3-5 days. I think our methodology may be off therefore: are we including the time taken for non-responses for instance? I think we should only measure the response time where a response has been given.

It's clear that a bunch of email requests go missing and never get answered,

[2019-02-26 11:03] alexhaydock commented on #206
Thanks @dantheta - working nicely :+1:

I don't really need to combine this one with other filters. It's mostly just for pulling out extra granular data and splitting some categories we already have down even further. I've not encountered any bugs yet so fingers crossed! :crossed_fingers:

[2019-02-26 11:07] alexhaydock commented on #205
After looking at the new "ISP Reply Stats" page then yes I do think everything I wanted particularly for the graphs I intended to work on today has been added. Great :+1: will close this.

[2019-02-26 11:07] #205 closed, assigned to dantheta

[2019-02-26 11:09] alexhaydock commented on #200
Great, thanks. :+1:  I think this one can be closed now if that's okay with you @edjw / @dantheta

[2019-02-26 11:10] alexhaydock commented on #197
Everything in this ticket has been resolved as far as I can see. Closing.

[2019-02-26 11:10] #197 closed, assigned to dantheta

[2019-02-26 11:57] #200 closed, assigned to dantheta

[2019-02-26 14:08] alexhaydock opened #208 "Ensure data about user's affiliation is recorded from user-selected checkboxes"
The checkboxes when submitting a report read:

* I am a user of XXXXXX
* I am the owner of XXXXXX
* I am someone who cares about censorship

We discussed this data before in an earlier ticket but I can't locate that comment now and I think this issue deserves its own ticket.

For the purposes of further breaking down the 76% of user reports for which the user did not identify themselves in the bod

[2019-02-26 16:11] #206 closed, assigned to dantheta

[2019-02-26 16:15] edjw commented on #208
FWIW, this was mentioned [in this issue here](https://github.com/openrightsgroup/cmp-issues/issues/197#issuecomment-465555002).

@alexhaydock – Where would be the best place to make it visible?

@dantheta – Can you have another look for that data and expose it when you get the chance?

[2019-02-26 16:22] alexhaydock commented on #208
If it's at all possible, it would be useful to have entries for which the user has selected "I am a user of XXXXXX" or "I am someone who cares about censorship" cause those reports to be tagged in the database with the report origin of "Site User" and "Cares About Censorship" respectively.

I am satisfied that all of the reports from site owners are correctly tagged, so a report for which someone

[2019-02-26 16:33] dantheta commented on #208
The bad news is, it looks like these three fields have been going
unrecorded for quite some time.

They used to be recorded by the email template that was generated by the
system, but between the template changes and the initial reporting
screen becoming semi-optional [1], the field values are not being
recorded now.

[1] When a user is making a second or subsequent unblock request, the
first of t

[2019-02-26 16:38] alexhaydock commented on #208
Ah I see. That is a shame but at least the data we do have can lead to some meaningful conclusions. It's a good thing we've flagged it for now and can record the data going forward in the future.

For the 76% of reports in which the user doesn't openly specify their affiliation in the body text I can't really make any guesses about the user's status for the purposes of the data, but I can use the

[2019-02-26 16:44] dantheta commented on #208
That's cool.  I think it might be worth clarifying what the "I am
someone who cares about censorship" option really means.

I think it may have been intended to provide a third option if the
owner/user/other options had been radio buttons, since the user would
only be able to select one option.  Since they are checkboxes the user
can select multiple options, but is unlikely to select owner and use

[2019-02-26 16:53] alexhaydock commented on #208
Well I can't answer for @JimKillock or the original intent here but honestly from my perspective the only function of the "Someone who cares about censorship" option is perhaps to separate out privacy activists, ORG supporters and staff from ending up lumped into a generic "Other" category. There are plenty of reports from people who fit into those groups who are neither users nor owners of the si

[2019-02-26 18:02] JimKillock opened #209 "Track opens at ISPs"
Since we have a lot of emails going missing at the ISP end, we could consider recording email 'opens' someway, for instance via a pixel tracker.

We could also record the 'delivered' status from our mail agent.

The fact of delivery and / or opening of the email could then also be exposed in the front end.

[2019-02-27 14:58] JimKillock opened #210 "Remove user email address from blocked.org.uk body ext"
The email body text sent to ISPs contains the user email, eg "Website blocking enquiry from xxxx@gmail.com, regarding the website at
http://www.cfrsandiego.org."

Can we remove the email address, as some of the ISPs seem to be using this instead of the blocked.org.uk reply-to. This obviously may invalidate some of our conclusions about responsiveness. O2 in particular say they have been doing this

[2019-02-27 15:06] alexhaydock commented on #210
I will ensure we include this as a caveat in the body of the report and address it accordingly.

[2019-02-27 15:46] alexhaydock commented on #52
@dantheta

Old thread, but do email reports still exist now in the form discussed here? I can't find them so if not, we can probably close this.

If they do still exist, I think it's worth making them more prominently visible on the Blocked site, and tackling this suggestion at some point as I think visible unsubscribe links are something we should really be doing for GDPR compliance.

[2019-02-27 20:53] #210 closed, assigned to dantheta, alexhaydock

[2019-02-28 12:47] ei8fdb commented on #209
Do you know the "time to solve" blocking reports?

(kinda connected - what are important metrics for Blocked.org.uk)

Would it p1$$ off ISP staff if they were sent "reminders"?

[2019-02-28 12:53] JimKillock commented on #209
We have a ticket for reminders at #204 :)

Yes, the metrics are evolving towards measuring performance and harm of the blocks reported. There's a few tickets open / recently closed on stats of various sorts, see https://github.com/openrightsgroup/blocked-org-uk/issues/372 for instance.

[2019-02-28 17:48] alexhaydock opened #211 "More ISP statistics"
For the purposes of this upcoming report, it would be very useful to have up-to-date statistics on the blocks by ISP.

This does not necessarily have to be exposed in the admin panel as a continually up-to-date page as it is just for the report at the moment (but if that would be easy enough to do then it might be useful).

For each ISP, I would like to know the:
* Number of sites tested by us
* N

[2019-02-28 18:00] alexhaydock opened #212 "Statistics for blocks which do/don't match ISP policy"
For the purposes of the upcoming report, it would be very useful to know what percentage of reports which we consider "unresolved" are also wrongful blocks (so that we eliminate reports for sites which we feel are within ISP policy to be blocking).

I'm open to suggestions on how to present this, but it seems to me that the easiest method for now would be if you would be able to add a column to th

[2019-03-01 10:29] alexhaydock commented on #211
Similarly, it would be useful to have the statistics for the number of sites which we have found are currently blocked by only one ISP, or only two ISPs (excluding BT-Strict).

[2019-03-01 11:14] alexhaydock opened #213 "Style note: Refer to "Virgin Media" rather than "Virgin""
Among the Blocked site and in other places, we refer to Virgin Media quite frequently as just "Virgin".

Clearly everyone knows what we mean when we use "Virgin" in the context of referring to an ISP, so there's no real room for confusion, but this is quite colloquial and Virgin Media are not part of the Virgin Group so it's definitely something we should avoid in official reports.

Some pages whe

[2019-03-01 13:12] JimKillock opened #214 "Mobile inconsistency complaints tool"
I think as part of this project we should do the following:

(1) Create an "inconsistency" list for any block on a mobile network where not every provider blocks the website

(2) Listings should be listed by numbers of blocks, low to high (one, two, three)

(3) Listings should be sortable by provider

(4) Link this to the public reporting tools

(5) Provide a statistical breakdown

(a) Sites block

[2019-03-01 15:54] JimKillock commented on #213
@alexhaydock Some of these are in MODX - I will discuss with you and @edjw which of these we can fix so it's clear which are left for @dantheta

[2019-03-01 23:36] dantheta commented on #212
Non-policy blocks unresolved now added to both tables.

[2019-03-02 00:13] dantheta commented on #211
These are too slow to generate on-demand in the frontend or in the admin panel.

I've emailed a drive link containing the reports.

[2019-03-02 01:06] #102 closed, assigned to dantheta

[2019-03-02 09:56] JimKillock commented on #214
Further thought on this. We may find that some of the numerical inconsistencies are due to incomplete testing (this is a bit inevitable as the testing regime is prioritised for speed and throughput).

We might want to create some "test lists" which correspond to the inconsistencies within the mobile networks, eg "all sites with one mobile block", "all sites with two or three mobile blocks" for us

[2019-03-03 12:15] JimKillock opened #215 "Capture submissions to BBFC"
Once we have #214 in place, we can try to captiure submissions and correspondence with BBFC.

The BBFC is a one step form, without any capture as such.

http://www.bbfc.co.uk/what-classification/mobile-content/appeals/mobile-complaint-form

We would only allow appeals to be submitted once correspondence was logged from at least one mobile provider, and once we had retested the blocks (after say 3

[2019-03-03 22:37] dantheta commented on #214
Creating a dynamic list against the full resultset was too slow for a live page.  I've added code that populates a set of saved lists, and linked them from an admin page.

There are also two stats graphs on the page.

[2019-03-03 22:43] dantheta commented on #207
@edjw Is anything else required for this one?

[2019-03-04 16:08] alexhaydock opened #216 "Allow filtering ISP reports by damage category"
Much the same as #206, it would be useful if there was also a filter for the categories of damage that have been assigned to some ISP reports.

[2019-03-04 16:13] JimKillock commented on #216
Quick note to say this would be very useful this eve ;)

[2019-03-04 17:26] alexhaydock commented on #213
In a similar vein, [this](https://www.youtube.com/watch?v=5ixRWvrkUHo) is Talk Talk. The ISP goes by "TalkTalk".

We're not so bad for that one on the Blocked site, only using it on the [url check](https://www.blocked.org.uk/check) page, and the [FAQ](https://www.blocked.org.uk/faqs) page, but I've just cleaned up a few instances of it in the report from the older text we integrated.

[2019-03-04 22:26] dantheta commented on #216
This has been added to the report category filter dropdown.  The reporter and damage categories are listed there under headings.  It should be OK until we've got lots and lots of categories.

[2019-03-05 10:50] edjw commented on #207
It's more for @alexhaydock. Can we export CSVs to back up everything we say in the report?

[2019-03-05 13:52] alexhaydock commented on #207
Not directly, I suppose. I will report back with the actual data ranges and values we've used to draw tables and graphs from and which ones would ideally be included in a CSV export so that we can do some very easy copy-pasting to ensure the figures are up-to-the-minute before the report goes public.

[2019-03-05 16:33] alexhaydock opened #217 "Allow filtering by sites which do not have an ORG-assigned category"
I want to ensure that all domains have at least one category assigned by ORG.

So far I have left quite a number of these unedited where the category info pulled in from DMOZ or Categorify has been largely accurate.

But now it would be helpful if I could see a list of all of the domains for which we do not have an ORG-assigned category.

Additionally, it would be helpful if a page somewhere displ

[2019-03-05 16:36] alexhaydock opened #218 "Expose rules used for frontend search's "exclude adult" to admins"
When creating lists for this report I've identified that it would be especially helpful if admins were able to edit the rules applied to filter out expected adult content from search results when the box is checked on the frontend.

I'm going through a bunch of lists created and our current attempts at filtering are not ideal as I'm having to manually remove a large number of sites with very commo

[2019-03-05 16:40] alexhaydock commented on #218
I would welcome opinions from @JimKillock on this. Perhaps a better solution to ensure we don't accidentally exclude too much (and end up falling into the same "blunt filter" problem we're complaining about) is to allow a second-level search. (i.e. Allow another search to be executed within the results of the first search).

Once a list is created from search results, a user/admin could search wit

[2019-03-05 17:00] JimKillock commented on #218
I suspect the rules need to be iterated for different searches. Escorts are a common problem with localities, but might be problematic as a term if we were creating a second car car sales search.

So I can see sense in having some temporary solutions, or being able to build some options for people.

[2019-03-05 17:59] alexhaydock commented on #218
This is a fair point. In that case, yes perhaps a temporary solution for the purposes of this report would be the most helpful. Largely I'm just looking to create lists as we have been doing already, by searching via keywords etc, but then be able to batch-remove commonly-recurring adult sites that are being caught up in the lists due to the wide keyword approach I'm using. Manually removing all o

[2019-03-05 23:57] #217 closed, assigned to dantheta

[2019-03-05 23:58] dantheta commented on #217
There's now an (unassigned) option in the site category filter dropdown.

[2019-03-06 00:13] dantheta commented on #217
And a category usage report at:

https://www.blocked.org.uk/control/ispreports/category-status

[2019-03-06 00:14] dantheta commented on #218
Duplicates openrightsgroup/blocked-org-uk#136.

[2019-03-06 01:46] dantheta commented on #218
The adult search terms is now configurable from the system settings menu in the control panel.

Terms can be added, enabled and disabled (enabled means that the term is excluded from searches).

[2019-03-06 02:00] dantheta commented on #218
Although not officially supported or documented, it is possible to combine search terms in the keyword search, like `photography* and not nude`.

The backend system will automatically suffix a '*' on the search string, so as long as you plan for that (and don't use round brackets at the end of the search string) you should be able to get quite a bit of elasticsearch's capabilities.

[2019-03-06 07:52] JimKillock opened #219 "ISP category status report"
This is great:

https://www.blocked.org.uk/control/ispreports/category-status

Alex is aiming at adding information about the categories that user reports belong to. This presumably should include the 'categorify' information, or else we need to combine both sets of information into a report.

For now I'll just leave this ticket up, and Alex, if you can clarify if you have what you need, that woul

[2019-03-06 07:55] JimKillock opened #220 "Bug: ISP Report Admin"
Just to say that the ISP Report Admin page is listing one report per page

[2019-03-06 09:12] dantheta commented on #220
Fixed!  Was a little over-zealous fixing warnings and limited it to pagesize 1.

[2019-03-06 09:43] alexhaydock commented on #218
Thanks! This is working well and has sped list-generation up considerably!

I'll continue to do housekeeping on the list behind the scenes as more sites crop up since it also has the knock-on effect of providing a better user experience for new users to the main site.

[2019-03-06 09:45] alexhaydock commented on #218
Small question though. What do the adult exclusion terms actually get applied to? It seems like they're being applied to the metadata associated with the site, but perhaps not the URL itself?

Take for example this fairly unambiguously adult term that doesn't really leave much room for over-filtering:

https://www.blocked.org.uk/sites/hentai?exclude_adult=1

Even though I've directly put the actua

[2019-03-06 09:54] alexhaydock commented on #219
@JimKillock Well my intent as per #217 was to go through and ensure that all URLs had an ORG-assigned primary category, so I feel that if we are including Categorify data in the report then we need to work on somehow deduplicating the results. Simply listing out the Categorify categories on this page too will result in us counting URLs multiple times across the ORG-assigned and Categorify-assigned

[2019-03-06 09:55] alexhaydock commented on #220
Just to follow up on this - it seems like this problem still persists if any filter is used. The page doesn't extend beyond "1".

Fortunately it's not really an urgent problem for my current task of going through and assigning categories to anything "unassigned", though as my intent is to slowly remove everything from that category rather than browse through it.

**Edit:** I think I might be wrong

[2019-03-06 09:57] alexhaydock commented on #216
This has been working great, thanks. :+1: Closing.

[2019-03-06 09:57] #216 closed, assigned to dantheta

[2019-03-06 12:49] edjw opened #221 "Redirect admin pages to login page on 403 Forbidden response"
As an admin user, I'd like to be redirected to the login page `/control` when I am not logged in and request an admin page such as https://www.blocked.org.uk/control/ispreports/category-status. At the moment, I get a 403 Forbidden page. This happens when I click a link to an admin page but I haven't used the site in a few days.

I think current admins could probably work out how to get around this

[2019-03-06 12:55] edjw opened #222 "Handle trailing backslashes on all pages on Blocked"
As any user of the site, I would like to be redirected to the correct URL if I use a trailing backslash. When I visit a URL with a trailing backslash like `https://www.blocked.org.uk/stats/`, I should be redirected to the correct URL:`https://www.blocked.org.uk/stats`

At the moment, URLs like this one (https://www.blocked.org.uk/control/) with trailing backslashes return 404 Not Found.

[2019-03-06 13:23] dantheta commented on #222
I think it usually works the other way round, doesn't it?

If the canonical URL is "/page/", then visiting "/page" would redirect
to "/page/"

In these cases, the canonical URL is '/page', though there may be
sub-pages at "/page/add or "/page/edit".

I take your point though, this could be a violation of the principal of
least surprise.

We'd generally hope that the on-page navigation is good enou

[2019-03-06 15:23] edjw commented on #222
Ok let's close this for now and proceed with #221 and see how it goes

[2019-03-06 15:23] #222 closed, assigned to dantheta, edjw

[2019-03-06 16:09] edjw commented on #220
@dantheta – This bug is still persisting in some cases

[2019-03-06 17:54] alexhaydock opened #223 "Page to show the categories assigned to URLs within a particular reporter category"
The [ISP Report URL Category stats](https://www.blocked.org.uk/control/ispreports/category-status) is very helpful.

It would be helpful if we had a feature on this page that allowed a filter to be added which showed the totals for all of the ORG-assigned categories - as the page currently does - but limited the displayed totals only to URLs tagged with a user-selectable "Reporter Category".

If t

[2019-03-06 21:19] alexhaydock commented on #223
Nobody is around to bump this ticket or assign it into the right category but @dantheta, if you see this, I'd consider this one a fairly high priority.

[2019-03-06 22:04] dantheta commented on #223
On it :)

[2019-03-06 23:27] dantheta commented on #220
I'm seeing a full list of 25 items in unassigned, but the paging links only have one page (which I think is what Alex saw).  Should have it fixed shortly.

[2019-03-06 23:37] dantheta commented on #220
That should be fixed now.  Its showing 98 pages with no filter applied, and 81 pages with the (unassigned) filter applied.

[2019-03-07 00:04] alexhaydock commented on #220
Thanks! Yep, looks like this has fixed the issue I was seeing.

[2019-03-07 11:26] alexhaydock opened #224 "Rename "Advertising, Branding, and Graphic Design""
Hi Dan,

I made a mistake and created two categories which I've been putting Graphic Design sites into:

* Advertising, Branding, and Graphic Design; and
* Photography, Graphic Design, and Filmmaking

Are you able to rename the "Advertising, Branding, and Graphic Design" category to just "Advertising and Branding" please? Thanks.

[2019-03-07 11:51] dantheta commented on #224
That's done!

[2019-03-07 11:58] alexhaydock commented on #224
That was quick - thanks :)

[2019-03-07 11:58] #224 closed, assigned to nobody

[2019-03-07 15:19] alexhaydock opened #225 "How should we deal with NXDOMAIN entries in lists?"
This ticket isn't yet asking for a specific resolution, but I've opened this to gather opinions on what (if anything) we should do about domains which return a DNS response of `NXDOMAIN`. Generally these seem to be domains for which registration has expired.

These domains still exist quite prevalently in the database (which makes sense since we could only really detect them by continually re-chec

[2019-03-08 15:40] JimKillock opened #226 "Add "OrG Category" to ISP Report Admin"
On the list view, add a column stating the ORG Category/ies assigned:

https://www.blocked.org.uk/control/ispreports

This will help us check we have completed the categorisation process and data.

[2019-03-08 16:09] edjw commented on #226
Would this filter help with checking how complete the categorisation process is? It shows all reported sites without an ORG category
https://www.blocked.org.uk/control/ispreports?category=_unassigned_&state=

[2019-03-08 16:40] JimKillock commented on #226
Yes I think that's good enough, thank you.

[2019-03-08 16:40] #226 closed, assigned to dantheta, alexhaydock

[2019-03-08 16:57] edjw commented on #223
This is done and can be closed right?

[2019-03-08 16:58] edjw commented on #220
Can we close this?

[2019-03-08 16:58] edjw commented on #212
Can we close this now?

[2019-03-08 17:00] edjw commented on #211
Can we close this now?

[2019-03-08 17:01] edjw commented on #192
This would still be useful FYI @dantheta

@alexhaydock If you could drop in some examples of times this would have been useful it might be helpful for Dan

[2019-03-08 17:02] #190 closed, assigned to dantheta, edjw

[2019-03-08 17:23] edjw opened #227 "Add "Previous URL" button to ISP Report page"
Same as #198 but Previous report instead of Next report

A button on the ISP report page that advanced to the report page for the previous URL report

[2019-03-08 17:26] edjw commented on #194
Is there anything left here?

[2019-03-08 17:28] edjw commented on #83
@graphiclunarkid – Any memory of what UK corporate websites meant? Companies house?

[2019-03-08 17:30] alexhaydock commented on #207
Hi @dantheta

I appreciate this might be a large ticket, but these are the data ranges we are using for graphs and tables in the document.

If you could produce a page that allows the export of all of these, that would be extremely useful - thanks!

I'm sorry this is a huge request, and that the data for the graphs is all contained in the tables that will be in the appendix, but for the purposes o

[2019-03-08 17:31] edjw commented on #99
I 100% agree with this. I'm going to close it in favour of https://github.com/openrightsgroup/blocked-org-uk/issues/289

[2019-03-08 17:31] #99 closed, assigned to nobody

[2019-03-08 18:10] JimKillock opened #228 "Set "Block does not match the ISP's policy" when site unblocked"
It would speed up our work on the older reports if we used the site being unblocked to set the policy review data to "Block does not match the ISP's policy".

If this is not complex, that would be great!

[2019-03-08 18:24] JimKillock opened #229 "ISP Report Admin: remove abuse, unsent, ORG"
On the ISP Report Admin, could we (have an option to) exclude reports that are either:

(1) Flagged as abuse

(2) Not sent as unverified etc

(3) Listed as "ORG" (I'm not sure what that means)

This would speed up going through the reports

[2019-03-10 15:36] dantheta commented on #227
Added button and deployed.  Buttons are hidden for first/last reports.

[2019-03-10 15:36] #227 closed, assigned to dantheta, edjw

[2019-03-10 16:15] dantheta commented on #218
The search index is created from whole words in the metadata, for the most part.  I don't think it ranks substring matches very highly (trying to avoid the scunthorpe problem).

There's also a problem with searching for a term which is on the exclude list - the query that is generated is along the lines of

`hentai and (not hentai)`

which doesn't give the search engine too much to work with.

The

[2019-03-10 17:28] alexhaydock commented on #218
This makes a lot of sense. I suppose it's a big irony of the project that while compiling evidence to support our conclusions that filters are hard to do properly, I'm ending up experiencing all of the actual problems that make filters so hard to do properly.

I guess the only thing that can really be done for this is to manually sanitise lists for the report. Allowing me to customise the adult te

[2019-03-10 17:33] dantheta commented on #218
That's cool - thanks!

The search engine has quite a lot of power, but putting the site on the front and offering users just a single text field hides a lot of the tunables.  I also don't know elasticsearch to expert level (just enough to put data in and do text queries and keep it running in < 1GB of memory), so there is probably more that can be done in the future.

[2019-03-10 17:33] #218 closed, assigned to dantheta

[2019-03-10 17:34] #220 closed, assigned to dantheta, edjw

[2019-03-10 17:35] #223 closed, assigned to nobody

[2019-03-10 17:36] dantheta commented on #229
The "Open" filter button on the ISP reports list is pretty close to this (apart from the "ORG" entries).

The Site feedback (broken/parked/etc) works by filing an ISP report to ORG as a pseudo-ISP.

[2019-03-10 17:40] JimKillock commented on #229
Thanks, that helps for the most part.

If there was a way to get the next / previous report button on the site report view (Report details) to follow the choices I've made that would make my life easier too.

[2019-03-10 17:42] dantheta commented on #207
There's probably a few days of work here.  Are there any sections which can be highlighted as priority for delivery first?

[2019-03-10 17:45] JimKillock opened #230 "Ensure stats exclude various categories"
Particularly:

* "ORG ISP"
* Reports that were not sent to the ISP as the user was not verified ("Awaiting user verification")
* Reports not sent because they stayed in the queue ('Pending")
* Reports that were cancelled
* Reports marked as abuse

Reports with these statuses should be ignored when calculating ISP performance, category totals, kinds of reporters, etc.

[2019-03-10 17:45] alexhaydock commented on #207
I think the part that I've headed "appendix data" would be the most useful first. I can extrapolate the rest of the data from there.

[2019-03-10 17:46] JimKillock commented on #207
Could I suggest, if this is a lot of work, that we try to avoid doing it, as we have a delivery deadline of Weds?

Is there a workaround for instance? Even if that is cut and paste …

[2019-03-10 17:47] alexhaydock commented on #207
One potential workaround would be to format the tables on the Blocked backend so that they are copy-pastable into Excel / Google Sheets etc.

Currently copy/paste operations on those tables result in a single long string of text being copied.

[2019-03-10 17:48] JimKillock commented on #207
Ok, yes. Another workaround would be for Dan to manually export the relevant data at a particular time.

[2019-03-10 17:48] dantheta commented on #207
Using Ctrl+Click (cmd+click on mac) on a table in firefox allows a table to be copied to the clipboard in a spreadsheet compatible format (I actually started typing that before Alex's comment :) )

[2019-03-10 17:56] alexhaydock commented on #207
This is very useful to know! In that case, I can probably compile the data myself reasonably quickly from the tables we already have available in the backend. I can work with what we have and compile the data for the designer and to make sure our report is up-to-date right before publication.

In that case, we can discard the above, and convert this ticket to some other housekeeping issues that wi

[2019-03-10 17:58] alexhaydock commented on #211
Yes this can be closed.

[2019-03-10 17:58] #211 closed, assigned to dantheta, alexhaydock

[2019-03-10 18:16] dantheta commented on #207
Reporter category rename done.

[2019-03-10 18:27] dantheta commented on #207
unresolved policy block count added.

[2019-03-10 18:36] JimKillock commented on #230
We should exclude BT Strict from the totals of sites affected, or present those separately. It can stay for performance stats.

[2019-03-10 18:51] dantheta commented on #207
The extra site owner total row is now present,

[2019-03-10 19:07] JimKillock opened #231 "Renaming or merging categories"
In the categories, there are a few spelling errors, and some categories are slightly mis-named, eg 'arts' should be 'arts and crafts'.

Some categories should be merged.

What is the best way to do this @dantheta?

[2019-03-10 19:08] JimKillock commented on #228
I've got very close to completing all the reports and reviews, so this doesn't need to happen just now. However, it would be a good feature moving forward.

[2019-03-10 20:32] JimKillock opened #232 "Change tense of block review options"
Change text to past tense:

* "Block matched the ISP's policy"
* "Block did not match the ISP's policy'

[2019-03-10 22:19] #232 closed, assigned to nobody

[2019-03-10 23:19] dantheta commented on #231
I've added a set of category management screens (under the URLs menu) to allow editing, deleting and merging URL categories.  Data from dmoz and categorify can't be edited from here, only ORG-assigned categories.

[2019-03-11 00:10] alexhaydock commented on #212
Yes this ticket is done, thanks. Closed.

[2019-03-11 00:10] #212 closed, assigned to dantheta, edjw, alexhaydock

[2019-03-11 07:38] JimKillock commented on #231
Excellent, I am hitting a bug just now on saving a change ("Bad Request
The browser (or proxy) sent a request that this server could not understand.")

[2019-03-11 08:24] JimKillock opened #233 "Reply stats by network: add mistake column"
Add a column indictating "Resolved to blocked against policy".

This would be calculated from those results where we had a response or knew about one, and the ISP decided to continue to block, but we have recorded this as "Block did not match the ISP's policy".

NB: we may want to add some further thought to how this is all recorded, as the mistakes may 'rectify' themselves or 'create' themselves

[2019-03-11 08:43] JimKillock opened #234 "Review information: add child-related flag"
Add flag: "Site is aimed at or relevant to children"

I think this is easier than categorising for children, as the sites are across multiple topics (advice, charities, music, etc).

We can the produce a report on sites categorised within this group.

[2019-03-11 08:57] dantheta commented on #231
That's fixed now.

[2019-03-11 08:59] dantheta commented on #234
I think having an "Aimed at children" category could work - multiple categories can be assigned to a URL, so reporting on the intersection of the children's category and other categories is definitely possible.

[2019-03-11 09:01] dantheta commented on #228
This is definitely doable.  Should the flag be set when the system detects that a site is no longer blocked, or when an admin sets the report status in response to an ISP email?

[2019-03-11 09:01] JimKillock commented on #234
We've in the event assigned sites to one category only, so that the figures add up neatly!

An alternative would be to assign categories (of any kind perhaps) in a priority order?

Then your tables could ignore secondary categories, or not, as we liked.

[2019-03-11 09:54] JimKillock commented on #228
I think if an unblock is detected within 1 or 2 weeks of the block, it is safe to assume the block was against policy and we can set the flag automatically, if it hasn't been set already.

[2019-03-11 10:08] JimKillock commented on #186
We might want to do this soonish, as we have a lot of attention on the old reports queue, and are seeing things that should have been reported etc.

This to my mind also couples with the BBFC requests idea (that idea has been put in multiple tickets, over a few years I will try to close some duplicates later).

[2019-03-11 10:12] JimKillock opened #235 "Remove "Recently reported sites" block"
This will be superceded shortly, but is misleading currently so we should remove it meantime.

https://www.blocked.org.uk/reported-sites

[2019-03-11 13:15] JimKillock opened #236 "Create meta category: BBFC appeals"
This meta category will consist of a list of sites, with these values:

* Adjudication date
* Adjudication content
* Decision: site Blocked / Unblocked
* Alternative URLs (eg www. etc) (or we check for a standard set?)

This list can then be presented on the public website somewhere.

This will be important when we start to push BBFC reviews their way. It would be good to have this information whe

[2019-03-11 16:58] JimKillock opened #237 "Admin user random names"
Virgin seem incapable of sending single replies for unblock requests. To combat this, it would be helpful if a logged in admin user sent out emails with random names to them so they cannot be matched / assumed to belong to one person.

[2019-03-11 22:17] dantheta commented on #234
That sounds like a good plan.  We don't currently have anywhere to keep URL flags other than tags.

In the short term, I'll get the system to treat the first ORG category added to a URL as the primary and all of the others as secondary (for the purposes of keeping consistent totals).  Later on we can add UI that allows the primary category to be selected.

The URL category reports can have extra c

[2019-03-11 23:09] dantheta commented on #230
I've updated the stats pages to disregard new, pending, abuse, cancelled ISP reports (leaving only sent, unblocked and rejected).  The BT-Strict ISP is still present on reports that list per-ISP totals.

* BT-Strict and ORG are not counted in the rolled-up (not per-ISP) totals tables.
* ORG  pseudo-ISP is excluded from per-ISP tables.

[2019-03-11 23:14] dantheta commented on #233
If we base this solely on the individual ISP reports and the email replies, then it isn't so much of a moving target.  We would count ISP reports that have "matched_policy: false" and "email reply status: rejected".  Factoring in the retesting system would cause these figures to fluctuate over time.

[2019-03-11 23:24] dantheta commented on #233
This column does still factor in the "unblocked" status from the URL testing system, so it may drift a bit over time.    The report table column is present now.

[2019-03-12 08:59] JimKillock commented on #237
Flagging this problem to you folks. We could as an interim measure, strip the user name for Virgin emails, and replace it with "Blocked user <string>".

and also add "Please reply directly to the user at this email address to ensure that they receive your response. Do not combine responses as they will be sent to the wrong person."

[2019-03-12 10:39] edjw commented on #237
We should at least test that approach in the second comment to see what happens.

[2019-03-12 11:55] dantheta commented on #237
I just wanted to clarify this part of the issue text:

On first reading, I'd thought this meant it should be part of the
planned feature to allow an admin to force through an ISP report (even
if the original reporter was unverified, etc).

Should it mean:

1) Admins using the backend system to force through a report to
VirginMedia
2) Admins using the frontend system to submit a new ISP report to
V

[2019-03-12 14:17] alexhaydock opened #238 "Average reply interval (all ISPs)"
We should calculate an average reply interval across all ISPs for headline purposes.

For the purposes of not including any recent reports which ISPs may still be in the process of replying to, I propose that this just includes data from 2018.

It should calculate an average response time for all ISPs using the same formula we're using to currently calculate the response time per-ISP, but should e

[2019-03-12 14:18] edjw commented on #238
I put it in the right repo now

[2019-03-12 16:14] JimKillock opened #239 "Search and lists: add exclude BT Strict"
I'm slightly worried this is inflating our block lists.

A feature to exclude BT Strict from search would be helpful

[2019-03-12 16:16] JimKillock commented on #237
I think (3) is best. On a second, third, etc report in a 4 week period, all the subsequent emails to Virgin should be anonymised. They can be called "Blocked User 1234" for now.

[2019-03-12 17:06] edjw opened #240 "Number of Unblocked sites being miscounted in Saved Lists"
In the [Saved Lists page](https://www.blocked.org.uk/lists) and on individual list pages [like this one](https://www.blocked.org.uk/list/Weddings), sites are being shown as Unblocked when they're not.

[This site report](https://www.blocked.org.uk/site/http://3valleymvc.org.uk) for example shows the site is still blocked, but [the list it's in](https://www.blocked.org.uk/list/Weddings) shows it as

[2019-03-12 17:06] dantheta commented on #239
If it's useful, I can remove URLs that are only blocked on BT-Strict
from existing lists.

[2019-03-12 17:11] alexhaydock commented on #240
This is probably as a result of openrightsgroup/blocked-org-uk#378 still producing buggy behaviour.

[2019-03-12 17:14] alexhaydock commented on #239
I'll let @JimKillock reply on whether that's a good idea, but if you do that are you able to leave the two lists relating to School websites intact?

https://www.blocked.org.uk/list/Schools
https://www.blocked.org.uk/list/sch.uk

As BT-Strict and TalkTalk Kidsafe are intended for young children I don't think it necessarily invalidates our conclusion if it's mostly these "more advanced" filters tha

[2019-03-12 18:28] JimKillock commented on #239
Excluding existing results sounds reasonable to me @dantheta

[2019-03-12 23:03] dantheta commented on #238
closing in favour of blocked-org-uk#381

[2019-03-12 23:03] #238 closed, assigned to dantheta

[2019-03-13 00:32] dantheta commented on #240
I've updated the refresh program to check all public lists and re-run all of them, rather than waiting for the schedule job to work its way through.  All of the public list items I've checked now match the unblocked badge on the list page.

The method for deriving the unblocked URLs figure on the saved lists page has also changed as a result of openrightsgroup/blocked-org-uk#376.

[2019-03-13 00:58] dantheta commented on #234
This one's going to take a bit longer to put together, I'm afraid.  Many apologies.

[2019-03-13 08:52] #203 closed, assigned to nobody

[2019-03-13 12:14] edjw commented on #235
Do you mean we should take the page down @JimKillock ?

[2019-03-13 13:31] JimKillock commented on #235
No, just the "Recently reported sites" block on that page. The figures are misleading and will be superceded in the report, however the list of reports is fine.

[2019-03-13 14:14] edjw commented on #235
Ok, so the headline and table at the top of that page.

How about we use the word 'section' rather than 'block' when we're talking about part of a webpage on this project!? 😄

[2019-03-13 15:49] JimKillock opened #241 "Lists: add ISP filter"
Can we add a filter for the lists creation, that allows us to create a list of blocks relating to:

(1) Any mobile operator; or

(2) Any non-mobile operator; or

(3) Any specific network

This will help us build lists of errors that are relevant to specific ISP / mobile policies.

[2019-03-13 15:51] JimKillock commented on #234
No worries; for me the plan should be that we try to get this done and shoehorn it into the report / launch, as it is just one stat; but for now we are handing over the report without this.

[2019-03-13 17:56] JimKillock commented on #186
@edjw flagging this to you as one we could do before the report launch. It would be helpful to have processed the material that's lingering in the queue.

[2019-03-14 07:46] JimKillock commented on #235
I'll try to remember that!

[2019-03-18 15:59] #229 closed, assigned to dantheta

[2019-03-18 16:02] JimKillock commented on #241
Add: can we also add a filter for .uk results only.

[2019-03-18 19:45] #231 closed, assigned to dantheta, alexhaydock

[2019-03-18 19:46] JimKillock commented on #239
Did we do this?

[2019-03-18 20:02] dantheta commented on #239
Not yet, but it's a subset of the sort by networks in search ticket.

On 18 March 2019 19:46:12 GMT, JimKillock <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-03-18 21:25] #63 closed, assigned to nobody

[2019-03-18 21:26] dantheta commented on #63
Done some time ago.

[2019-03-19 00:38] dantheta commented on #234
Additional ORG categories can now be added to a URL in the ISP reports screen.

Only one of the ORG categories can be marked "primary"; on the URL categories page there is a column for primary and all categories, so that the report is still able to show a consistent total even if more categories are added to URLs.

[2019-03-19 02:30] dantheta commented on #241
Currently rebuilding the search index to include TLD and blocking network fields.  This will allow the search engine to filter on these during list build and regular keyword querying.

[2019-03-19 08:13] JimKillock commented on #241
Thanks Dan.

Could we also apply these criteria to an existing list - for instance by applying the search to a particular already existing list?

[2019-03-19 09:30] dantheta commented on #241
Yep, that's planned.  Filtering search and filtering existing lists use two separate facilities in the code, but they're both in progress.

[2019-03-19 23:56] dantheta commented on #241
Search results can now be filtered by individual network.  The network selection is carried through to saved list creation too.

The mobile and fixed line options don't work yet.

This may require a bit of testing!

[2019-03-20 00:23] dantheta commented on #241
Filtering saved lists by ISP is now live.

all-mobile and all-fixed options to follow.

[2019-03-20 00:24] dantheta commented on #241
This one's a bit trickier.  I'd suggest splitting that off to a separate issue.

[2019-03-20 01:11] dantheta commented on #240
This seems to be working consistently.

[2019-03-20 01:11] #240 closed, assigned to dantheta

[2019-03-20 01:12] dantheta commented on #234
The "Aimed at children" category can now be created and added to sites as a secondary category.

[2019-03-20 01:36] dantheta commented on #241
fixed and mobile options are working.  BT-Strict is inflating the fixed counts quite a bit.

[2019-03-20 01:37] dantheta opened #242 "Add search & list filter for .uk TLD"
Spun out from #241.

[2019-03-20 01:39] dantheta commented on #233
Seems to be working consistently.  Please feel free to re-open or file a new bug if it isn't working as expected.

[2019-03-20 01:39] #233 closed, assigned to dantheta, edjw, alexhaydock

[2019-03-20 01:40] dantheta commented on #230
Is this working OK?

[2019-03-20 08:04] JimKillock commented on #230
We think so!

[2019-03-20 09:43] JimKillock commented on #186
It would be helpful to get this done this cycle, I suspect the problem will become obvious or noticed once the report is done, if certain mistakes / reports are noticed by people.

[2019-03-20 11:16] JimKillock opened #243 "Create saved list from import"
Hi Dan,

If it is easy, could we have a feature to create a saved list from import in the admin section?

We have 4-5 lists we would ideally add to Blocked. If this is easier than asking you to ad the data directly to the database, then the feature would be handy.

[2019-03-20 21:50] #230 closed, assigned to nobody

[2019-03-20 22:39] dantheta commented on #239
I've created a list of the sites blocked only on BT-Strict.

https://docs.google.com/spreadsheets/d/1LHLVQj7ozERmqbrf7ggORZ0t99_LyLnYdmy2JO1q9SA/

Let me know if you're happy for me to go ahead with the removal (apart from the lists Alex specified).

[2019-03-20 23:06] dantheta commented on #243
The savedlists admin screen now has an "Add/upload list" button.  The linked form allows a new list to be created.  The form accepts a list name and a file upload.

The file should be plain text, one URL per line.  Uploaded URLs are normalized according to the normal URL rules.

The list is initially created as non-public and non-frontpage, though this can be toggled after creation.

If the list i

[2019-03-21 08:09] JimKillock commented on #239
@edjw We will need to think about this carefully given where we are at now. We should do it, but it would change the report figures quite a bit.

[2019-03-21 09:29] JimKillock commented on #239
Thanks, I think we're likely to want to make the calculations before we do anything. If we can make the calculations non-destructively via the filtering, that's the best option.

Note, the original request was for a filter rather than a sweep! Maybe this can be covered in the other ticket?

[2019-03-21 09:33] edjw commented on #239
@dantheta - If possible, could you set up this filtering functionality today so we can look at the numbers by tomorrow morning (Friday)?

[2019-03-21 16:56] edjw commented on #243
Thanks Dan. I've set up some of those now. This is an example: https://www.blocked.org.uk/list/2019_report_all_charities

The import worked fine. The title field isn't populated. And the labels for 'Unblocked' and 'Reported' aren't there either

[2019-03-21 17:04] dantheta commented on #243
Reported and unblocked will be filled in when the refresh runs overnight (or Sunday morning)

Title I'm not sure ... I'll need to check.

On 21 March 2019 16:56:56 GMT, edjw <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-03-21 23:53] dantheta commented on #239
Exclude BT-Strict filter is now available on the saved lists summary page.  Filtering to just one ISP is available on the lists summary page, the list contents page and the search engine.

The bt-strict exclude is cached, because the query takes quite a while to run.

[2019-03-22 00:22] dantheta commented on #239
Exclude filter is also now available on the list items page.  Not sure it makes quite as much sense there, as items which are not blocked on BT-Strict and items which are blocked on networks other than BT-Strict are still shown.

[2019-03-22 00:25] dantheta commented on #239
This one got a little bit complicated - please let me know if there's anything conspicuously missing.

The search network exclusion is a bit trickier; if a negative critera ('BT-Strict' in blocking networks) is applied, it will filter out any URLs which are blocked on BT-Strict.  What we'd really want it to do is include all URLs except those which are blocked _only_ on BT-Strict.  In the meantime

[2019-03-22 08:06] JimKillock commented on #239
Yes I see what you mean. I think the answer would be to have a positive filter, for the same result, eg:

Virgin + BT Light filter + Sky + TT

MNOs

Virgin + BT Light filter + Sky + TT + MNOs

[2019-03-22 08:14] JimKillock commented on #241
Hi Dan, reviewing this ticket, and #239 – we were hoping, to complete the report this morning, to be able to:

(1) Filter the lists by ISP group, eg all MNOs (Vodafone, O2, Three, EE)

(2) Filter by Fixed line without BT-Strict (BT Light, Sky, TT, Virgin)

(3) Filter by MNOs + Fixed line without BT-Strict

(4) Filter the results above for .uk domains only

Is that possible at this stage? We may ha

[2019-03-22 08:51] dantheta commented on #241
I can switch the network filter to a set of checkboxes instead of
include/exclude links.  Is this needed for the lists summary page, the
list detail pages or both?

Ed has already created .uk versions of some of the lists, which can then
be filtered by ISP.

[2019-03-22 08:52] JimKillock commented on #241
Checkboxes would work for sure.

.uk would still be very handy if even if it can’t be done today / right now.

[2019-03-22 09:02] edjw commented on #241
The .uk lists I made were manually imported lists from Simon’s curated list of .uk sites.

They’re the top ones here: https://www.blocked.org.uk/lists <https://www.blocked.org.uk/lists>

–––––
Ed Johnson-Williams

[2019-03-22 09:39] JimKillock commented on #241
Understood. I would still like to have the .uk filter though.

[2019-03-26 09:22] JimKillock opened #244 "Bug: "See another block site" link"
This is leading to the report for the *same* site's report, rather than a random blocked-on-list website report.

[2019-03-26 09:25] JimKillock opened #245 "Merge "sites" and "lists" page"
I think it would make sense to put the whole of the content on the lists page below the search on the https://www.blocked.org.uk/sites page.

The lists and the associated stats give a good idea of what kinds of things can be found.

[2019-03-26 09:36] dantheta commented on #244
Not quite -

The /next/ URL does contain the name of the current entry.  It's a
little counter-intuitive, but when a user visits that, the site looks up
the *next* item in the list and displays that.

Example:

Frontpage shows carmenperez.org in the "help unblock this site" region.
The "try another" link points to /next/www.carmenperez.org.

When the user follows that link, they are shown the site

[2019-03-26 09:36] JimKillock opened #246 "Bug: "The domains in these categories were identified by keyword searches.""
Kind of a bug: these tables are displaying results including BT Strict in the counts. For the published report, we excluded these.

Can we exclude BT Strict from the tables presented here?

[2019-03-26 09:50] JimKillock commented on #244
Great, so long as it works that's fine for now!

[2019-03-26 09:52] edjw commented on #245
Yes I agree that would be good

[2019-03-26 09:52] JimKillock opened #247 "ISP Blocks by domain: add .com"
The set of tables here should include .com as we've tested a significant portion of that.

[2019-03-26 09:57] edjw commented on #247
In this chart: https://www.blocked.org.uk/stats#ispblocks

This should say "ISP Blocks by top-level domain" not "ISP Blocks by domain" right?

[2019-03-26 21:39] dantheta commented on #246
I've regenerated the data for the second table.  The first one checks out OK, with only a small amount of drift since the snapshot was taken.

[2019-03-26 21:42] #246 closed, assigned to dantheta, edjw

[2019-03-26 21:54] dantheta commented on #244
New URL is now in use.

[2019-03-26 21:54] #244 closed, assigned to dantheta, edjw

[2019-03-26 23:42] dantheta commented on #243
Titles aren't currently added on import, as these are normally imported from the search engine.  I'll add a new ticket to get the title for a URL copied when the weekly refresh is happening.

[2019-03-26 23:43] dantheta opened #248 "Copy titles to savedlist item when running weekly refresh"
Imported lists don't have the title field populated (#243 )

[2019-03-26 23:43] #243 closed, assigned to dantheta, edjw

[2019-03-27 09:09] JimKillock commented on #247
I think this is done; could I request that the stats remove ISPs without filters in these lists? The graphs are hard to read with all of the blank ISP lines.

[2019-03-27 09:23] JimKillock opened #249 "Report stats "Not only adult content is being blocked""
The tables are here showing stats including BT Strict; this is different to the methodology we use in the report, so we need this to calculate for just fixed default lines + mobile lines.

Apols if this is a duplicate; I couldn't find the ticket I thought I'd raised yesterday.

[2019-03-27 09:59] dantheta commented on #249
This should be done - yesterdays ticket was #246

The first table was OK, the second was updated to exclude bt-strict.

[2019-03-27 10:08] JimKillock commented on #249
Thanks Dan, yes, I forget that the initial list is still taking account of all ISPs, but that's harder to fix.

[2019-03-27 10:08] #249 closed, assigned to dantheta, edjw

[2019-03-27 10:25] JimKillock opened #250 "Privacy policy"
A late but important addition: we need a specific privacy policy that describes how data is used on the site,

[2019-03-27 10:30] JimKillock commented on #237
Flagging that this would ideally be done soon, in case we get a flurry of complaints

[2019-03-27 10:34] JimKillock opened #251 "Help unblock this website block"
I would like us to:

simplify this down to 2-3 items, being:

"Is this block wrong?"
Site name and description, with active link
Two buttons, "report site", and "see another site"

Move this in much reduced for to underneath "More ways to check blocked sites"

[2019-03-27 10:56] JimKillock opened #252 "Feed from "Add to frontend site "featured blocks".""
In the report review block, we have prioritised sites to be shown somewhere as particularly bad blocks, by selecting:

* Add to frontend site "featured blocks".

Can we add a feed of these sites to the "your stories page somewhere?

Ed, could you think about how this would be best presented?

[2019-03-27 12:39] JimKillock commented on #239
The filters we have are great: could we have a final filter, for both fixed and mobile, but not BT Strict? This would just save time selecting the options one by one.

[2019-03-27 12:51] dantheta commented on #239
I had one more idea too - "invert", to invert the selected filter.  Using exclude was performance poison (due to not using an index and the creation of a massive temporary table), but having the frontend manipulate the list works really quickly.

[2019-03-27 13:48] JimKillock commented on #239
I don't mind how it is done, but the logic has to reflect that we *only exclude* sites where BT Strict is the *only* block :)

[2019-03-27 20:49] dantheta commented on #247
zero-block entries have been removed from the ISP graphs, and they are now slightly taller to give more space to the axis labels.

[2019-03-27 22:55] JimKillock commented on #247
Thanks Dan, is this counting copyright blocks perhaps? It looks that way as unfiltered networks are still being displayed.

If copyright blocks are included / counted, I would exclude those, as these stats are presented in the context of the filtering systems.

[2019-03-27 23:15] dantheta commented on #247
Yes - I'm regenerating the domain stats now.

[2019-03-27 23:17] JimKillock commented on #250
@edjw I've mentioned this to Martha as something she should help with.

[2019-03-28 02:25] dantheta commented on #250
If a modx resource is created under the same "feed" folder as the others, I can plumb it into the frontend as a CMS page.  It just needs to have filetype XML and use the template BlockedContent1x3, similar to the about page (9747)

[2019-03-29 10:16] JimKillock commented on #247
Hi Dan, the domain stats aren't looking right to me yet, so I'm reopening this.

[2019-04-01 23:42] dantheta commented on #247
It does appear that we've had some parental-control blocks appearing sporadically on one or two of the unfiltered lines.  I'll update the selection criteria for the charts to stop those appearing.

[2019-04-02 10:06] JimKillock opened #253 "Bug: Front page stats at zero"
Some of the stats about reporting are showing a zero.

[2019-04-02 12:06] dantheta commented on #253
Fixed

On 2 April 2019 11:06:58 BST, JimKillock <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-02 21:27] dantheta commented on #237
I've added the "please do not aggregate replies" message for VM, and there is now a checkbox on the unblock form to allow admins to opt for a random name, so that we can trial it before wider use.

At the moment, the random name is selected each time a report is submitted, and is used in all of the ISP emails for that site.  It isn't currently restricted to just VM.

There are about 200 random nam

[2019-04-02 23:59] #253 closed, assigned to dantheta

[2019-04-09 22:44] dantheta commented on #247
The graphs are regenerating now with new ISP selection active.

[2019-04-09 22:44] #247 closed, assigned to dantheta, edjw

[2019-04-11 14:05] JimKillock opened #254 "Publish ISP responses"
From a particular date, we should start publishing ISP responses. This made need some warnings to be added to the front end also.

this was due to be part of the 2019 project but isn't a priority for launch.

[2019-04-15 14:40] JimKillock commented on #186
How goes with this one?

[2019-04-15 14:46] JimKillock commented on #237
This seems to be working well for admins. I wonder though how it would seem to front end users. It would need explanation. Maybe if Virgin's behaviour improves we can keep the feature just for admins (it's useful to appear like Joe Random in any case).

[2019-04-15 22:21] dantheta commented on #237
I've been thinking about the public user case a bit.  There have been some entries where the user has included their real name in the comment section.  Having an email name that conflicts with that would look very weird.  In cases where the site owner is raising a complaint (and includes their name & relationship-to-site in the comment field), we would lose a lot of the impact if we were to mask t

[2019-04-16 06:43] JimKillock commented on #237
Perhaps for end users we could simply remove the name for Virgin Media and "Blocked User No 1234"?

That would not require explanation, etc. Occasionally it would lose impact for Virgin. However as they are slowest, this does not matter much.

This would depend on treating the email 'from' line slightly differently per ISP.

[2019-04-16 23:26] dantheta commented on #245
This is done.  The network filtering on the savedsearch screen interacts slightly with the network dropdown in the search form, but this only affects administrators.

This is only because they started off using the same query string parameter - it's not a deliberate entanglement.

[2019-04-17 20:48] dantheta commented on #219
I'll close this one, if that's OK.  If more requirements for the category status report emerge, feel free to reopen/submit new.

[2019-04-17 20:48] #219 closed, assigned to edjw, alexhaydock

[2019-04-17 23:49] dantheta commented on #186
A basic version is online now.  The option buttons on the ISP reports control panel page have been condensed into an actions menu for each row, since there wasn't quite enough horizontal space.

There are two new options: "Cancel report and resend", and for reports which are already cancelled, simple "Resend".  Selecting thee options will clear the previous ISP report and redirect the user to the

[2019-04-17 23:50] dantheta commented on #186
These options currently work for reports in the 'new' or 'pending' state; a little more adaptation is required to allow the cancellation of reports in the "awaiting user verification" state.

[2019-04-22 00:22] dantheta commented on #186
The cancel & resent options are now available for reports that are awaiting user verification.

[2019-04-24 21:20] dantheta commented on #201
Loaded and processing through the test scheduler.

[2019-04-24 21:20] #201 closed, assigned to nobody

[2019-04-24 23:54] dantheta commented on #237
Looking at the most recent Virgin Media responses, I think they've understood that each email/report/url is a separate case.  There are still a lot of reports that they haven't responded to at all, but they haven't combined responses since June 2018.  Using the intermediate reply-*@blocked.org.uk seems to have fixed things there.

[2019-04-25 07:38] JimKillock commented on #237
They did merge a bunch of requests I had made in January. They saw my real email from a different source, and then merged the reply. So for me it's a bit of an open question!

On another note, the random name feature could be useful for other bulk filing reports, for instance relating to VPNs or CBD sites for review, should we wish to do that.

[2019-04-25 21:53] dantheta commented on #199
Imported and testing now.

[2019-04-25 21:53] #199 closed, assigned to dantheta

[2019-04-26 23:44] dantheta commented on #202
Lee has already loaded these.  Many thanks!

[2019-04-26 23:44] #202 closed, assigned to dantheta

[2019-05-13 22:52] dantheta commented on #252
I've got the plumbing set up for this one.  Did we have any thoughts on layout?  I can add a condensed link box to the right of the "Personal Stories" page heading, if that sounds OK?

[2019-05-14 00:27] dantheta commented on #251
This is done now.  I've removed the list of blocking ISPs from this region, but it can be brought back if needed.

[2019-05-14 01:28] dantheta commented on #248
Existing imported lists have had their titles fixed up by hand.  New imported lists will copy the site title from the URL record in the main blocked system (if available).

[2019-05-14 01:28] #248 closed, assigned to nobody

[2019-05-14 01:31] dantheta commented on #235
The stats section was removed in one of the other tickets, I think.  The page just contains the reported sites list.

[2019-05-14 01:31] #235 closed, assigned to dantheta

[2019-05-14 01:36] dantheta commented on #194
Nope, I don't think so.

[2019-05-14 01:36] #194 closed, assigned to dantheta, edjw

[2019-05-14 08:02] edjw commented on #252
What content do we have to present here?

[2019-05-15 20:37] dantheta commented on #252
We've got all the normal fields from an ISP report: URL, reporter name & email, comment, plus annotations & categories that Alex has added.

[2019-05-18 22:00] #228 closed, assigned to dantheta

[2019-05-26 11:57] dantheta commented on #208
These values are now being stored properly.

[2019-05-26 11:57] #208 closed, assigned to dantheta

[2019-05-26 11:58] #251 closed, assigned to dantheta, edjw

[2019-05-26 12:01] #175 closed, assigned to dantheta

[2019-05-26 12:04] #113 closed, assigned to nobody

[2019-05-26 12:05] dantheta commented on #111
This is taken care of in the new frontend.

[2019-05-26 12:05] #111 closed, assigned to nobody

[2019-05-26 12:06] dantheta commented on #85
This is taken care of in the new frontend.

[2019-05-26 12:06] #85 closed, assigned to nobody

[2019-05-26 12:06] dantheta commented on #55
This is taken care of in the new frontend.

[2019-05-26 12:06] #55 closed, assigned to nobody

[2019-05-26 12:07] #245 closed, assigned to dantheta, edjw

[2019-05-30 20:23] edjw commented on #186
Sorry catching up on this. I think some of the features here are done and some aren't. I may be wrong though.

I think this is the way @JimKillock suggested it works and that makes sense to me too.

@dantheta – Could you maybe give me the rundown on which of these features are done and which aren't?

1. Every night / every Sunday night (I don't mind), the system checks if there are any 'Unsent' re

[2019-05-30 20:25] edjw commented on #254
@dantheta – Are ISP responses available to the frontend at the moment?

[2019-05-30 20:28] edjw commented on #252
Ok, so we should also be selecting reports where the comment is suitable for the frontend as well.

@dantheta – Would you be able to export a CSV for me with all those fields for the reports that are tagged as featured?

[2019-05-30 20:31] edjw commented on #242
If I'm reading the code right, we have this in the backend now but not the frontend of the admin area? Is that right?

Can we make it available on the admin area of the frontend as well?

[2019-05-30 20:33] edjw commented on #234
Can this be closed?

[2019-05-30 20:33] edjw commented on #214
Can this be closed now?

[2019-05-30 20:34] edjw commented on #215
@JimKillock – I remember you saying you'd had some useful conversations about how we might set this up in a constructive way. Do you want to write that down here?

[2019-05-30 20:36] edjw commented on #204
@dantheta – Can we implement this? How big a job is this?

[2019-05-30 20:38] edjw commented on #71
@dantheta – Is this still an issue? If it is we should deal with it! If it's not, let's close this.

[2019-05-30 20:56] edjw commented on #250
@dantheta – This is in ModX now as resource 10312. I called it 'How Blocked uses data'.

[2019-05-30 22:43] dantheta commented on #234
Yep, I think so.

[2019-05-30 22:43] #234 closed, assigned to dantheta, edjw, alexhaydock

[2019-05-31 06:10] JimKillock commented on #215
I think we can start with this as is. The issues would start if we were 'bulk processing' complaints eg of wedding sites.

[2019-05-31 09:09] dantheta commented on #250
I've updated the footer link.  The content in the ModX resource has been moved from banner_text to TextAreaOne (so that it appears in the right page region).  Hope that's OK!

[2019-05-31 09:12] dantheta commented on #71
This is taken care of by MarkupSafe in the new frontend, so I think it's OK now.

[2019-05-31 09:12] #71 closed, assigned to nobody

[2019-05-31 09:13] dantheta commented on #214
Yep.  The data was generated as a one off, but I've got the scripts that can be used to re-run the lists should we want to revisit these (or run them as monthly reports or something)

[2019-05-31 09:27] dantheta commented on #214
Reverted

[2019-05-31 09:28] #214 closed, assigned to dantheta, edjw, alexhaydock

[2019-06-01 12:19] dantheta commented on #186
I've added a wiki page with the ISP report workflow here:

https://github.com/openrightsgroup/Blocking-Middleware/wiki/ISP-Report-submission-process
1 - already covered.
At the moment, the only automated cancellation of reports is done by the resend-verification or when a URL has already been unblocked between report submission and retesting.

2 - not required
Cancelling a report when it's in the

[2019-06-02 13:10] dantheta commented on #193
I've added an ISP report state diagram here:

https://github.com/openrightsgroup/Blocking-Middleware/wiki/ISP-Report-submission-process

The flag button marks the ISP report with the status "Abuse".  It's intended to immediately halt processing of the ISP report (closing it), and to ensure that it can't count towards the unblocked or rejected statistics.  The URL would not be reportable against th

[2019-06-03 09:26] edjw opened #255 "Leading spaces in site checking aren't being removed"
If you type a space before the URL or you paste in a URL with a space before it into the Unblock your website form it goes like this below

![CleanShot 2019-06-03 at 10 21 39](https://user-images.githubusercontent.com/6547979/58791080-76e36900-85e9-11e9-8036-e4078fbea37d.gif)

We should probably strip spaces before they start being processed

[2019-06-03 20:12] dantheta commented on #255
Added a whitespace strip before the frontend checks that the protocol is present.

[2019-06-03 20:12] #255 closed, assigned to dantheta, edjw

[2019-06-04 15:18] edjw opened #256 "Epic test"
Testing an epic

[2019-06-04 15:19] #256 closed, assigned to nobody

[2019-06-04 16:41] edjw commented on #239
@dantheta – What's the status of this issue Dan?

[2019-06-04 16:48] #207 closed, assigned to nobody

[2019-06-04 17:04] edjw commented on #186
Ok great. Can we add those options to filter by 'Unsent' and sort by age descending and ascending?

[2019-06-04 21:48] dantheta commented on #239
Excluding BT-Strict is possible on each of the lists pages (like https://www.blocked.org.uk/list/2019_report_all_lqbtq?status=&exclude=1&network=BT-Strict).

Excluding ISPs in keyword search isn't currently exposed in the frontend, but it is pretty much the same piece of work as openrightsgroup/blocked-org-uk#383.

[2019-06-04 23:45] dantheta commented on #241
Hmm, #242 already covers the TLD filter options.  I don't think there's anything else to add for this issue.

[2019-06-05 10:14] #241 closed, assigned to dantheta

[2019-06-05 14:20] edjw commented on #124
This is done because we provide probes now. Closing

[2019-06-05 14:20] #124 closed, assigned to nobody

[2019-06-05 14:21] edjw commented on #119
Can we close this @dantheta?

[2019-06-05 14:23] edjw commented on #116
That site doesn't run any more so I'm closing this

[2019-06-05 14:23] #116 closed, assigned to nobody

[2019-06-05 14:23] edjw commented on #110
This is happening now

[2019-06-05 14:24] edjw commented on #105
We put the date a check was done on the frontend now

[2019-06-05 14:24] #105 closed, assigned to nobody

[2019-06-05 21:58] dantheta commented on #119
I think so - we didn't go as far as importing rich structured data relating to a URL, but we do have more flexible set membership information (allowing a URL to belong to multiple source collections) which achieves some of the same things.  We've also massively scaled up the number of URLs in the system, so curating structured data for collections of URLs becomes quite a bit more taxing.  Hope tha

[2019-06-05 21:58] #119 closed, assigned to nobody

[2019-06-05 21:59] dantheta commented on #110
Yep.

[2019-06-05 21:59] #110 closed, assigned to nobody

[2019-06-05 22:02] dantheta commented on #184
The egregious block field is present in the backend, but we're not currently using it anywhere in the frontend.  Perhaps they could be considered a superset of the "featured blocks" set.

[2019-06-07 14:10] #193 closed, assigned to dantheta, edjw

[2019-06-07 14:11] #237 closed, assigned to dantheta, edjw, alexhaydock

[2019-06-07 18:27] edjw commented on #52
@dantheta Does this happen now? Can we close this?

[2019-06-10 23:27] dantheta commented on #239
The search index has been cleared of entries which are blocked on bt-strict only, and is now updating to the new format which includes TLD.

next-site suggestions based on category should be clear of BT-Strict only as well, but we'll have to see how well that's working with a few tests.

[2019-07-03 23:16] dantheta commented on #186
These last two features have been added.  The new filter tab is titled "To resubmit".
The sort order link is shown at the top of the created column.
The ISP reports listing template has been quite extensively refactored too.

[2019-08-18 13:41] dantheta opened #257 "Extend rule capabilities in domain blacklist"
Continuing from openrightsgroup/blocked-org-uk#402

We could also extend the domain blacklist feature to support exclusions to the broader patterns.  For instance:

`.*porn` is a pattern blocked by the submission filter, but (for example), `.*factsboutporn` (a hypothetical public information site) might be something that should be submittable.

The submission filter could be modified to accept `al

[2019-08-25 19:51] dantheta commented on #215
Ready for release during the next week.  I'll send one check (mentioning that it's us in the comment) to make sure the form submission works OK.

They aren't using a captcha on the form, but there is a CSRF token embedded in there.

[2019-09-23 16:18] dantheta opened #258 "Store full request/response info in probe response"
Part of https://github.com/openrightsgroup/Blocked-Roadmap/issues/34

[2019-09-24 11:01] #258 closed, assigned to nobody

[2019-09-24 11:01] dantheta opened #259 "Store full request/response info from result recorder"
Part of https://github.com/openrightsgroup/Blocked-Roadmap/issues/34

[2019-10-07 16:07] edjw opened #260 "Allow admin user to see all candidates for BBFC complaints"
(Roll this into #215 if you like @dantheta)

Can we have a page/filter/something where admin users can see all the possible candidates for submission to the BBFC complaints form?

Without this, I can see it being quite hard to find our first submissions

[2019-10-30 12:19] alexhaydock opened #261 "Interesting results for IWF/CTIRU canary domains"
Both the IWF and CTIRU seem to maintain canary domains on their filter lists for use with [this project](http://testfiltering.com/) I found via the UK Safer Internet Centre [guidelines on appropriate filtering and monitoring](https://www.saferinternet.org.uk/advice-centre/teachers-and-school-staff/appropriate-filtering-and-monitoring).

When I run them through Blocked though, the domains are not r

[2019-10-30 12:39] gwire commented on #261
I think the most likely reason is that the "block" identifying code doesn't include patterns for IWF and CTIRU blocks, since neither have been a focus of the project. If a request responds with a `200` status, it looks OK unless it matches the property of known block pages.

[2019-10-30 12:43] alexhaydock commented on #261
This makes sense, though my understanding was that if the domain was blocked the way I had thought the IWF/CTIRU filters worked, then it would never get to the stage of getting a HTTP 200 back. Even if the Blocked tool wouldn't recognise it as a block if a block page wasn't returned, I'd still expect a timeout or similar rather than a success?

[2019-10-30 20:36] dantheta commented on #261
Our test lines don't seem to have the ctiru filter active.  The IWF test page returns a 403 on pages which have IWF filtering active.  We'd previously decided against adding a detection pattern for IWF-filtered pages, and given the subject material I think that's definitely right.  Should we detect and record CTIRU responses?

[2019-10-31 09:33] alexhaydock commented on #261
I mostly opened this issue to find out what was going on on the backend so thanks @dantheta - makes sense!

Totally understand the position Re: IWF, though I personally think it'd be interesting to detect and record the CTIRU responses, even if only done internally for now. I guess that's @JimKillock's call though.

[2019-10-31 09:35] JimKillock commented on #261
The issue with CTIRU is that the list will not be distinguishable. As you can see from the CTIRU canary links, you just get the standard filter block pages.

AIUI the CTIRU blocks are not applied to non-filtered networks.

[2019-10-31 09:45] alexhaydock commented on #261
Slightly dated source now, but yes I'm forgetting that the CTIRU filter list isn't applied widely like the IWF one:

I guess we don't have any network lines which will have those kinds of filters active.

[2019-11-01 08:44] JimKillock commented on #261
Even where we do have access to a line with CTIRU lists added, you cannot tell what is blocked due to the CTIRU list. There is no transparency anywhere AIUI.

It looks from our results that the main ISP filters incorporate the CTIRU list, for instance.

The canary presumably just serves to show a user that the CTIRU list has been incorporated, or not.

No result, even on the government estate will

[2020-04-01 18:32] edjw opened #262 "Test Cloudflare’s 1.1.1.1 for Families"
Cloudflare has [introduced 1.1.1.1 for Families](https://twitter.com/cloudflare/status/1245335359413719041). It’s a DNS revolver run by Cloudflare that lets you block malware and adult content.

Malware and Adult Content
Primary DNS: 1.1.1.3
Secondary DNS: 1.0.0.3

There are already [reports of overblocking](https://twitter.com/sarahjamielewis/status/1245374377757040640?s=21)

[2020-04-01 18:36] alexhaydock commented on #262
Do we have any way of generating a CSV or such of all the sites which have been previously blocked on Blocked.org.uk and later unblocked after a user report?

I'm bored so I could run them all through this new service and look at which ones it blocks. It's quick and dirty but it might turn up some interesting stuff.

[2020-04-01 18:46] gwire commented on #262
I've suggested it to Daniel, earlier on the dev channel.

We may be able to use the DoH facility as an API - I believe DNS Status 5 is a blocked site.

[code]

[2020-04-01 19:06] JimKillock commented on #262
Agree with Alex’s suggestion, that is low hanging fruit.

@gwire suggest we purchase a domain for Cloudflare / other generic (global reach) filter checking.

We also need to check what Cloudflare say their procedure is, whether they have an email address for complaints etc.

I will dig through my email to see if I can find an email for Cloudflare’s policy people to ask.

[2020-04-02 00:48] dantheta commented on #262
I've added a quick proof of concept probe, pending integration into the main probe, and I've sent the unblocked URLs to it for testing.

So far it doesn't seem to be blocking very many of those, though I'm seeing quite a high error rate from it.

Looking at their DoH docs, it may be possible for status value 5 to be emitted under circumstances other than a blocked site, but I'm not sure what those

[2020-04-02 00:48] #262 closed, assigned to dantheta

[2020-04-02 00:49] dantheta opened #263 "Integrate cloudflare test into main probe"
Related: #262

[2020-04-02 12:09] edjw commented on #262
Low numbers of blocks may be because they worked to fix some overblocking very quickly

https://blog.cloudflare.com/the-mistake-that-caused-1-1-1-3-to-block-lgbtqia-sites-today/

[2020-05-20 10:12] JimKillock opened #264 "Obscure public email addresses"
I think on the email responses that are now visible to admins, we should remove / obscure all of the addresses when these are public. They are a temptation for abuse and there is no real reason for them to be show.

[2020-09-15 18:59] edjw opened #265 "HTTP Archive data"
Have you seen HTTP Archive for a potential data source?

https://github.com/HTTPArchive/httparchive.org/blob/master/docs/gettingstarted_bigquery.md

[2020-12-09 23:29] #264 closed, assigned to nobody

[2021-02-28 21:47] dantheta commented on #192
Implemented.

[2021-02-28 21:47] #192 closed, assigned to dantheta, edjw

[2021-05-08 20:40] #261 closed, assigned to nobody